[2021-02-28 05:17] Abhijay007 commented on #563
thanks 👍

[2021-02-28 09:48] sanjay270899 commented on #563
@smaranjitghose I have total 1000 Points for MWOC.
100 Points => 9 PRs
50 Points => 2 PRs

https://github.com/smaranjitghose/doc2pen/pulls?q=is%3Apr+is%3Aclosed+author%3Asanjay270899+label%3AMWOC

[2021-02-28 10:03] Abhijay007 commented on #563
@sanjay270899 can you please tell me how to make this link 😄

[2021-02-28 19:05] Abhijay007 commented on #563
@smaranjitghose I have total  925 Points for MWOC

100 Points => 8 PRs [here](https://github.com/smaranjitghose/awesome-portfolio-websites/pulls?q=is%3Apr+author%3A%40me+is%3Aclosed+label%3Auser%3DAbhijay007%3Ascore%3D100)

50 Points => 2 PRs [here](https://github.com/smaranjitghose/awesome-portfolio-websites/pulls?q=is%3Apr+author%3A%40me+is%3Aclosed+label%3Auser%3DAbhijay007%3Ascore%3D50)

25 Po

[2021-02-28 19:11] smaranjitghose commented on #563
Can you post this in the discord of MWOC once and tag me or @anushbhatia

[2021-02-28 19:12] smaranjitghose commented on #563
@sanjay270899 @ashuvssut you all too if there is anything left out

[2021-02-28 19:17] Abhijay007 commented on #563
ok sir

[2021-03-03 12:44] akshitadixit opened #565 "Few issues with the font styling"
1. As can be seen in the image below the capital A just looks like a resized version of the small a.

![image](https://user-images.githubusercontent.com/56997545/109807597-1f55af80-7c4c-11eb-99bd-a986efb8f34b.png)

2. To make the handwriting look as possibly close to real life as it can be, doc2pen should detect all caps letters that are placed together to not change into cursive as shown in the i

[2021-03-03 13:50] vedant-jain03 commented on #512
I have gone throw your requirements and I think that I can fix this issue.
Please assign me so that I can work on this.

[2021-03-03 13:53] vedant-jain03 commented on #499
I have gone through the main website and I think the navbar should have some different styling and I have my own portfolio, and I have also worked on different websites so I think I can work on this issue.
Please assign me so that I can start working on this.

[2021-03-04 04:00] smaranjitghose commented on #565
I agree.

We are planning to make custom fonts as a workaround for this as well. Would you be interested to contribute to that as well?

[2021-03-04 04:03] smaranjitghose commented on #499
Could you please raise a new issue with an elaborate  description of the UI change you are proposing

[2021-03-04 04:03] #499 closed

[2021-03-04 04:06] smaranjitghose commented on #512
Sure.
Does 4 days sound good for an initial PR?

[2021-03-04 04:54] akshitadixit commented on #565
Yes definitely. Kindly guide me around.

[2021-03-04 05:46] vedant-jain03 commented on #512
Yes 4 days are enough for this  and also Thanks a lot for assigning me this issue.
I also have one query that should I make PR after 8 march or before also it will count a point in GSSOC.

[2021-03-04 05:58] vedant-jain03 opened #567 "Change the styling of Navbar"
Navbar is the navigation bar up in the website.
->Change the styling of content of navbar
->Add animations in logo

[2021-03-04 05:59] #567 closed

[2021-03-04 14:48] smaranjitghose commented on #512
Sure, then start the work from now. Give the PR after 8th. This way you would have a headstart

[2021-03-04 14:49] smaranjitghose commented on #565
@akshitadixit could you please check out #516

[2021-03-04 15:04] akshitadixit commented on #565
Yes understood, thank you. Working on this.

[2021-03-04 16:38] vedant-jain03 commented on #512
Okhay I have started working on this.
Once again thanks a lot for assigning me✌

[2021-03-07 13:30] bitaashna commented on #517
I would like to work on it as a part of GSSoC'21.
can you please assign it to me.

[2021-03-07 13:56] vedant-jain03 commented on #512
Hey, @smaranjitghose I have started working on this issue and I just need to know the directory or png file of your favicon

[2021-03-08 06:04] vedant-jain03 commented on #512
![bandicam 2021-03-08 11-31-36-163](https://user-images.githubusercontent.com/76901313/110281031-e3cb3480-8001-11eb-8f85-dcc65d6cf30e.jpg)

@smaranjitghose  I Have done the animation part of it. I want to know that if this combination is good?
I have involved:
->Logo(pen)
->Doc2pen(name of org.)
as you have mentioned in the issue
I have changed the color of the pen into sea green as well.
If it so

[2021-03-08 12:30] akshitadixit commented on #565
@smaranjitghose could u please confirm that all I submit in the PR is a ttf file?

[2021-03-08 14:34] Riya764 commented on #556
Can I work on this as part of GSSOC'21 ?

[2021-03-08 16:38] sanjay270899 commented on #556
@Riya764 Label Part is over. You can work on finding new good looking icons.

[2021-03-08 17:27] subhangi2731 commented on #513
can you please assign this issue to me?

[2021-03-08 17:28] subhangi2731 commented on #516
can you please assign this issue to me?

[2021-03-08 17:38] smaranjitghose commented on #565
Yup

[2021-03-08 17:39] smaranjitghose commented on #556
In case you do so, raise a new issue please

[2021-03-08 17:39] #556 closed

[2021-03-08 17:39] stuti-ui commented on #516
Hi, Can you please assign this issue to me?

[2021-03-08 17:40] smaranjitghose commented on #516
Do read the Requirements above carefully before giving a PR

[2021-03-09 04:35] akshitadixit commented on #565
It's almost done @mpriti23 thank you for the help :)

[2021-03-09 11:12] kokilgupta opened #572 "Issues in Font size, style and color"
Currently Doc2pen doesn't allow us to select a part of the text and change it's color or style. If we try to change some part of the text it'll change whole text's styling.

I would like to work on this issue.

[2021-03-09 11:24] Sakshi0401 commented on #429
As a GSSOC'21 Participant I would like to contribute to this. could you please assign this to me?
@smaranjitghose

[2021-03-09 11:26] srisatya1197 commented on #572
I want to contribute to this issue. Please assign me this task as a part of GSSoC'21

[2021-03-09 15:16] smaranjitghose commented on #565
Irrespective of this issue, feel free to contribute to #516

[2021-03-09 15:17] smaranjitghose commented on #429
Sure. Could you please raise a new issue for this. So that it does not conflict when I assign you the points for GSSOC

[2021-03-09 15:17] #429 closed

[2021-03-09 15:19] #572 closed

[2021-03-09 15:26] smaranjitghose commented on #512
Will be addressed in the PR😊

[2021-03-09 16:11] AakankshaKamal opened #574 "UI update and adding multicolor themes to webpage"
I would like to work on the UI ,and add multicolor themes,as a GSSOC 21 participant.Please assign me this .

[2021-03-09 17:06] Sakshi0401 commented on #429
sure. Thank you.

[2021-03-09 17:08] Sakshi0401 opened #575 "[GSSOC'21] Option for multicolor in sketch."
@smaranjitghose There should be an option for multicolor. As a GSSOC'21 participant I would like to work upon this issue. Could you please assign this to me?

[2021-03-09 19:50] shalmoly79 opened #576 "Adding a Testimonials section for a quick impression."
Hello doc2pen, I am a GSSOC'21 participant. There is a common proverb that says "You only get one chance to make a first impression.". A testimonials section on how users got benefitted using doc2pen will create further reach, add legitimacy to this website and will help attracting target audiences. If you find this issue helpful, please grant me the chance to contribute to this awesome project. T

[2021-03-10 15:46] chanchalap06 commented on #516
Can I work on this issue

[2021-03-10 17:14] #565 closed

[2021-03-10 18:36] Nishayadav-bit commented on #516
Hey ! Can you please assign this issue to me ?

[2021-03-10 18:43] neha-baisane opened #578 "Change the logo design"
The current logo is quite unattractive . As a GSSOC'21 participant I would like to change the logo so that user will get idea what exactly the we app is all about by just looking at the logo.

[2021-03-10 19:43] Priyanshu-U opened #579 "Improving Documentation (README.md)"
I would like to improve the structure, formatting, and basic grammar of the documentation (README.md). Could you please assign it to me under the GSSoC'21 program?

[2021-03-10 19:53] ashuvssut opened #580 "'generating pdf...🔄🔄' notification"
Currently the PDF takes about 5-6secs to generate.

For that small interval a popup must come up saying
"Generating PDF. please wait..."

I am a GSSOC particpant. I want to work on this.

[2021-03-10 19:55] ashuvssut opened #581 "UNDO/REDO using 'CTRL-Z' 'CTRL-Y' keys"
currently user has to click on undo redo buttons. we can all add shortcut keys for that too

[2021-03-10 19:56] ashuvssut opened #582 "UNDO/REDO using 'CTRL-Z'/'CTRL-Y'"
currently user has to click on undo redo buttons. we can all add shortcut keys for that too

I am a GSSOC particpant. I want to work on this.

[2021-03-10 19:56] #581 closed

[2021-03-11 04:31] Uyadav207 opened #583 "chore: add to issue_templates"
The projects need issue templates... for better PR's and OSS contributions.
I want to work on the same. Please assign it to me. :)

[2021-03-11 06:02] av-0901 commented on #575
I can do this work. I am a GSSoC participant. Kindly assign me this

[2021-03-11 06:39] Priyanka7011 commented on #576
Hii I am a GSSOC 2021 participant.
I would love to work on this issue.
Please assign me .
Thank You !

[2021-03-11 06:41] Priyanka7011 commented on #578
hii, I am a GSSOC participant.
I have good experience in graphic designing . I can design a new logo for the website.

Can you please assign me this.

Thank You

[2021-03-11 07:17] Ritu7683 commented on #580
I would like to work on this issue. Kindly assign this to me. I am a  GSSOC'21 particpant.

[2021-03-11 07:18] Ritu7683 commented on #582
I would like to work on this issue. Kindly assign this to me. I am a GSSOC'21 Participant

[2021-03-11 08:23] preetiahuja18 commented on #579
Can I work on this issue? @smaranjitghose . Please assign this issue to me under GSSOC'21 program.  :)

[2021-03-11 08:26] pranavvdesai commented on #579
i would like to work on this issue. i promise to give my best

[2021-03-11 08:58] padmajabhol opened #584 "Improve the About_title."
![Screenshot (16)](https://user-images.githubusercontent.com/75530516/110761575-e635c480-8275-11eb-94fe-d71af18400cd.png)
I want to add effects to this particular section.

[2021-03-11 09:00] mansijain980 commented on #516
@smaranjitghose sir , I worked on cam scanner like app in which i changed the hand writing of one person to another and make a pdf of that .
Please assign it to me .
AS i have already worked on it .

[2021-03-11 11:40] atharva1608 opened #585 "Add drawing options on editor page"
While writing on the page suppose there is a need to draw a line or any shape somewhere then there should be an option to do so.
As a participant in GSSoC'21 I would like to contribute to this project.

[2021-03-11 11:55] Priyankcoder opened #586 "Add live preview feature."
Hii :wave: @smaranjitghose, It would be great for users if they can see the live preview of pdf or image adjacent to the editor. That will help the user to decide the right font-size quickly. Currently, the user can't estimate the right font-size due to the inconsistency between the page and font-size ratio in the writing editor and the generated pdf/png.

[2021-03-11 11:56] Priyankcoder commented on #586
Please assign this to me, I would like to work on this feature as a GSSOC 21 participant.

[2021-03-11 14:07] chanchalap06 commented on #578
I can animate the logo if any of the above people design it. I am a GSSOC participant, please assign this to me

[2021-03-11 16:36] smaranjitghose commented on #580
Keep in mind, the participant who raises the issue would be assigned it by default, only for issues raised by mentors we can consider others with equal preference.

If @ashuvssut fails to complete this, it will be assigned to you

[2021-03-11 16:37] smaranjitghose commented on #579
Assigned for 1 day

[2021-03-11 16:39] anushbhatia commented on #584
How would you do so?

[2021-03-11 16:40] smaranjitghose commented on #516
Please read the issue description carefully. Your idea does not seem to fall in line with that. However, you can raise an issue for it separately

[2021-03-11 16:42] smaranjitghose commented on #585
Assigned for 4 days.

[2021-03-11 16:43] smaranjitghose commented on #586
Assigned for 4 days.

[2021-03-11 16:45] Priyanka7011 commented on #578
Thank you I will start working on it !!

[2021-03-11 16:46] chanchalap06 commented on #578
can you let me know when you're done?

[2021-03-11 16:47] smaranjitghose commented on #578
@neha-baisane I do agree.
By LOGO do you mean the favicon only or the image in the top section?

@Priyanka7011 @chanchalap06 @neha-baisane All three of you can independently give PRs for the LOGO. We would merge one or all of them based upon the level of improvement and conformity to the goals of the project.

Also, we need some contributions w.r.t. project banner image, project card (github repo)

[2021-03-11 16:48] Priyanka7011 commented on #578
Yes sure ! I will let you know when I am done with the logo design .

[2021-03-11 16:51] Priyanka7011 commented on #578
I am good at making digital illustrations. So if you need illustrations as design element .I will be more than happy to contribute for it.
Thank You

[2021-03-11 16:52] chanchalap06 commented on #578
I want to animate the logo not design it, I am not experienced in designing so I am willing to work on any logo the others design

[2021-03-11 16:55] smaranjitghose commented on #576
We can come this towards the end of the program

[2021-03-11 16:55] #576 closed

[2021-03-11 17:01] mansijain980 opened #587 "We can change the hand writing of one person to another and also can change the color of pages."
As a replica of cam scanner.

[2021-03-11 17:17] padmajabhol commented on #584
By making the font size bolder and better, maybe I can make the changes and attack a ss before you decide to assign it to me. Also if there's anything that needs to be done in the frontend part, I d love to contribute.

[2021-03-11 17:23] N-Shar-ma opened #588 "Improve misleading UI (Contact Page) - Heading Looks Like a Button"
## Heading Looks Like a Button
The header of the page (which says Get in Touch) is currently styled to look like a button, which can be confusing for a user.
The pill shape is typically associated with a button, but since this is not a button, I believe changing it's styling would improve the user interface.

### How it looks now:

![image](https://user-images.githubusercontent.com/68962290/110827

[2021-03-11 17:29] khareyash05 opened #589 "update contributing.md"
Hey!
I would like to add the following in the contributing.md -

1. Difference between GIT and GITHUB
2. How to clone,fork repository
3. How to create a branch and then use git push to push to repo
4. Create a PR
5. Squash commits in a single issue into one
6. Updating the forked and local repo as the updations are made in the upstream

[2021-03-11 18:22] neha-baisane commented on #578
@smaranjitghose I meant to change the favicon. Thanks for assigning the task.

[2021-03-11 18:22] neha-baisane commented on #578
Agreed

[2021-03-11 18:23] neha-baisane commented on #578
Agreed

[2021-03-11 18:27] shonali2600 opened #590 "[GSSOC'21] Adding dark theme to the Editor Section"
The dark theme is missing in the Editor section. I want to work on this issue

[2021-03-11 18:32] smaranjitghose commented on #578
Cool

[2021-03-11 18:33] smaranjitghose commented on #589
Present [here](https://github.com/smaranjitghose/doc2pen/blob/master/ContributionGuidelines.md)

[2021-03-11 18:33] #589 closed

[2021-03-11 19:13] smaranjitghose commented on #588
Shift the contact form to this page as well

[2021-03-11 19:14] smaranjitghose commented on #587
Sure. Go ahead and give it a try

[2021-03-11 19:22] Mukta-Sawant commented on #516
@smaranjitghose Can you please assign this issue to me under GSSOC'21?

[2021-03-11 19:43] preetiahuja18 commented on #578
_I want to design the logo. I have done designing  so please assign this to me under GSSOC'21 participant. and I wiil surely give my best.._

[2021-03-11 19:51] N-Shar-ma commented on #588
@smaranjitghose Sir the contact form is already a part of this Contact page. Here's a screenshot of the same:

![image](https://user-images.githubusercontent.com/68962290/110845953-0fe3f100-8260-11eb-83ef-14b85366dc22.png)

[2021-03-11 19:53] Tanya933 opened #592 "[GSSOC'21 ] Improve the UI of the experience form in the contact page"
I would like to improve the UI of the experience form in the contact page .

[2021-03-12 02:04] chanchalap06 commented on #516
@smaranjitghose Do we have to just submit the .ttf file?  I understood how to make the font but I'm confused about how to submit it

[2021-03-12 04:35] Fpj-11 commented on #592
I would like to work on this issue.

[2021-03-12 05:53] anhushree opened #595 "Reformatting the Steps Layout"
Problem:
The alignment of the Steps layout on the Home page is not visually appealing

![Doc2penStep](https://user-images.githubusercontent.com/56672958/110898458-49cafb00-8325-11eb-8942-7c1bffd4af57.PNG)

Solution :
The paragraphs under each Step can be aligned left/right with respect to the positioning of the illustrations.

[2021-03-12 06:05] anhushree commented on #595
I would like to take upon this issue @smaranjitghose

[2021-03-12 09:54] ankitaugale23 opened #596 "Adding effects to cards of "Open Source Programs we are a part of""
Right now, cards here are looking really great but I think they would look better if we will make them to take less space.
I can enhance the hover effects like when the person will hover onto the card it will increase it's size and will show the information and read more button while as normally the cards will only show Event logo and Event name.
If the mentors and project managers are ok with doi

[2021-03-12 12:04] Priyankcoder commented on #586
@smaranjitghose Would you mind labelling this issue with GSSOC 21? I think that is the way my PR will be considered for the same.

[2021-03-12 14:53] prajakta2809 commented on #592
i would like to work on this

[2021-03-12 15:08] Smriti129 opened #597 "add effects in the navigation bar and front page picture"
![Screenshot (250)](https://user-images.githubusercontent.com/76429418/110958289-90931200-8372-11eb-9f9d-32e860a4b4fe.png)
I think there should be some changes in the top picture of the webpage and the about,team and support us rows. It would look much better is they are visible to the viewers and are systematically arrange.
Please sign me this task.

[2021-03-12 15:34] smaranjitghose commented on #583
Not Required

[2021-03-12 15:34] #583 closed

[2021-03-12 15:36] smaranjitghose commented on #578
@anushbhatia

[2021-03-12 15:48] smaranjitghose commented on #584
If you are doing the changes, raise a PR directly. We would directly review it. Asking you to do the changes and just saying no based on a screenshot would not be fair imho.

We have a lot of improvements to the frontend left out. Do check out the issues raised last month and comment on the ones you would like to contribute. In case you fail to find them, tag me or @anushbhatia here or use the dis

[2021-03-12 15:52] smaranjitghose commented on #592
Assigned for 3 days

[2021-03-12 15:53] smaranjitghose commented on #586
Sure. However, the PRs are counted based upon the labels in the PR itself. Make sure you don't miss out on that

[2021-03-12 15:59] smaranjitghose commented on #596
Sure @ankitaugale23 . Please go ahead and give a PR. We will review it accordingly 😊

[2021-03-12 16:00] smaranjitghose commented on #596
Assigned for 3 days. If required we can extend the deadline for the initial PR

[2021-03-12 16:05] smaranjitghose commented on #597
Could you attach a screenshot with a rough sketch of your suggested changes or elaborate more or perhaps raise a PR so that we can review this more effectively and give feedback

[2021-03-12 17:13] Priyankcoder commented on #586
Yeah sure, thanks for reminding me. Also, I checked it again and it is mandatory to label issues with gssoc21 and level. It has been stated in the MOM for the 9 March meeting. Would you mind labeling the issue with the level as well?

[2021-03-12 17:51] himanshujaidka opened #598 "[GSSOC]: need proper alignment to map"
![Screenshot (164)](https://user-images.githubusercontent.com/58654018/110978596-97794f00-8389-11eb-8351-c2e437297cef.png)
On the right side, there should be a margin, pls assign this to me

[2021-03-12 17:57] Sakshi0401 commented on #575
@smaranjitghose How many color options should be there? Shall I consider Red, Green, Blue Yellow for now

[2021-03-12 18:43] smaranjitghose commented on #575
Yes.
Black, Blue, Red, Green

[2021-03-12 18:50] #518 closed

[2021-03-12 18:51] #476 closed

[2021-03-12 18:52] smaranjitghose opened #599 "Add new page options to the Editor Page"
## What we are looking forward to!

- 2 new ruled pages
- 2 new pages with margins
- 2 Diary pages

## Some specifications:

- **Our current ruled pages are too much zoomed in and need to be replaced**

- In case you are wondering what type of pages are possible, [check this](https://www.google.com/search?q=printable+notebook+pages&tbm=isch&bih=722&biw=1536&hl=en&sa=X&ved=2ahUKEwjaodu0pO_uAhVMcX0K

[2021-03-12 18:55] #535 closed

[2021-03-12 19:31] smaranjitghose commented on #586
Already done

[2021-03-12 19:41] theBeginner86 commented on #599
May I work on this issue as I am a participant of GSSOC'21?

[2021-03-12 19:41] shreyanema33 commented on #599
I got your issue, may I work?

[2021-03-12 19:45] smaranjitghose commented on #599
@shreyanema33 @theBeginner86 Work independently. Assigned for 2 days

[2021-03-12 19:58] shreyanema33 opened #601 "Custom ScrollBar for the pages."
Having a scrollbar in the pages itself would make it easier to preview the changes of fonts, style, color in various parts of the page.

[2021-03-12 20:04] smaranjitghose commented on #601
Assigned for 3 days

[2021-03-13 03:02] niteshsinha17 commented on #513
@smaranjitghose I would like to implement this feature. I believe I can do it. Please assign it to me.

[2021-03-13 04:29] anhushree commented on #595
@smaranjitghose Will, you be tagging any labels? (I'm a GSSoC'21 Participant)

[2021-03-13 06:10] chanchalap06 commented on #578
![Comp 6_1](https://user-images.githubusercontent.com/69527629/111021206-c7a80880-83f0-11eb-9c4e-8389d0b07a24.gif)
I made this, please provide feedback

[2021-03-13 06:46] Smriti129 commented on #597
okay sure! I will raise a PR .

[2021-03-13 07:16] N-Shar-ma opened #605 "Rewrite CONTRIBUTING.md - Urgent"
I noticed that the `CONTRIBUTING.md` file is written with respect to `awesome-portfolio-websites` instead of `doc2pen`.

This can be very confusing for anyone contributing to this project, and may lead to unnecessary hassle. Hence I feel this should be fixed urgently.

I'll be happy to rewrite the `CONTRIBUTING.md` file (change all references from `awesome-portfolio-websites` to `doc2pen`, and upd

[2021-03-13 07:29] Sakshi0401 commented on #575
Okay Thanks

[2021-03-13 07:49] shonali2600 commented on #590
@smaranjitghose sir, please add level and GSSOC'21 label to this issue.

[2021-03-13 07:58] chanchalap06 commented on #578
![Comp 7](https://user-images.githubusercontent.com/69527629/111023588-eb267f80-83ff-11eb-9e05-a2b390fc9c24.gif)
![logo](https://user-images.githubusercontent.com/69527629/111023593-f11c6080-83ff-11eb-89b0-6bebb89875cc.gif)
I made these two, please provide feedback

[2021-03-13 08:01] padmajabhol commented on #584
Thanks, I m working on it.

[2021-03-13 08:04] preetiahuja18 commented on #578
please give feedback @anushbhatia

[2021-03-13 08:18] snehaa1989 commented on #517
i want to work on this as a part of Gssoc 21

[2021-03-13 08:47] kumarishalini6 opened #606 "Adding help button in navbar"
I guess there should be a help button where the steps should be written , because About  is not to help the  people ,
to help people there must be help button  and i guess there is difference between about and help.
i am participate of GSSoC'21 i want to add help button in navbar, can you please assign me.

[2021-03-13 09:04] ashuvssut commented on #598
![image](https://user-images.githubusercontent.com/60546840/111025132-335d8780-8397-11eb-9d93-93e0ddd5845e.png)

I think adding a right-margin will reduce the viewing area of the map.

_this screen width (1024px) is of "iPad pro" device_

[2021-03-13 09:09] rk05-lenavo commented on #601
I'm the Participant of GSSOC'21. Please assign me this issue.I would love to work on this.

[2021-03-13 09:10] rk05-lenavo commented on #599
I'm the Participant of GSSOC'21. Please assign me this issue.I would love to work on this.

[2021-03-13 09:10] rk05-lenavo commented on #597
I'm the Participant of GSSOC'21. Please assign me this issue.I would love to work on this.

[2021-03-13 09:11] rk05-lenavo commented on #585
I'm the Participant of GSSOC'21. Please assign me this issue.I would love to work on this.

[2021-03-13 09:45] Dimple115 commented on #606
Hey, I'm gssoc'21 participant, I would like to give my hand in this project. Please assign this issue to me.
I have made these type of projects ... so i can easily solve this issue.

[2021-03-13 10:21] Sakshi0401 commented on #575
Hey @smaranjitghose  I have done all the necessary changes. Let me know if there are any further modifications required.

![image](https://user-images.githubusercontent.com/64726139/111027061-deac2200-8413-11eb-8754-401c8e6cabb9.png)

[2021-03-13 10:28] Rayman-Sodhi commented on #516
Hi, can you please assign me this issue under the label GSSOC'21

[2021-03-13 12:45] Pallavi-02 commented on #606
l'm GSSoC'21 participant, I have a bit good hand in html and css. So, I would like to contribute in this project.  Please assign this issue to me. I can solve this easily.

[2021-03-13 12:49] Pallavi-02 commented on #590
Hey...I'm GSSoC'21 Participant . Please assign me this issue.I would love to work on this.

[2021-03-13 13:17] Suvojit-roy commented on #601
Please do assign me this one, i have looked into the project and eagerly waiting to contribute to it.
I am a participant of GSSOC'21

[2021-03-13 14:11] simran2607 commented on #590
hey would like to contribute, pls assign this to me

[2021-03-13 14:58] Tanu-priya-Roy opened #608 "Making the Website Responsive"
A responsive website is user-friendly and so accessible and used by many users. I would like to make the website responsive as a part of GSSOC'21. Please assign me this task.

[2021-03-13 15:32] Rishab-j opened #610 "[GSSOC'21] Issue in importing file to the website."
I would like to show a popup or message that tells the user about not able to import the document.

[2021-03-13 16:39] Aditi404 commented on #608
Hello sir,
I'am very interested in making a website attractive and responsive. I would love to work on this project please assign me this project @Tanu-priya-Roy  @shreyakapoor08

[2021-03-14 03:10] rray14 opened #611 "Add How to Use section"
My name is Ardra, participant of GSSoC'21
I'll be adding a section in the home page that shows a step-by-step way to use doc2pen with ease for its users
Please assign this issue to me
Thanks!!

[2021-03-14 03:26] smaranjitghose commented on #595
yup

[2021-03-14 03:29] #582 closed

[2021-03-14 03:37] smaranjitghose commented on #575
Communicated in the respective issue

[2021-03-14 03:37] #575 closed

[2021-03-14 03:44] smaranjitghose commented on #606
The Home Page is really self explantory. Anyone who has used a word processor like MS Word or Google Docs can use it

[2021-03-14 03:44] #606 closed

[2021-03-14 03:47] smaranjitghose commented on #610
You mean if a small pop up to show a warning if a person tries to import something weird like a gif?

[2021-03-14 03:47] malavikarajeshvikraman opened #612 "Improve the Contact page"
Hi! I am Malavika , a GSSOC'21 Participant .
I would like to beautify the contact us page . Reduce the size of map and increase the contact form . And make small changes to improve the UI of the app.
Kindly assign this task to me.

[2021-03-14 03:48] smaranjitghose commented on #608
@Tanu-priya-Roy @Aditi404  (without conflicting with each other) raise individual issues to fix the regions of the website which you feel are not mobile responsive (or perhaps not working as expected on different screen sizes)

[2021-03-14 03:48] #608 closed

[2021-03-14 03:53] #595 closed

[2021-03-14 03:55] Tanu-priya-Roy commented on #608
Okay Sir will do it.

On Sun, 14 Mar 2021, 9:18 am Smaranjit Ghose, ***@***.***>
wrote:

[2021-03-14 03:55] smaranjitghose commented on #611
Home Page is self explantory

[2021-03-14 03:55] #611 closed

[2021-03-14 04:06] #588 closed

[2021-03-14 04:06] smaranjitghose commented on #612
Assigned for 3 days

[2021-03-14 04:08] smaranjitghose commented on #597
2 more days for this. After that @rk05-lenavo can take over

[2021-03-14 04:09] smaranjitghose commented on #592
After 1 more day, @Fpj-11 can take over

[2021-03-14 04:09] smaranjitghose commented on #612
Duplicate #592

[2021-03-14 04:09] #612 closed

[2021-03-14 04:11] smaranjitghose commented on #516
Each of you have 1 week from the time of your assignment to complete your PR

[2021-03-14 04:12] smaranjitghose commented on #517
Assigned for 3 days

[2021-03-14 04:13] #521 closed

[2021-03-14 04:13] smaranjitghose commented on #560
Closed due to inactivity

[2021-03-14 04:13] #560 closed

[2021-03-14 04:13] smaranjitghose commented on #574
Closed due to inactivity

[2021-03-14 04:13] #574 closed

[2021-03-14 04:15] #579 closed

[2021-03-14 04:16] smaranjitghose commented on #585
@rk05-lenavo you have 3 days for the initial PR

[2021-03-14 04:17] smaranjitghose commented on #587
@mansijain980 . Maximum of 7 days for this issue(5 more days left)

[2021-03-14 04:21] smaranjitghose commented on #599
Assigned for 2 days

[2021-03-14 04:32] malavikarajeshvikraman commented on #612
@smaranjitghose  So it is not assigned to me right ?

[2021-03-14 04:32] smaranjitghose commented on #612
No

[2021-03-14 04:34] malavikarajeshvikraman opened #613 "Add How to Use Section in Side Nav"
Hi! I am Malavika , a GSSOC'21 Participant .
I would like to  add how to use section  to sidenav in homepage . Maybe add a heading "How to use too " above the steps to make it clear to the user.
Kindly assign this task to me.

[2021-03-14 04:38] malavikarajeshvikraman opened #614 "Add how to run in local system in readme"
Can I contribute by adding the commands how to run this app in a local system in readme .

[2021-03-14 04:41] Aditi404 commented on #608
Okay Sir I will definitely do it.

On Sun, Mar 14, 2021, 09:18 Smaranjit Ghose ***@***.***>
wrote:

[2021-03-14 05:18] Lza-etc commented on #584
Would you mind if  I too contribute in this section

[2021-03-14 06:33] himanshujaidka commented on #598
working

[2021-03-14 08:12] himanshujaidka opened #619 "feature: Login/Signup API"
It would be great if the backend will be introduced to this project, to access the premium features user needs to signup and it will help us to track the audience and also maintain a connection with the users.

[2021-03-14 09:01] Rishikakanojia commented on #599
Please assign me this issue.

[2021-03-14 09:04] Rishikakanojia commented on #596
I would like to work on this issue. Pease assign me this

[2021-03-14 09:15] EkjotKaur commented on #619
I would like to work on frontend part of Sign and login. Please assign me this issue @smaranjitghose  @anushbhatia @himanshujaidka
[GSSOC'21]

[2021-03-14 09:25] himanshujaidka commented on #619
wait for the mentors to approve this feature request

[2021-03-14 09:42] Avishake007 opened #620 "Navbar Hamburger design for smaller devices"
I want to work on this project.
@smaranjitghose and @anushbhatia  please assign me for this project.
I am  a participant of GSSOC'21 and want to contribute on this project

[2021-03-14 11:01] Rishab-j commented on #610
Yes, we can show a modal informing the user about the error

[2021-03-14 11:30] rray14 opened #622 "Add CSS animation to steps section"
Hi I'm a participant of GSSoC'21
I can contribute by using CSS animations to add visual transition to the Steps section
Please assign me this task
Thank you!

[2021-03-14 11:58] akshatvirmani commented on #516
I would like to work on this issue. Please assign this to me.

[2021-03-14 13:50] mansijain980 commented on #587
@smaranjitghose yes sir , sure , i have started work on it . i will commit PR within 5 days .
Thanks

[2021-03-14 16:14] ankitaugale23 commented on #596
Sure Thanks for assigning it to me. I will complete my task and make a PR by 16th march. Is it okay? @smaranjitghose

[2021-03-14 16:27] Aditi-03 commented on #599
I'm the Participant of GSSOC'21. Please assign me this issue. I will try my best to fix it.

[2021-03-14 16:59] Akshadaworlikar commented on #590
I am a GSSOC ' 21 participant .please assign me this issue to me

[2021-03-14 17:39] smaranjitghose commented on #620
Assigned for 4 days

[2021-03-14 17:41] smaranjitghose commented on #610
Assigned for 3 days

[2021-03-14 17:43] Pointdexter99 commented on #619
Can we integrate social media auths in this as login/signup feature..?? If yes.. Which one's preferably.

[2021-03-14 17:49] #598 closed

[2021-03-14 17:56] anushbhatia commented on #578
This looks more like a person working office and using wifi. doesn't seem to relate your app in any case.

[2021-03-14 17:57] anushbhatia commented on #578
This looks good to me but the logo is not that catchy thou the animations are pretty dope. I will attach some samples down so that you can look through them.

[2021-03-14 17:59] anushbhatia commented on #578
https://dribbble.com/shots/14396329-Document-Logo
![ezgif com-gif-maker-01](https://user-images.githubusercontent.com/40017559/111078769-29659100-851d-11eb-8761-4235cba60b1d.png)

[2021-03-14 18:08] smaranjitghose commented on #578
I really appreciate the efforts behind this. But the animation is way too much. perhaps just writing doc2pen on the book works and we can let go of the background and border animations

[2021-03-14 18:10] #580 closed

[2021-03-14 18:14] smaranjitghose commented on #619
We want to keep the app without any promotions or sign-up. So that students can come, get their job done, and leave. No strings attached

[2021-03-14 18:14] #619 closed

[2021-03-14 18:15] Himika-Mishra opened #624 "Improve the UI of the READ MORE button(s) on Home Page"
Hi @smaranjitghose ,

I think the read more button on the cards in not that fascinating.
I would like to give some gloss effect to the buttons to become more trendy.

Please if you will assign me this task i will start working on it.

Thanks
Himika Mishra

[2021-03-14 18:16] smaranjitghose commented on #613
This project is primarily meant to be used on larger screens like PC or MaC

[2021-03-14 18:16] #613 closed

[2021-03-14 18:20] smaranjitghose commented on #624
Assigned for 3 days

[2021-03-14 18:21] smaranjitghose commented on #614
Already there in contributing guidelines

[2021-03-14 18:21] #614 closed

[2021-03-14 18:23] smaranjitghose commented on #584
I believe this is completed @padmajabhol.
Closing it

[2021-03-14 18:26] #605 closed

[2021-03-14 18:26] #584 closed

[2021-03-14 18:32] smaranjitghose opened #625 "Improve 404 page UI"
## Requirements

- **Feel free to work as per your ideas. We do not have any specifications for this.**
- You can take inspirations from platforms like Dribble, Codepen, etc but **DO NOT COPY PASTE THE EXACT THING**
- Make sure the routing is not messed up
- Try out if the 404 functionality is working before giving the PR
- The issue is self-explanatory given one has read the above points. Looking

[2021-03-14 18:33] haarsh01 commented on #622
Hello I am 'a participant of GSSoC'21
I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-14 18:34] haarsh01 commented on #590
Hello I am 'a participant of GSSoC'21
I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-14 18:37] nijin26 opened #626 "2 more font choice for users of Editor Section"
hello @smaranjitghose

I would like to add 2 more cursive handwritten type fonts, that best suits some user's cursive writing style.
I think the placeholder's (in the editor section) colour should be choosable for users for there text because it has the colour of the pencil.

I know it's not a major update. But I think we should consider every user, right?

So can you plz assign this work for me?

[2021-03-14 18:37] smaranjitghose commented on #590
Please understand once an issue it assigned to a participant, only after their deadline is over, it would be reassigned. Instead of blindly commenting on the same issue, try to find bugs or suggest new features by creating new issues.

[2021-03-14 18:38] smaranjitghose commented on #626
Which fonts are you suggesting? Could you please attach a screenshot @nijin26 ?

[2021-03-14 18:41] smaranjitghose commented on #599
Each of you have 3 days from the day you are being assigned since this is a fairly simple issue

[2021-03-14 18:42] haarsh01 commented on #625
Hello, I am a participant of GSSoC'21. I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-14 18:45] smaranjitghose opened #627 "Update the contents of Contributing.MD with ContributionGuideline.MD and delete the latter"
Self Explanatory!

[2021-03-14 19:29] vedikaag99 commented on #627
@smaranjitghose Can I take up this issue?

[2021-03-14 19:32] vedikaag99 commented on #625
@smaranjitghose can I take up this issue if it's open? I'm a GSSOC participant.

[2021-03-14 19:46] nijin26 commented on #626
Miniver
![image](https://user-images.githubusercontent.com/63832147/111081930-a1d34e80-852b-11eb-8446-8159e87dd20a.png)

Better Grade
![image](https://user-images.githubusercontent.com/63832147/111081980-ef4fbb80-852b-11eb-861d-560fb11cf940.png)

These are the two fonts

[2021-03-14 19:48] smaranjitghose commented on #625
Assigned for 2 days. After that @vedikaag99 can take over. Meanwhile, @vedikaag99 you can independently work on the design and suggest your improvements

[2021-03-14 20:00] smaranjitghose commented on #627
Try to wrap up asap. This is a fairly simple issue

[2021-03-14 20:03] anushbhatia commented on #626
These don't have a human touch to it. More of easy to predict that they are manual fonts.

[2021-03-14 20:08] anushbhatia opened #629 "Removing blue border"
![image](https://user-images.githubusercontent.com/40017559/111082569-f75d2a80-852e-11eb-8a53-b356f22261a1.png)
Currently, there's a blue border around the sketch page which needs to be improved. Entire page should have the canvas

[2021-03-14 20:10] anushbhatia opened #630 "Changing UI for sketch"
![image](https://user-images.githubusercontent.com/40017559/111082626-502cc300-852f-11eb-8f5d-b44cdf356905.png)
Moving the current pannel completely to the right so that it doesn't feel like the complete copy.

[2021-03-14 20:14] anushbhatia opened #631 "Draw a bonding box around object"
Like excali draw, we need to add a image to move to reduce the size of the object once created.
![image](https://user-images.githubusercontent.com/40017559/111082743-d34e1900-852f-11eb-84d3-622ad81e6d49.png)
creating a box where you can enlarge minify the object using the different scale points present here.

[2021-03-14 20:17] anushbhatia opened #632 "Remove dark mode"
Removing dark mode in the sketch page
![image](https://user-images.githubusercontent.com/40017559/111082828-4ce60700-8530-11eb-8044-4f735d91888b.png)
No use of using dark mode in sketch so we will remove it.

[2021-03-14 20:19] anushbhatia opened #633 "Adding more fill styles"
Currently, we have bordered fill style we can also add two of them
![image](https://user-images.githubusercontent.com/40017559/111082874-a2221880-8530-11eb-852a-b259df49935f.png)
Hashed style and dense hashed style. so that it can give it a rough kind of effect to the project.

[2021-03-14 20:22] anushbhatia opened #634 "Add Change Background Feature @Sketch Page"
## Sample

![sketch_page_background_color](https://user-images.githubusercontent.com/46641503/111250528-7fc4f380-8633-11eb-8bfd-14d5634b8477.png)

## Requirements:

- Add an option to change the background color of the sketch page
- Use a color picker
- DO NOT mess up any code unrelated to this task

## General PR Guidelines:

- Each pull request should have an appropriate and short title like "Fi

[2021-03-14 20:27] anushbhatia opened #635 "Add Feature to Change Pen Styles @Sketch Page"
## Sample

![pen_style](https://user-images.githubusercontent.com/46641503/111250101-c108d380-8632-11eb-96ec-a5f8a10fdc16.png)

## Requirements:
- Currently, we have only a simple pen style of single line and which seems more of a computerized one.
we want to add a human touch to the design by implementing the above styles similar to the slopiness feature present [here](https://excalidraw.com/).
-

[2021-03-14 20:31] anushbhatia opened #636 "Adding a feature to save last instance"
To save the last instance of the sketch he/she made on the sheet and not giving him a blank sheet instead.
The last time you came to the site you created a square it should be there when you open it again.
![image](https://user-images.githubusercontent.com/40017559/111083204-4eb0ca00-8532-11eb-8dca-ddfacaa7b639.png)

[2021-03-14 20:37] anushbhatia opened #637 "Add Tech Stack Icons to Sketch Page"
## Sample Icons

![WhatsApp Image 2021-03-15 at 2 00 39 AM](https://user-images.githubusercontent.com/40017559/111083274-b5ce7e80-8532-11eb-9ea4-f22836e4024b.jpeg)

## Requirements:

- Do not mess up any other part of the web app
- Add an icon on the horizontal menu, on clicking which a drop-down/another bar appears below showing options for icons representing common tech stack icons like HTML5, C

[2021-03-14 20:42] anushbhatia opened #638 "Creating an icon pack 2"
![WhatsApp Image 2021-03-15 at 2 01 50 AM](https://user-images.githubusercontent.com/40017559/111083468-c92e1980-8533-11eb-9d88-b03613d37484.jpeg)
Creating an icon pack like this either by using the SVG icons for these and storing them in the libraries for example
https://libraries.excalidraw.com/

[2021-03-14 20:42] smaranjitghose commented on #578
@all checkout the recent issues raised w.r.t. adding icons to the sketch page. I believe most of your skills would serve as an asset to those

[2021-03-14 20:42] anushbhatia opened #639 "Creating an icon pack 3"
![WhatsApp Image 2021-03-15 at 2 03 12 AM](https://user-images.githubusercontent.com/40017559/111083483-e19e3400-8533-11eb-8543-b43a8a4dc27f.jpeg)
Creating an icon pack like this either by using the SVG icons for these and storing them in the libraries for example
https://libraries.excalidraw.com/

[2021-03-14 20:46] anushbhatia opened #640 "Creating an icon pack 4"
![WhatsApp Image 2021-03-15 at 2 03 34 AM](https://user-images.githubusercontent.com/40017559/111083513-00042f80-8534-11eb-929b-46aef15e3e6e.jpeg)
Creating an icon pack like this either by using the SVG icons for these and storing them in the libraries for example
https://libraries.excalidraw.com/

[2021-03-14 20:56] anushbhatia opened #641 "Load Image"
Add an option to upload an image from your computer to there.
adding an option to drop various custom images or pngs there.

[2021-03-14 21:01] anushbhatia opened #642 "Modify Contributor Section @Home Page"
![image](https://user-images.githubusercontent.com/40017559/111083990-6ee28800-8536-11eb-877e-03a1623bb282.png)

## Requirements
- Make the cards of the contributors round in shape(add border radius)
- Reduce the size of the cards so that all 65 contributors' details can easily be accomodated

## General PR Guidelines:

- Each pull request should have an appropriate and short title like "Fixed Bug

[2021-03-14 21:06] SalmaFarghaly commented on #630
Hello @anushbhatia , I am a GSSOC'21 participant and I would like to work on this issue , Can you assign it to me ?
Thanks in advance.

[2021-03-14 21:12] anushbhatia opened #643 "Make headings @HomePage uniform"
## Current Scenario

**Multiple styles for different Headings in the Hpme Page"
![image](https://user-images.githubusercontent.com/40017559/111084350-f54b9980-8537-11eb-9402-edb25a0fbf89.png)
![image](https://user-images.githubusercontent.com/40017559/111084353-fc72a780-8537-11eb-92f8-47d15ceb17e4.png)
![image](https://user-images.githubusercontent.com/40017559/111084358-01375b80-8538-11eb-8053-ea

[2021-03-14 21:16] anushbhatia opened #644 "Merging multiple pdf option"
Currently, if a user creates a pdf he needs to merge them then we should have the option.
create a new pdf merging two pdfs. below is a sample attached there. create a new tab in the navbar for this.
![image](https://user-images.githubusercontent.com/40017559/111084454-79058600-8538-11eb-94eb-ba53ed33a464.png)

[2021-03-14 21:20] anushbhatia opened #646 "Removing the contact page tab"
Removing the entire contact page and placing it in the Home Page below the "Open Source" section.

### Remove from here
![image](https://user-images.githubusercontent.com/40017559/111084607-2f696b00-8539-11eb-924f-f89901497b1f.png)

### Place it here
![image](https://user-images.githubusercontent.com/40017559/111084589-21b3e580-8539-11eb-8c24-6d458e6fe91a.png)

[2021-03-14 21:35] smaranjitghose commented on #630
Check out the interface of Canva. Similar to that we wish everything to be on the left panel.

Assigned for 5 days

[2021-03-15 00:03] chanchalap06 commented on #578
![final](https://user-images.githubusercontent.com/69527629/111089017-eec91c00-854f-11eb-9460-8c2ecafa4aad.gif)
@smaranjitghose I removed the border and the background animation

[2021-03-15 01:20] smaranjitghose commented on #578
Much better!
You can change the background to a lighter shade of sea blue or gray ( Experiment a bit). The black one is distracting

[2021-03-15 01:22] chanchalap06 commented on #578
@smaranjitghose Okay, I'll change that

[2021-03-15 01:48] nijin26 commented on #634
I would like to do this.

@anushbhatia , Can you please assign this task to me ?

[2021-03-15 01:49] #626 closed

[2021-03-15 01:52] nijin26 commented on #646
I would like to do this task.

Can you please assign this task to me?

Thanks
Nijin Nazar

[2021-03-15 02:59] malavikarajeshvikraman commented on #642
Hi ,I am Malavika participating GSSOC'21 .
I am interested in contributing to this issue could you please assign me this  .

[2021-03-15 03:02] malavikarajeshvikraman commented on #629
Hi , I am interested to do this.
Could you please assign this to me ?

[2021-03-15 03:36] ashuvssut commented on #632
i want to work on this

[2021-03-15 03:43] ashuvssut commented on #636
It would like to try this one

[2021-03-15 03:46] ashuvssut commented on #637
If you mean that we need to add svg icons in our sketch page... like we are doing with arrow-icons (which are svgs too)...then I would like to work on this

[2021-03-15 03:53] ashuvssut commented on #637
I will create a button that says "add icon" in the sketch page....after clicking that button a white screen appear which tells the user to select an icon. after the user selects one icon... the user gets to use that icon in the sketch page!

If you like the "separate white screen for showing icons idea" then I want to work on this

working on this idea would require to put a HOLD on those other "c

[2021-03-15 03:54] ashuvssut commented on #643
I want to work on this one.

[2021-03-15 04:14] deek121477 commented on #641
I would like to work on this issue.

[2021-03-15 04:16] Avishake007 commented on #620
When we click on the hamburger icon it will be converted from
![humburger(1)](https://user-images.githubusercontent.com/56298861/111102810-fd74fa80-8572-11eb-8459-100b5e0a97e1.PNG)

to

![humburger(2)](https://user-images.githubusercontent.com/56298861/111102831-0665cc00-8573-11eb-9d2a-b45309fbfdb0.PNG)
(ignore the color)
@smaranjitghose this is my plan

[2021-03-15 04:27] Smriti129 commented on #597
Can I add a logo of DOC2PEN with different style? You can use it for the new webpage if you like.

[2021-03-15 04:31] anushbhatia commented on #620
Sure you can go ahead with this.

[2021-03-15 04:32] anushbhatia commented on #629
Assigned for 1 day. Try to give a pr within 36 hours.

[2021-03-15 05:32] CyberneTech commented on #646
Hey, I would like to work on this issue. Can you please assign this to me?

[2021-03-15 05:36] vedikaag99 commented on #627
@smaranjitghose Should I keep the `Open Source Program grading part` of contributing.md?

[2021-03-15 05:46] himanshujaidka commented on #641
Do you mean by export option?

[2021-03-15 05:48] himanshujaidka commented on #635
interested, pls assign this to me

[2021-03-15 05:54] lakshita15 commented on #643
I would like to contribute to this isssue.Please assign me this issue i'll use the tech stack provided by you and give best results.
lakshita(gssoc participant)..

[2021-03-15 05:56] lakshita15 commented on #624
I would like to contribute to this isssue.Please assign me this issue i'll use the tech stack provided by you and give best results.
lakshita(gssoc participant)..

[2021-03-15 05:57] lakshita15 commented on #624
I'll add hover animation and box shadow to the same with classy looking effects.

[2021-03-15 05:57] Himika-Mishra commented on #624
I have already been assigned this issue ..... Please take another one

Thanks
Himika Mishra

On Mon, Mar 15, 2021, 11:26 AM Lakshita ***@***.***> wrote:

[2021-03-15 06:03] lakshita15 commented on #643
I'll add proper heading tags and fonts and make all the page headings and sub heading responsive . If you insist  i'll put hover effects on the same..

[2021-03-15 06:06] lakshita15 commented on #625
Hello, I am a participant of GSSoC'21. I can contribute to this issue.  if it's open then please assign it to me .

[2021-03-15 06:09] lakshita15 commented on #646
Hello, I am a participant of GSSoC'21. I can contribute to this issue.
Please assign me this task

[2021-03-15 06:18] himanshujaidka opened #651 "[GSSOC]: change color option is not working properly"
change color feature is not working properly,
![Screenshot (172)](https://user-images.githubusercontent.com/58654018/111111472-6022c200-8584-11eb-9a2a-b2a68b1b28ae.png)

[2021-03-15 06:21] himanshujaidka commented on #635
@anushbhatia where you want to implement this feature, on an editor or on the sketch, I am in doubt, I think on editor? pls clear this to me 🤔

[2021-03-15 06:23] himanshujaidka commented on #651
working fine, sorry my mistake

[2021-03-15 06:23] #651 closed

[2021-03-15 06:30] anushbhatia commented on #635
Sketch page

[2021-03-15 06:31] himanshujaidka commented on #635
okay

[2021-03-15 06:31] anushbhatia commented on #634
Sure assigned to you for 3 days

[2021-03-15 06:32] anushbhatia commented on #635
Would you want to continue?

[2021-03-15 06:33] himanshujaidka commented on #635
yes, but there is already stroke width option

[2021-03-15 06:36] anushbhatia commented on #635
That's more of a computerized option. We want it to be more of human touch.

[2021-03-15 06:39] anushbhatia commented on #641
No importing an diagram or something from your laptop to the canvas or the editor.

[2021-03-15 06:42] anushbhatia commented on #642
Assigned for 4 days

[2021-03-15 06:43] anushbhatia commented on #643
@ashuvssut you already have many issues. Give others chance.

[2021-03-15 06:47] vedikaag99 commented on #578
@smaranjitghose @anushbhatia can I also give this issue a try?

[2021-03-15 06:51] himanshujaidka commented on #635
okay

[2021-03-15 06:54] lakshita15 commented on #643
Please tell the commands to run the project.

On Mon, Mar 15, 2021 at 12:14 PM Anush Bhatia ***@***.***>
wrote:

[2021-03-15 06:54] anushbhatia commented on #637
This is what we require not individual icons

[2021-03-15 07:04] CyberneTech commented on #644
hey, I would like to work on this issue.

[2021-03-15 07:06] anushbhatia commented on #578
sure

[2021-03-15 07:07] anushbhatia commented on #643
first, do npm install
then npm start and open the port it is pointing too

[2021-03-15 07:10] ashuvssut commented on #643
@lakshita15 please look into our README.md files to setup the project. (u can watch some youtube also) then you will be able to start contributing

Please make sure you  at least know the basics before directly commenting on the issue that you wanna work on it😅.
We have given resources to make sure that beginners have no issues.
Please look in all the markdown files that help contributors know the

[2021-03-15 07:14] malavikarajeshvikraman commented on #642
![Screenshot 2021-03-15 124409](https://user-images.githubusercontent.com/42905287/111116553-31104e80-858c-11eb-9cc6-de7de480f737.jpg)
Is this fine ?

[2021-03-15 07:15] ashuvssut commented on #643
see contributingGuidelines.md (section 3)

[2021-03-15 07:16] Ayushbajpai19 commented on #638
Can you assign this issue to me, once approved I can start working on it under GSSOC'21.

[2021-03-15 07:17] Ayushbajpai19 commented on #640
Can you assign this issue to me, once approved I can start working on it under GSSOC'21.

[2021-03-15 07:24] lakshita15 commented on #643
npm start i did same but it gave error so i asked

[2021-03-15 07:25] ashuvssut commented on #643
can you show a screenshot?

[2021-03-15 07:26] ashuvssut commented on #643
ok

[2021-03-15 07:28] anushbhatia commented on #638
Sure assigned to for 5 days

[2021-03-15 07:30] anushbhatia commented on #642
More circular. just like the profile picture of GitHub in the top right corner. Try adding all the contributors here.

[2021-03-15 07:33] lakshita15 commented on #643
It has started. Thanks.

[2021-03-15 07:33] anushbhatia commented on #640
Finish the second #638 then you can go ahead with this.

[2021-03-15 08:01] ashuvssut commented on #639
want to work on this as a part of issue #637

[2021-03-15 08:01] ashuvssut commented on #640
want to work on this as a part of issue #637

[2021-03-15 08:08] vedikaag99 commented on #578
![Add a heading](https://user-images.githubusercontent.com/67699840/111122035-771ce080-8593-11eb-8881-06bff8341da3.png)
Please review. @anushbhatia @smaranjitghose

[2021-03-15 08:12] neha-baisane commented on #578
is it alright to do the task before hand even before assigning it to a particular participant?

[2021-03-15 08:25] #632 closed

[2021-03-15 08:33] deek121477 commented on #641
Thank you for assigning me this issue.

[2021-03-15 09:58] mandepsingh commented on #643
I would like to do this task.

Can you please assign this task to me?

Thanks

[2021-03-15 10:00] mandepsingh commented on #631
can you please elaborate about the issue...

[2021-03-15 10:02] mandepsingh commented on #625
Hello, I am a participant of GSSoC'21. I can contribute to this issue.
Please assign me this task
Thank you!

[2021-03-15 10:10] ashuvssut commented on #636
@anushbhatia when I am trying to save the lines drawn array in a string...the size is enormous

![image](https://user-images.githubusercontent.com/60546840/111137283-d51dd980-853b-11eb-8fa1-2ec4b78614f9.png)

5-6 lines contribute to 127mb of storage space

Do you have any idea how should I store this data?

[2021-03-15 10:35] chanchalap06 commented on #578
@smaranjitghose changed the background to a gradient of grey
![grey](https://user-images.githubusercontent.com/69527629/111139886-ae958800-85a7-11eb-94ee-124e1497844e.gif)

[2021-03-15 11:50] hritikgupta92 commented on #516
I would also like to work on this issue.Please assign this to me

[2021-03-15 11:50] malavikarajeshvikraman commented on #642
Is it fine now ?
![Screenshot 2021-03-15 171957](https://user-images.githubusercontent.com/42905287/111149277-b0b11400-85b2-11eb-92f9-caac839ab3d2.jpg)

[2021-03-15 12:15] ritesh1731 commented on #639
I would like to work on this issue under GSSOC21.  Can you please explain to me a little bit about this issue like we have to make icons for the above photos in SVG format and store them on that site that you have mentioned. Please explain to me so that I can contribute to this issue.

[2021-03-15 12:37] KanishkaJain30 opened #655 "Adding eraser tool to the sketch section"
Hi I'm a participant of GSSoC'21
Rather than deleting the entire canvas, one can erase specific elements by using the eraser tool.
Please assign me this task
Thank you!

[2021-03-15 12:48] ashuvssut opened #656 "BUG in UNDO/REDO feature"
![screen](https://user-images.githubusercontent.com/60546840/111155626-ed005800-8551-11eb-90d7-c18c8782d54b.gif)

I want to work on this

#636 is dependent on this

[2021-03-15 13:37] Rishab-j opened #657 "New Page begins at the point where we left the previous page."
##Home

![Screenshot (384)](https://user-images.githubusercontent.com/59995879/111161684-6c794000-85c1-11eb-8ba6-f18519010f23.png)

##Editor

![Screenshot (385)](https://user-images.githubusercontent.com/59995879/111161758-7d29b600-85c1-11eb-88ee-688c9d59710d.png)

##Home Again

![Screenshot (386)](https://user-images.githubusercontent.com/59995879/111161808-887ce180-85c1-11eb-81b7-56abb92590fb.pn

[2021-03-15 13:40] #629 closed

[2021-03-15 13:53] Rishab-j opened #658 "Add padding and scroll options to the editor"
Right now the editor does not look so real.
By adding default padding and giving a scroll option it would feel more real.

[2021-03-15 15:01] kanishkaa24 commented on #642
Hello! Can I work on this?

[2021-03-15 15:15] Sweeti-Gupta opened #659 "Opening Editor and Sketch Page in different tab"
If the Editor and Sketch will open in different tab, it will be very user-friendly.
Suppose a user is working in Editor, and in the mid of his work he/she wants to come back to the Home page, then his work on Editor will be lost.
Second thing is it will give an opportunity to the user to work on both editor and sketch by switching between the tabs and without losing their work.
Hey @mohit355, I wa

[2021-03-15 15:48] EANimesha commented on #658
I'm a gssoc participant. I like to try this issue

[2021-03-15 16:22] Smriti129 commented on #597
![WhatsApp Image 2021-03-15 at 21 46 29](https://user-images.githubusercontent.com/76429418/111185440-f8966200-85d7-11eb-9597-f52c4467d294.jpeg)
This is the basic idea that I have in my mind. There are some things that I want to change (if you allow):-
1. The logo of doc2pen is very simple...we can something creative.
2. All the dropdowns will be visible on hover in the navigation bar.
3. The pic

[2021-03-15 16:40] mandepsingh commented on #659
please assign this task to me,
I am interested i the work.

[2021-03-15 16:41] mandepsingh commented on #657
please assign this task to me,
I am interested i the work.

[2021-03-15 16:50] himanshujaidka commented on #635
is there is any documentation, which describes how to make it more similar to humans? @anushbhatia

[2021-03-15 17:29] krishnmohan19 commented on #658
hey @Rishab-j
i would like to contribute on this issue please assign me this issue.

[2021-03-15 17:34] krishnmohan19 commented on #644
hey @anushbhatia
i am interested to contribute to this issue.
please assign me this issue

[2021-03-15 17:34] Rishab-j commented on #658
Hey @EANimesha @krishnmohan19
I am not the project admin
I am also a GSSOC participant like you both.
I found this issue while running and somewhat testing the website on my system.

So I think the mentors or project admin will assign this issue to me.

[2021-03-15 17:40] amritakesh commented on #659
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:42] amritakesh commented on #643
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:43] amritakesh commented on #638
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:43] amritakesh commented on #634
hello
i'm taking part in gssoc 2021. And i would like work on this issue, will you please assign this to me?

[2021-03-15 17:59] ashuvssut commented on #643
@amritakesh @mandepsingh this issue has already been assigned

if the assignee fails to give PR then you can take it!

[2021-03-15 18:03] lakshita15 commented on #643
Okk

[2021-03-15 18:04] lakshita15 commented on #643
I have already made PR..

[2021-03-15 18:43] hritikgupta92 commented on #516
/assign

[2021-03-15 18:50] rk05-lenavo commented on #585
@smaranjitghose I made the drawing option. Please view it. If it seems okay to you  please issue me the PR.

[2021-03-15 20:34] SalmaFarghaly commented on #630
@smaranjitghose What is Canva? I understand that I should make it as a block like "Fill" div for example, and put it under the "Fill" div. or am I mistaken?

[2021-03-15 21:48] ashuvssut commented on #639
I will open up a PR for this within 2 hours after #664 gets merged

[2021-03-15 21:53] #656 closed

[2021-03-15 21:58] ashuvssut opened #666 "Shaking Sketch Page when hovered on left hand side area (smaller width screeen or tablet view)"
![screen2](https://user-images.githubusercontent.com/60546840/111226771-d16f6e80-859e-11eb-9fce-a69c1dd1cf3b.gif)

[2021-03-15 22:08] ashuvssut commented on #638
@amritakesh  this issue is already assigned. you can only take this one if assignee fails to submit PR before deadline

[2021-03-15 22:14] ashuvssut commented on #635
i want to work on this.

if by any chance asignee fails to submit PR then assign me instead . I will submit pr within one day

[2021-03-15 22:49] #627 closed

[2021-03-15 23:00] smaranjitghose commented on #657
Please upload a clip and explain elaborately

[2021-03-15 23:10] smaranjitghose commented on #643
Re-assigned to @ashuvssut for 1 day.

Only Headings**

[2021-03-15 23:10] smaranjitghose commented on #635
Assigned for 2 days.

[2021-03-15 23:14] #585 closed

[2021-03-15 23:19] #666 closed

[2021-03-15 23:32] smaranjitghose commented on #659
Not required as of now.
Perhaps in the later phases of the project.
For now, the simple solution would be to open two different tabs side by side

[2021-03-15 23:32] #659 closed

[2021-03-15 23:40] smaranjitghose commented on #646
@nijin26 You have a day for this. After that @lakshita15 can take over.

[2021-03-15 23:42] smaranjitghose commented on #642
Perfect. Do give a PR!

[2021-03-15 23:42] smaranjitghose commented on #642
After 2 days

[2021-03-15 23:45] smaranjitghose commented on #642
Reminder:

- Give an appropriate title
- Refer to the Issue using `Closes # issue_no`
- Description of the changes(Bullet Points)
- Screenshot/Clip of the change

[2021-03-15 23:48] smaranjitghose commented on #630
Please Google stuff by yourself. Atleast till some extent. . I don't mind helping out with doubts but these are really trivial ones.

[Canva](https://www.canva.com/)

[2021-03-15 23:51] smaranjitghose commented on #658
Assigned for 3 days. Give two PRs. First, for the padding, you suggest incorporating and once that is merged, a follow up PR for your scroll bar suggestion.

Please ensure:
- The title of the PR is short and meaningful
- You refer to the respective issue in the PR description ``Resolves # issue_number``
- Attach screenshot(s)/clip of the result of your changes
- (In bullet points) describe your ch

[2021-03-15 23:53] smaranjitghose commented on #644
Please understand that once a participant has been assigned an issue, at least within the next 24 hours (excluding certain circumstances) the issue won't be reassigned

[2021-03-15 23:57] smaranjitghose commented on #644
Assigned for 4 days.

## Please ensure:

- The title of the PR is short and meaningful
- You refer to the respective issue in the PR description ``Resolves # issue_number``
- Attach screenshot(s)/clip of the result of your changes
- (In bullet points) describe your changes

## For the PR:
- Do not mess up the code for the other pages
- Create a new page
- Update the navbar
- Do the routing properl

[2021-03-16 00:02] smaranjitghose commented on #641
Do read the updated description above carefully before raising the PR.
You are assigned this for 4 days

[2021-03-16 00:08] smaranjitghose commented on #620
Avoid the red color. Make sure that the color scheme is consistent throughout. Other than that, do give a PR within 2 days

[2021-03-16 00:13] smaranjitghose opened #668 "Add device related icons to the Sketch Page"
## Sample Icons
![mobile_icons](https://user-images.githubusercontent.com/46641503/111236971-14baf300-861a-11eb-9f65-db20edc3dcf3.jpeg)

## Requirements:

- Do not mess up any other part of the web app
- Add an icon on the horizontal menu, on clicking which a drop down/another bar appears below showing options for icons representing laptops, pc, phones, etc which can be imported as a shape like th

[2021-03-16 00:14] smaranjitghose commented on #640
Continued [here](https://github.com/smaranjitghose/doc2pen/issues/668)

[2021-03-16 00:14] #640 closed

[2021-03-16 00:20] smaranjitghose commented on #624
@Himika-Mishra you have two more days for this. Do have a look at the feedback given in the PR
After that @lakshita15 can take over if there is any scope for improvement left.

[2021-03-16 00:25] smaranjitghose opened #669 "Add Speech Bubble related Icons to Sketch Page"
## Sample Icons
![conversation_icons](https://user-images.githubusercontent.com/46641503/111237934-12599880-861c-11eb-9b96-7834899d81e7.jpeg)

## Requirements:

- Do not mess up any other part of the web app
- Add an icon on the horizontal menu, on clicking which a drop down/another bar appears below showing options for icons representing common chat bubbles
- Add up to 10 different icons
- Please

[2021-03-16 00:26] smaranjitghose commented on #639
Continued [here](https://github.com/smaranjitghose/doc2pen/issues/669)

[2021-03-16 00:26] #639 closed

[2021-03-16 00:29] #601 closed

[2021-03-16 00:32] smaranjitghose opened #670 "Custom Scrollbar"
## Requirements:

- Do not mess up any other part of the web app
- Ensure that the color scheme of the new custom scroll bar is accordingly to that of the rest of the web app
- Feel free to use resources like dribble,codepen for inspirations but please **do not copy-paste** directly. I expect you to give references in the PR description

## General PR Guidelines:

- Each pull request should have a

[2021-03-16 00:34] smaranjitghose opened #671 "Add Stick Figure related icons to Sketch Page"
## Sample Icons
![stick_icons](https://user-images.githubusercontent.com/46641503/111238644-77fa5480-861d-11eb-9e80-ea159cff034d.jpeg)

## Requirements:

- Do not mess up any other part of the web app
- Add an icon on the horizontal menu, on clicking which a drop down/another bar appears below showing options for icons representing stick figures
- Add up to 10 different icons
- Please test this th

[2021-03-16 00:36] smaranjitghose commented on #655
Assigned for 4 days @KanishkaJain30

[2021-03-16 00:38] smaranjitghose opened #672 "Add Functionality to Load Image from Local System as a figure into the Sketch Page"
##  Requirements :

- Do not mess up any other part of the app that you are not working with
- Add a small button in the Editor Menu (Perhaps on the horizontal one)
- The functionality is self-explained by the title of the issue
- Write checks for importing images with extensions: .webp, .png, .jpeg. jpeg only

## General PR Guidelines:

- The title of the PR is short and meaningful
- You refer to

[2021-03-16 00:41] smaranjitghose opened #673 "Improve Pre-Loader Animation"
## [Primary Reference](https://www.youtube.com/watch?v=C0oBg_J2gbY&feature=youtu.be)

## Certain specifications
- **DO NOT COPY PASTE DIRECTLY FROM THE REFERENCE**
- Use the name of our project
- Use our logo (Favicon)
- DO NOT mess up the transition time ( keep it a sweet spot between too slow and too fast)
- Try to animate the pen in our logo
- Change the color of the background of the current a

[2021-03-16 00:46] smaranjitghose opened #674 "Improve Project Maintainer UI @Home Page"
## Requirements

- Try to have a swish effect like the cards in [this](https://www.hellomonday.com/about)
- Below the pictures, put the respective names
- Below the names put the Github and Linkedin icons
-  Use [microanimations](https://useanimations.com/) for the social media icons
- Try your level best to have the images change on click (as in the reference above).
- The images (max of 3 for ea

[2021-03-16 02:22] nijin26 commented on #646
It's done. any changes?
Sorry for the delay, my PC got some prblm yesterday.

[2021-03-16 02:33] smaranjitghose opened #676 "Create a New Page called MediaManip"
## Basic UI Suggestion:

![media_manip](https://user-images.githubusercontent.com/46641503/111247232-9ec08700-862d-11eb-898e-93c3c02fb6a4.png)

## Requirements:
- Do not mess up the code for the other pages
- Create a new page MediaManip
- Update the navbar
- Do the routing properly (Do not give a PR with routing w.r.t local host. We will immediately close it)
- Keep the page simple
- Have a secti

[2021-03-16 02:41] #592 closed

[2021-03-16 02:44] smaranjitghose opened #677 "Improve the Form UI of the Contact Section @Home Page"
## Requirements:

- Re-design the Contact Form

## General PR Guidelines:

- Each pull request should have an appropriate and short title like "Fixed Bug in Upload Page"

- Describe your intended changes in the description section of the pull request (Use bullet points and phrases)

- Refrain from using phrases like "Hi, I am ..", "Please merge me this OPR", "Thank You..", etc. We are only interes

[2021-03-16 02:49] smaranjitghose commented on #657
@Rishab-j Please upload a clip and elaborate your suggestion

[2021-03-16 02:55] smaranjitghose commented on #642
@malavikarajeshvikraman Raise a PR for your changes

 Please ensure that you follow the PR guidelines given above or in the Contributing.MD before raising a PR

[2021-03-16 03:03] smaranjitghose commented on #637
This is the requirement!

[2021-03-16 03:26] #646 closed

[2021-03-16 03:30] malavikarajeshvikraman commented on #642
Okay @smaranjitghose  will raise a PR following the guidelines .

[2021-03-16 03:45] ashuvssut commented on #671
I want to work on this

[2021-03-16 03:47] ashuvssut commented on #668
i want to work on this

[2021-03-16 03:47] ashuvssut commented on #669
I want to work on this

[2021-03-16 03:51] ashuvssut commented on #676
I want to work on this

[2021-03-16 03:51] smaranjitghose commented on #669
Assigned for 3 days

[2021-03-16 03:51] smaranjitghose commented on #668
Assigned for 3 days

[2021-03-16 03:53] smaranjitghose commented on #671
Assigned for 3 days

[2021-03-16 03:56] smaranjitghose commented on #676
Finish up the other 5 PRs. If no one takes up the issue within the next couple of days and your other work is complete, it would be assigned to you.

[2021-03-16 04:06] smaranjitghose opened #678 "Meta Tag Bug @Home Page"
![meta_tags](https://user-images.githubusercontent.com/46641503/111254416-092bf400-863b-11eb-8d9c-b230df1c2700.png)

Update this to simply display "Doc2pen"

## General PR Guidelines:

- Each pull request should have an appropriate and short title like "Fixed Bug in Upload Page"

- Describe your intended changes in the description section of the pull request (Use bullet points and phrases)

- Refr

[2021-03-16 04:09] smaranjitghose opened #679 "Convert all CSS related to Home Page to SCSS"
## Requirements:

- Self-Explanatory
- Do not mess up the other parts of the web app
- Test your changes thoroughly before giving a PR

## General PR Guidelines:

- Each pull request should have an appropriate and short title like "Fixed Bug in Upload Page"

- Describe your intended changes in the description section of the pull request (Use bullet points and phrases)

- Refrain from using phrases

[2021-03-16 04:16] ashuvssut commented on #679
I want to work on this

Will complete within 1day

[2021-03-16 04:19] smaranjitghose commented on #597
@Smriti129 as far as the Nav Bar is concerned, I would like to keep it unchanged at least for the first phase of the program (It took a lot of time to reach there😅)

As far as the Home Page (To be specific the About Section) goes, yes we do need a revamp

Initially the project started out as my pet project to convert text into handwritten assignments. Hence the current descriptions are similar to

[2021-03-16 04:20] smaranjitghose commented on #597
If you have decent content writing skills, you can improve the readme and contributing guidelines as well

[2021-03-16 04:24] Rohit-Parameswaran commented on #677
### Improving form UI of Contact section
I intend to increase the width of the contact form as stated in the requirements above and I would also like to add a couple of light-weight animation/transition effects to the message field and the emoji reactions.

[2021-03-16 04:28] smaranjitghose commented on #679
Split the PR for this into 3 parts since there are multiple sections on the home page.

Coordinate with @lakshita15 since she is working on a part of the home page that would require changing some css into scss. Once her PR is merged give your PR

[2021-03-16 04:30] smaranjitghose commented on #679
@ashuvssut **Only and Only if** you are able to complete this, raise two more issues for Editor and Sketch pages as well for the same tasks

[2021-03-16 04:32] Rohit-Parameswaran commented on #678
### Updating meta tag (#678)
I wish to update the "Doc2pen - Contact us" page title that is being displayed in the Home page

[2021-03-16 04:35] smaranjitghose commented on #677
@Rohit-Parameswaran Assigned for 2 days.

[2021-03-16 04:36] smaranjitghose commented on #678
Assigned for 1 day

[2021-03-16 04:57] ashuvssut commented on #679
ha I will do all the sections and divide it in 3 PRs

[2021-03-16 05:33] Lza-etc opened #680 "Modifications to section home_about (id)"
Hi
I would like to make modification to the page with title "what are we about?"
Would you please assign me to do this.

[2021-03-16 06:37] Mukulikaa commented on #674
Hello, may I work on this issue?

[2021-03-16 06:48] 123mansha opened #681 "Modifications in the Experience form"
**Before**

![doc2pen](https://user-images.githubusercontent.com/59260493/111266415-86159880-8650-11eb-97ee-1bd43d86d292.jpg)

**After**

![changed doc2pen1](https://user-images.githubusercontent.com/59260493/111266494-a34a6700-8650-11eb-8e2e-4ff0829c270e.jpg)

![changeddoc2pen0](https://user-images.githubusercontent.com/59260493/111266531-ad6c6580-8650-11eb-8651-9bcc99301787.jpg)

**_CHANGES PROP

[2021-03-16 07:19] padmajabhol commented on #674
I want to work on this.

[2021-03-16 07:20] padmajabhol commented on #673
Hello, I want to work on this issue.

[2021-03-16 07:24] padmajabhol commented on #670
I am interested to work on this issue.

[2021-03-16 07:47] Mukulikaa commented on #672
Hello, may I work on this issue?

[2021-03-16 08:05] Elizah550 commented on #673
Heyy !!
I want to work on this issue I have vast experience on preloader animation please assign it to me.
thanks!!!!

[2021-03-16 08:05] Aryamanz29 opened #684 "[Need] Issue and PR template"
Currently, there is no issue and PR template in the repo

[2021-03-16 08:07] Aryamanz29 commented on #684
I would like to work on this issue, Kindly assign it to me

[2021-03-16 09:08] Elizah550 commented on #670
Heyy !!!
I can work on this issue please assign it to me I have done this in my learning journey.
Thanks !!!

[2021-03-16 09:29] pinnacle20 opened #686 "Contributing guidelines link in Readme file showing error"
Hello sir, shivanand , GSSOC'21 participant
I would love to fix this issue. Can you please assign it to me?
thank you!

![sss](https://user-images.githubusercontent.com/73813570/111286352-1c08ed80-8668-11eb-9edd-995e4efacdf2.jpg)

[2021-03-16 09:53] SalmaFarghaly commented on #630
Dear @smaranjitghose  thank you for the clarification, I have already reached that yesterday but wanted to make sure that you mean the same thing.
![new](https://user-images.githubusercontent.com/59613960/111288551-f6bab600-864c-11eb-8adf-dc03926eac91.png)
So I should do something like blocks on the left and put the shape icons in a new "Shape" block and add the line and arrow icons in the "Stroke

[2021-03-16 10:31] SalmaFarghaly commented on #630
Dear @smaranjitghose thank you for the clarification, I have already googled it but wanted to make sure you mean the same thing.
![new](https://user-images.githubusercontent.com/59613960/111294561-210f7200-8653-11eb-9528-25d95189df2f.png)
So, Should I do something like that in the left of the photo and put the shapes icons in a new "Shapes" block and add the line and arrow icons in the "Stroke Sty

[2021-03-16 11:46] nijin26 commented on #676
I would like to work on this issue.

Can you assign this task to me ?

[2021-03-16 12:09] smaranjitghose commented on #674
Assigned for 3 days

[2021-03-16 12:12] smaranjitghose commented on #681
Assigned for 2 days

[2021-03-16 12:24] Elizah550 commented on #657
Heyy !!!
I want to work on this issue please assign it to me. I am experienced web developer.
Thanks !!!

[2021-03-16 12:25] Mukulikaa commented on #674
Okay, I will keep you updated!

[2021-03-16 12:53] bishalshaw-164 commented on #686
I'm gssoc'21 participant .I want to work on this issue
Can you assign issue to me ?

[2021-03-16 12:59] bishalshaw-164 commented on #681
I'm gssoc'21 participant .
I want to work on this issue and make it colorful and impressive.
Can you assign issue to me ?

[2021-03-16 13:03] bishalshaw-164 commented on #673
Hi,
i want to work on this issue and improve the pre-animation loader
Would you please assign me to do this.

[2021-03-16 13:04] Rishab-j commented on #657
here's the clip

https://user-images.githubusercontent.com/59995879/111313285-2c2fc580-8686-11eb-8736-18b2edc7ce84.mp4

[2021-03-16 13:31] niyatitotala commented on #637
Hello, Can I work on this? @smaranjitghose

[2021-03-16 14:04] ashuvssut commented on #637
progress 85%. will submit PR for this one and other iconsPack issues today

[2021-03-16 14:26] mohammedjameel24 opened #695 "ADD Dark Mode"
## ADD Dark Mode feature

[2021-03-16 14:49] Sweeti-Gupta commented on #659
Ok Sir

[2021-03-16 15:17] Veeresh-Rex opened #697 "Adding dark mode in Editor section"
Hey ,
   I want to contribute in this project. I will create a **dark mode** in Editor section. Please assign me this work.

[2021-03-16 15:17] Veeresh-Rex opened #698 "Adding dark mode in Editor section"
Hey ,
   I want to contribute in this project. I will create a  **dark mode** in Editor section. Please assign me this work.

[2021-03-16 15:20] #697 closed

[2021-03-16 16:27] Smriti129 commented on #597
Okay, I understand that.
But I am a little bit concern about the About, Team and Support section, because they look like "odd ones out". So if you want to revamp that section where do you want to display it, if not in the navigation bar?
@smaranjitghose

[2021-03-16 16:32] Smriti129 commented on #597
Yes, sure I can do that. Please do tell if you want any particular type of changes in this.

[2021-03-16 16:43] smaranjitghose commented on #698
Not required as of now

[2021-03-16 16:43] #698 closed

[2021-03-16 16:44] smaranjitghose commented on #695
Not required as of now

[2021-03-16 16:44] #695 closed

[2021-03-16 16:45] smaranjitghose commented on #637
After 3 days. Once @ashuvssut has submitted his initial PR

[2021-03-16 16:48] smaranjitghose commented on #686
Seems to work fine as of now

[2021-03-16 16:48] #686 closed

[2021-03-16 16:49] smaranjitghose commented on #673
Assigned for 3 days

[2021-03-16 16:53] smaranjitghose commented on #684
Not required

[2021-03-16 16:53] #684 closed

[2021-03-16 16:54] smaranjitghose commented on #672
Assigned for 3 days

[2021-03-16 16:55] smaranjitghose commented on #680
Could you please be more specific about the modifications you are suggesting?

[2021-03-16 17:06] smaranjitghose commented on #676
Assigned for 3 days

[2021-03-16 17:20] smaranjitghose commented on #657
This works in my system as well as for the hosted version

[2021-03-16 17:32] Mukulikaa commented on #672
Thanks, I'll keep you updated.

[2021-03-16 18:23] anushbhatia commented on #578
@priyank and @neha-baisane any updates

[2021-03-16 18:24] anushbhatia commented on #578
this looks good to me generate the SVG for the file and add that to the project

[2021-03-16 18:28] smaranjitghose commented on #670
Assigned for 2 days

[2021-03-16 18:52] anushbhatia commented on #630
Currently, just add all of them together in the left panel add a heading of shapes to all of them.

[2021-03-16 18:55] anushbhatia commented on #597
if you want to go ahead with revamping it we can add an option of dropdown for the home page and there you do internal navigation. We don't want multiple pages as that confuses user to find the tab for the editor(which is the main purpose).

[2021-03-16 19:43] anushbhatia commented on #631
can you see the small handles around the big square which help to expand the figure add an option to incorporate this.

[2021-03-16 20:33] ashuvssut opened #701 "Edit shadows under texts"
I will make shadow lighter or remove shadow wherever needed.

example image:-
![image](https://user-images.githubusercontent.com/60546840/111375921-0ee60180-865c-11eb-8f48-15d86ca6e6c1.png)

[2021-03-16 22:03] anushbhatia commented on #636
Sure we can go ahead with the saving only last snapshot of the user. Can in any case we can compress the screenshot and store that in local storage. needing user permission can be a temporary solution on exit you can ask an alert prompt adding the relevant to text to either discard or save for later.

[2021-03-16 22:06] ashuvssut commented on #636
Ok I will see about that. if 21mb compresses to 2-3mb then its great we can use local storage

[2021-03-17 05:04] Lza-etc commented on #680
I suggest modifications to title's font and color would be better .
The changing the alignment of the paragraph a bit can make it more good .

[2021-03-17 06:48] #701 closed

[2021-03-17 08:15] lakshita15 commented on #633
Can u explain more on this issue

[2021-03-17 08:33] Upasana1216 opened #705 "Improve project managers section and adding more details about them in new page"
I would like to contribute to this. Please assign this to me.

[2021-03-17 08:52] Rishab-j commented on #657
@smaranjitghose How can I make it work on my system?
I saw in stack overflow that it's a common problem.

[2021-03-17 09:21] nishant23122000 opened #707 "Text append"
//ISSUE
If we import a txt file Then there is no issue but if we import another file then the content of another file is appended with the first file content.

//SOLUTION
I think we should remove the first file content first otherwise it will append continuously with other files content.

[2021-03-17 12:08] Adityakarthik18 opened #711 "Adding dark theme to the editor section"
i want to add dark theme to the editor section

[2021-03-17 12:42] ruhci28 opened #712 "Favicon not properly visible"
@smaranjitghose  The pen-paper favicon is not properly visible. We should change it to some bright color.

[2021-03-17 12:56] ruhci28 opened #713 "Underline Feature in Editor"
we can add an underline feature in the editor to make more realistic

[2021-03-17 13:01] ShambhaviSharma0110 commented on #711
Hey! I would really like to work on this please allow me to work on this...
-gssoc'21 participant

[2021-03-17 14:00] theSatvik commented on #713
I am a GSSOC'21 Participant, Please assign me this issue.

[2021-03-17 14:00] theSatvik commented on #712
I am a GSSOC'21 Participant, Please assign me this issue.

[2021-03-17 15:24] padmajabhol commented on #670
Please review the PR

[2021-03-17 16:50] anushka1309paul commented on #713
I would like to work on this issue as a participant of GSSOC'21, kindly assign me this to me

[2021-03-17 16:53] anushka1309paul commented on #707
I would like to resolve this issue as a participant of GSSOC'21. Kindly assign it to me.

[2021-03-17 16:55] nishant23122000 commented on #707
Hey @anushka1309paul  i already did it , just waiting for assign

[2021-03-17 17:42] anushka1309paul commented on #707
Ok!

[2021-03-17 18:00] anushka1309paul opened #715 "Certain special symbols omitted"
Certain symbols such as, " , " , " @ ", " # " etc. on being imported from the txt file are not being displayed in the text area.
I would like to fix this issue, kindly assign the same to me.

[2021-03-17 19:12] subhasmitapradhan commented on #711
I would like to work on this issue, kindly assign it to me.

[2021-03-17 19:20] subhasmitapradhan commented on #681
I would like to work on this issue. please kindly assign it to me.
-gssoc'21 participant

[2021-03-17 19:57] Priyanka7011 commented on #578
![logoDesigns](https://user-images.githubusercontent.com/54627940/111530140-f4f60d00-8788-11eb-8bab-e906ea842c17.png)
Sorry for responding late .

[2021-03-17 20:10] vismitap commented on #643
Hey! May I work on this as a part of GSSoC'21?

[2021-03-17 21:00] #642 closed

[2021-03-17 21:19] anushbhatia commented on #680
Sure go ahead with it.

[2021-03-17 21:21] anushbhatia commented on #657
It is at only a single instance but yes it is there do resolve this

[2021-03-17 21:24] anushbhatia commented on #713
Great suggestion you can work on it.

[2021-03-17 21:25] anushbhatia commented on #712
sure do define dynamic favicon according to the browser theme of the user.

[2021-03-17 21:26] anushbhatia commented on #712
Assigned for 5 days

[2021-03-17 21:27] anushbhatia commented on #711
No use in having a dark theme to the editor as the pen colours and the font will confuse the user what will be the expected output to this.,

[2021-03-17 21:27] #711 closed

[2021-03-17 21:28] anushbhatia commented on #707
Assigned for 5 days.

[2021-03-17 21:29] anushbhatia commented on #705
Not needed our details could be found on our linkedin

[2021-03-17 21:29] #705 closed

[2021-03-17 21:32] #643 closed

[2021-03-18 03:48] ruhci28 commented on #713
Yeah sure i  will make a PR soon

[2021-03-18 06:34] lipsa199 commented on #676
I would like to work on this issue .

[2021-03-18 06:59] Smriti129 commented on #597
Okay.

[2021-03-18 08:14] himanshujaidka commented on #635
![Screenshot (179)](https://user-images.githubusercontent.com/58654018/111593539-0e7e6f80-87f0-11eb-9b3e-fb410c73a5f5.png)
is it ok like this?

[2021-03-18 08:39] Ayushisood commented on #633
Hii @anushbhatia  Can you please elaborate the issue , so that i can go ahead with that and start contribution.

[2021-03-18 09:01] Rishab-j commented on #657
Okay I'll work on it

[2021-03-18 09:27] 123mansha commented on #681
I have made the required changes
Please check PR #721

[2021-03-18 15:23] #637 closed

[2021-03-18 15:41] anushbhatia commented on #635
This looks more like a computerized one and also these are not similar to the ones displayed in images. They are more of a
dotted lines

[2021-03-18 15:45] anushbhatia commented on #633
Basically in this, you have to add hashing which is basically lines of colours inside the shape.
Currently, the fill style used right now fills the figure with a mono colour and that looks more of computer-based colour.
We want to add a hashed based fill styles https://excalidraw.com/ (text it out here in the fill styles option).

[2021-03-18 15:51] #620 closed

[2021-03-18 16:27] himanshujaidka commented on #635
okay, working

[2021-03-18 17:48] #671 closed

[2021-03-18 18:06] Ayushisood commented on #633
@anushbhatia
![2021-03-18](https://user-images.githubusercontent.com/63868702/111675016-aad16200-8842-11eb-8e7a-801cc0137990.png)
Like this ??

[2021-03-18 20:01] anushbhatia commented on #633
yep

[2021-03-18 20:16] #657 closed

[2021-03-18 21:18] #668 closed

[2021-03-19 03:36] Ankita297 commented on #625
Can i work on this ?

[2021-03-19 05:37] anushbhatia commented on #625
Assigned for two days

[2021-03-19 05:50] lakshita15 commented on #625
You can give task to previous students who asked for it. As it was first
come first serve basis.

On Fri, 19 Mar 2021 at 11:07 AM, Anush Bhatia ***@***.***>
wrote:

[2021-03-19 05:53] vedikaag99 commented on #625
@anushbhatia I had no idea that harsh couldn't do the job and as I was next in line, can I try now?

[2021-03-19 06:23] anushbhatia commented on #625
Apologies did not read the comments.

[2021-03-19 06:24] vedikaag99 commented on #625
@anushbhatia no problem. Do I need to show the design here before opening up a PR?

[2021-03-19 09:33] tanya070820 opened #727 "their should be a sharing technique also"
As to share it with others their should be a sharing technique.

[2021-03-19 10:00] Ayushisood commented on #633
@anushbhatia  Please elaborate , what  needs to be done in this issue and Kindly assign this issue to me. Looking forward for the positive response

[2021-03-19 10:41] anushbhatia commented on #633
Add a fill style like which is present in hexagon and circle. In our project.

[2021-03-19 11:54] balarka135 commented on #727
I would like to work on this issue. pls, assign me. I am Gssoc 21 participant

[2021-03-19 14:08] simranbhalla3 commented on #670
Can i work on this issue? i can create a scrollbar using css and js

[2021-03-19 14:09] simranbhalla3 commented on #634
Can i work on this issue?
i am a gssoc participant

[2021-03-19 14:12] nishant23122000 opened #730 "Underline The words"
### I would like to suggest one feature,

There might be cases where the user wants to **underline** some words which are important from the user's perspective.

So, I think we need to add a feature to underline words which user wants

[2021-03-19 17:58] shivansh-soni07 commented on #730
I want to resolve this issue please assign it to me

[2021-03-19 18:11] nishant23122000 commented on #730
@shivansh-soni07  i already completed it, just waiting for assign

[2021-03-19 18:14] AshuKV commented on #727
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-03-19 19:21] Ayushisood commented on #633
okay!

[2021-03-19 19:48] #658 closed

[2021-03-19 20:02] anushbhatia commented on #727
Could you elaborate more on this?

[2021-03-19 20:03] anushbhatia commented on #730
theirs exist already an issue #713

[2021-03-19 20:03] #730 closed

[2021-03-19 20:06] anushbhatia commented on #670
This is already completed if you want to work on this create an issue for enhancement with a proper description and better approach than the current one.

[2021-03-19 23:47] Mukulikaa commented on #672
I need one more day to fix the design according to recent changes.

[2021-03-20 04:41] nishant23122000 commented on #730
@anushbhatia  SO what about particular word color, bold, underline? can I do this?

[2021-03-20 06:52] anushbhatia commented on #672
sure

[2021-03-20 07:11] Ayushisood commented on #633
@anushbhatia  Please clear my doubt,  Have to add the hash style in the Sketch section of the project Right?

[2021-03-20 07:24] anushbhatia commented on #730
you can raise an issue for strikethrough but bold isn't possible in real life.

[2021-03-20 15:01] Rayman-Sodhi commented on #516
Hi, I was working on this issue, but I see it has been closed, so should I complete making the font or not?

[2021-03-20 16:52] smaranjitghose commented on #516
Don't worry this is open

[2021-03-20 16:59] tanya070820 commented on #727
Please try to assign me this issue @smaranjitghose

[2021-03-20 17:01] smaranjitghose commented on #672
Any updates?

[2021-03-20 17:25] smaranjitghose commented on #712
any updates?

[2021-03-20 17:27] smaranjitghose commented on #680
Any updates @Lza-etc ?

[2021-03-20 17:31] smaranjitghose commented on #578
@Priyanka7011 This won't look good for smaller sizes

[2021-03-20 17:34] Mukta-Sawant commented on #630
@smaranjitghose @anushbhatia I would like to work on this as a part of GSSOC'21. Please assign it to me.

[2021-03-20 17:40] #597 closed

[2021-03-20 17:43] smaranjitghose commented on #630
The recent PR has majorly messed up the sketch page w.r.t scroll option, edge mode, background color, etc.

Those need to be fixed first before handling the UI further. Do you wish to take up issues on those bugs?

[2021-03-20 17:44] smaranjitghose commented on #635
Any updates?

[2021-03-20 17:52] padmajabhol commented on #677
I'm interested.

[2021-03-20 17:57] padmajabhol commented on #625
I am interested. This is something new for me.

[2021-03-20 17:58] smaranjitghose commented on #727
Could you please explain your proposal in greater details first @tanya070820

[2021-03-20 18:00] padmajabhol commented on #625
Is this open for changes? If yes, then I m interested.

[2021-03-20 18:57] smaranjitghose commented on #625
Yes. you can try to improve the UI even further!

[2021-03-20 18:58] samidha28 commented on #677
Please assign this to me

[2021-03-20 19:18] satyampgt4 opened #734 "new page automation"
In editor section when we click delete button it remove the page and when we add new page it does not open new page we have to use next button for it

we  can  automate this process....

[2021-03-20 19:21] satyampgt4 commented on #734
I would like to work on this issue as a part of GSSOC 2021 @anushbhatia @Harshita-Kanal  please assign it to me

[2021-03-20 20:44] SalmaFarghaly commented on #630
I can continue working on the issue, I have just fixed the scroll option and re-added the canvas color option.
![bugs (1)](https://user-images.githubusercontent.com/59613960/111884879-0f202d00-89cd-11eb-8f48-4fac2c12de49.png)

[2021-03-20 21:17] smaranjitghose commented on #630
Cool. Do give separate PRs for each bug so that it is easier for us to review and we can reward you the points accordingly

[2021-03-20 21:24] SalmaFarghaly commented on #630
Okay Great, Do you want me to change the UI of shapes or is it okay ? and for the Edge mode , Is it working fine and just doesn't appear on the toolbox or what is exactly the problem with it?

[2021-03-21 04:41] Mukulikaa commented on #674
I'm unable to solve this issue so please unassign me.

[2021-03-21 04:42] Mukulikaa commented on #672
I'm unable to solve this issue so please unassign me.

[2021-03-21 08:34] nijin26 opened #736 "Canvas Colour Option Missing from Sketch Page"
According to issue #634 and PR #690 is merged for adding Background or Canvas Colour Selecting Options.

But recently, it got missing due to other merges.

[2021-03-21 11:53] ruhci28 commented on #712
Yeah i am working on that

[2021-03-21 11:53] hritikgupta92 commented on #516
@smaranjitghose  please check #737

[2021-03-21 11:56] Lza-etc commented on #680
Yes , I will PR today

[2021-03-21 12:28] shahina-bano commented on #713
I want to implement this underline functionality, so kindly assign me this issue  @anushbhatia .

[2021-03-21 12:30] yashmita commented on #655
I would like to work on this issue. Kindly assign it to me @smaranjitghose

[2021-03-21 16:24] Rayman-Sodhi commented on #516
@smaranjitghose  Kindly check #738

[2021-03-21 23:33] jain-rishabh-21 opened #739 "Using Docker for the Project!"
Can we use docker to set up an alternative setup and will be useful in the future.

[2021-03-21 23:33] jain-rishabh-21 commented on #739
If found useful, Please assign it to me.
Discord Username: krackerzzz#4371

[2021-03-22 00:03] smaranjitghose commented on #739
Which server are you planning to use for the Docker image?

[2021-03-22 06:24] nishant23122000 opened #740 "Not able to increment or decrement value"
When I increment or decrement the font size or anything else I get an error:

![image](https://user-images.githubusercontent.com/53515714/111948363-0b8fc180-8b05-11eb-9744-b3916ca446e7.png)

I think there is not any onElementValueChange function inside editContext in the editor section.

We have to solve this issue because I am unable to change letter-spacing, width, font-size etc

[2021-03-22 09:53] ShubhamSj07 opened #741 "Improvement of Contact Us Form"
Contact-Us form validations is not properly validated , also when we submit form page gets reloaded
Also phone no. field is not required
I would like too **validate** form with proper error messages and also **onSubmitting** form we will show a **card!** with some msg

Please assign me this issue
Thanks!

[2021-03-22 13:05] jain-rishabh-21 commented on #739
It is built on react so it can easily be done!

[2021-03-22 14:10] ashuvssut commented on #635
i want to work on this

[2021-03-22 14:17] ashuvssut commented on #636
I have tried various option to compress that 21 mb.. but I was able to compress to 11.6mb only. I think I have to store this snapshot outside the browser (will require user permission)

I think e
![Annotation 2021-03-17 113219](https://user-images.githubusercontent.com/60546840/112003609-45999d00-8ade-11eb-8e10-36ea5e572087.jpg)

[2021-03-22 20:01] hritikgupta92 commented on #516
@smaranjitghose  please check #742

[2021-03-23 04:17] RaveenaBhasin opened #743 "Adding Tech stack used in the project"
I would like to add the tech stack used in the project so that readme file will look attractive

[2021-03-23 04:42] alkatrivedi opened #744 "Less shapes available for sketch"
There are currently 8 shapes for sketching. There should be more sketches in that section like bidirectional connector, ellipse, rectangle, etc.
![Capture](https://user-images.githubusercontent.com/58396306/112093808-1bb8a700-8bc0-11eb-8529-e4903ff2cc18.PNG)

I am a GSSoC'21 participant and I would like to work on this issue. May I work on it under GSSoC'21?

[2021-03-23 04:59] akshay1027 opened #745 "unable to scroll down in the sketch section"
unable to scroll down in the sketch section to access properties like "fill", "edge" and "undo/redo"

[2021-03-23 05:57] Tanya933 opened #747 "Navbar-links UI modification"
I would like to modify the navbar links UI.
Please assign this issue to me .Thankyou.

before
<img width="1440" alt="Screenshot 2021-03-23 at 11 09 18" src="https://user-images.githubusercontent.com/60508925/112098744-4f97ca80-8bc8-11eb-9e72-79450c44a08b.png">

after
<img width="1440" alt="Screenshot 2021-03-23 at 11 24 22" src="https://user-images.githubusercontent.com/60508925/112099826-35f78280

[2021-03-23 06:09] ambivert-sam commented on #712
@ruhci28  I am a GSSOC'21 Participant, Can I work with this issue?

[2021-03-23 12:58] ruhci28 commented on #712
Go ahead

[2021-03-23 14:02] jain-rishabh-21 commented on #739
Can you please add the level also!

[2021-03-24 04:10] Ayushgup85 commented on #741
Is this issue still open?

[2021-03-24 04:12] nijin26 commented on #736
Since one of my PR #726 is not merged. I am not able to create a new PR for this. I hope I have time to push the solution to this issue after the already mentioned PR get merged.

[2021-03-24 04:22] ShubhamSj07 commented on #741
@Ayushgup85, I am working on this issue!

[2021-03-24 04:25] Ayushgup85 commented on #741
ok

[2021-03-24 06:24] rk05-lenavo commented on #707
I am a GSSoC'21 participant @anushbhatia
Can you assign me this issue

[2021-03-24 07:28] sharvariiii commented on #596
Heyy..I can fix this issue. As a beginner I am figuring out. Please let me know if I can contribute to it or it is closed?

[2021-03-24 07:29] nishant23122000 commented on #707
@anushbhatia close this issue because it's already merged

[2021-03-24 11:37] sharvariiii opened #749 "Changing the color of favicon"
The current favicon is black in color so it is not clearly visible. I wanted to enhance the look by changing its color which will match with the color combination of the website. I am attaching the sample .Let me know if I can go ahead with it.
![doc2penlogo](https://user-images.githubusercontent.com/78595265/112304075-11330600-8cc3-11eb-899c-59396d9fecb5.png)
![doc2penlogo1](https://user-images.g

[2021-03-24 18:25] rk05-lenavo commented on #747
I'm  the participants in GSSOC'21.Please assign me this issue.

[2021-03-24 19:27] gritika18 opened #750 "Adding scrollbar in the editor page"
The editor section doesn't have a scroll bar to see contents at the top of page once the page reaches the view limit.

[2021-03-25 06:18] ANSHIKA1806 opened #751 "Update README file"
@anushbhatia @iamdarshshah @Harshita-Kanal
README is the first file one should read when starting a new project. It's a set of useful information about a project, and a kind of manual. A README text file appears in many various places and refers not only to programming. So i want to make your README file more meaningful and more easier to understand the whole project.

[2021-03-25 06:20] ANSHIKA1806 commented on #751
@anushbhatia @iamdarshshah @Harshita-Kanal
please assign this task to me , i would love to contribute to your organization
thank you.

[2021-03-25 07:50] lopeselio commented on #750
can I work on this issue ?

[2021-03-25 07:51] lopeselio opened #752 "GitHub Reference in Footer"
can I work on this for GSSOC 21 ?

[2021-03-25 08:34] vanisingh-24 commented on #750
I'd like to work on this issue. Please assign me this issue.

[2021-03-25 10:57] Abhishekkr93 commented on #670
I would like to contribute as a Gssoc21 participant. could you please assign me this?

[2021-03-25 12:45] Mukta-Sawant commented on #674
@smaranjitghose @anushbhatia I would like to solve this issue. Please assign it to me.

[2021-03-25 13:36] Abhishekkr93 commented on #749
I would like to contribute as a Gssoc21 participant in this project. could you please assign me this?

[2021-03-25 16:32] sharvariiii commented on #749
Dear mentors @smaranjitghose @anushbhatia waiting for your response on this. If it is suitable for our project kindly assign it to me. Thank you!

[2021-03-25 20:22] anushbhatia commented on #674
Sure assigned for 3 days

[2021-03-25 20:22] anushbhatia commented on #670
Do explain the approach and how would you enhance it.

[2021-03-25 20:23] anushbhatia commented on #750
inside the editor there's no need for a scrollbar

[2021-03-25 20:23] #750 closed

[2021-03-25 20:27] anushbhatia commented on #752
Sure but do add minimal icons from https://feathericons.com/ or https://useanimations.com/ to implement it.

[2021-03-25 20:28] #751 closed

[2021-03-25 20:29] anushbhatia commented on #751
it is currently giving all necessary details present in the project.

[2021-03-25 20:33] #707 closed

[2021-03-25 20:34] anushbhatia commented on #596
Sure @sharvariiii

[2021-03-25 20:47] anushbhatia commented on #736
You can create a new pr of a different branch on your codebase and push that.

[2021-03-25 21:03] anushbhatia commented on #745
any update?

[2021-03-25 21:08] anushbhatia commented on #749
This is good but it is barely visible.

[2021-03-25 21:20] anushbhatia commented on #636
Ok then we can go ahead with the permission thing

[2021-03-25 21:20] anushbhatia commented on #635
@himanshujaidka needed help @ashuvssut you can help him with that

[2021-03-25 21:21] anushbhatia commented on #713
Any update?

[2021-03-25 21:22] anushbhatia commented on #680
@Lza-etc any update?

[2021-03-25 21:23] anushbhatia commented on #677
Any update?

[2021-03-25 21:28] anushbhatia commented on #634
You could raise an issue for the colour palette can't be selected by moving the mouse. it will take the first clicked colour.

[2021-03-25 23:48] smaranjitghose commented on #751
@ANSHIKA1806 Whenever you raise a documentation related issue, please be specific about the exact things you want to add

[2021-03-25 23:48] smaranjitghose commented on #750
Touche!

[2021-03-26 00:01] smaranjitghose commented on #749
@sharvariiii Could you just integrate this into your copy of the web app's code and send a small clip of the same. Because in this zoomed view, it is difficult to judge since the actual size would be much less in practice

[2021-03-26 00:05] smaranjitghose commented on #736
Let this [PR](https://github.com/smaranjitghose/doc2pen/pull/735) be merged today after that we can continue

[2021-03-26 00:05] smaranjitghose commented on #745
To be taken care after [this](https://github.com/smaranjitghose/doc2pen/pull/735) is merged

[2021-03-26 00:08] smaranjitghose commented on #752
Make it as simplistic as possible. Assigned for 2 days

[2021-03-26 00:09] smaranjitghose commented on #596
Assigned for 3 days, after which the issue shall be closed

[2021-03-26 00:11] smaranjitghose commented on #747
We are not modifying the navbar till the rest of the web app is sorted. It took quite some time to get it to it's current state. Perhaps in a few weeks!

[2021-03-26 00:11] #747 closed

[2021-03-26 00:13] smaranjitghose commented on #739
Closed due to inactivity

[2021-03-26 01:30] nijin26 commented on #736
I think this PR #735 solves the same issue.

[2021-03-26 02:23] bindu030 opened #756 "tour for the new users."
We have to make sure all the new users are aware of all the options available to use for their editing.
PLease assign me this issue.
Thanks.

[2021-03-26 03:58] lopeselio commented on #752
Surely 😀

[2021-03-26 05:04] Saatvik21 opened #757 "Transform Steps to Cards"
I would like to transform the steps to cards and also add hover effects to them.

Kindly assign me this issue under GSSoC'21.

- Result 👇

![Screenshot_3](https://user-images.githubusercontent.com/61618767/112584589-23758700-8e1e-11eb-8651-6844166f727b.png)

[2021-03-26 05:22] jain-rishabh-21 commented on #739
Hey @smaranjitghose , I have worked on it, Will raise a PR by today!
Please reopen the issue

[2021-03-26 06:26] ShubhamSj07 commented on #741
@smaranjitghose , @anushbhatia , pls let me know which color should we go for err msg!
so that i can open pr ASAP!

Color-01
![Color-01](https://user-images.githubusercontent.com/56510414/112590869-84568c80-8e29-11eb-9bee-dbd3dc7b18aa.JPG)

Color-02
![Color-02](https://user-images.githubusercontent.com/56510414/112590881-87517d00-8e29-11eb-818c-fc550bd48eff.JPG)

Color-03
![Color-03](https://user-

[2021-03-26 07:44] Twinkle-Shimmer opened #758 "hovered card size should be little small and shadow of button should be less"
![60ae9ba1-7dd2-451a-975c-e1c0821f1d6c](https://user-images.githubusercontent.com/72192456/112598794-1ca63e80-8e35-11eb-9375-d15d6528e7fe.jpeg)

[2021-03-26 07:45] Twinkle-Shimmer commented on #757
@Saatvik21  please assign me, i am participant

[2021-03-26 07:51] shahina-bano commented on #713
yes, I m working on it, due to exams it got delayed...and will try to complete it by tomorrow.... so please don't unassign me @smaranjitghose  @anushbhatia

[2021-03-26 08:42] aanchal-fatwani opened #759 "Logo does not redirect to top section of homepage"
ISSUE DETAILS
Currently, the logo does not redirect to the top section when the user is browsing the home page.
It should be redirected to the top section, to make it sync with the functionality which the user would experience from any other page or by clicking the Home tab on the header section.

[2021-03-26 08:42] aanchal-fatwani commented on #759
Hey @smaranjitghose, @anushbhatia, I am a GSSOC 2021 participant. I would like to work on the issue.
Could you please update the issue with relevant tags and assign the same?

[2021-03-26 11:01] N-Shar-ma opened #760 "Adding New Fonts to the Editor"
## Proposal
I think all and any of the 71 fonts listed and shown here : https://goofonts.com/tag/authentic can be good font choices for the Editor page of Doc2Pen, as they all have a handwritten feel. I would like to add these fonts as style options for the user, under GSSoC'21.

## A few examples:

![image](https://user-images.githubusercontent.com/68962290/112621607-2d2fc800-8de7-11eb-8323-f5b8e

[2021-03-26 11:34] nikhv commented on #759
Hello @smaranjitghose, @anushbhatiaI ,I am a GSSOC 2021 participant.
I want to work on this issue please assign this issue to me

[2021-03-26 12:07] lopeselio commented on #752
@anushbhatia @smaranjitghose Can you add the gssoc label to the issue? So that it would count for the GSSOC programme?

[2021-03-26 12:48] lopeselio commented on #752
Also should I add it to the footer or to the header component?

[2021-03-26 14:25] lopeselio commented on #752
![image](https://user-images.githubusercontent.com/43913734/112645979-0d42e780-8e6d-11eb-84d9-2f0a5a265665.png)

As requested, I have kept it simple, and used icons from https://feathericons.com/  shall I create a Pull Request.
@anushbhatia @smaranjitghose

[2021-03-26 14:28] Mus2413 commented on #760
Hello, I am Gssoc'21 participant . I would like to contribute on this project. Could you please assign me this issue.

[2021-03-26 14:29] Mus2413 commented on #759
Hello, I am Gssoc'21 participant . I would like to contribute on this project. Could you please assign me this issue.

[2021-03-26 14:29] Mus2413 commented on #758
Hello, I am Gssoc'21 participant . I would like to contribute on this project. Could you please assign me this issue.

[2021-03-26 14:31] Mus2413 commented on #677
Hello, I am Gssoc'21 participant . I would like to contribute on this project. Could you please assign me this issue.

[2021-03-26 14:35] Nishayadav-bit commented on #758
Hey , I would like to work on this issue please assign to me .
I am a participant in GSSOC'21

[2021-03-26 14:42] Nishayadav-bit commented on #743
Hello, I would like to work oh this issue .Please assign to me
and I'm a GSSOC'21 participant

[2021-03-26 14:44] samidha28 commented on #677
Hey !
I'm new to open source ,I've fixed the doc a little and increased the
scale for emojis. It'll be really helpful if you can guide me as to what
else I can change.
Please help me in making my first PR.

On Fri, Mar 26, 2021 at 2:54 AM Anush Bhatia ***@***.***>
wrote:

[2021-03-26 14:49] samidha28 commented on #677
Hey ! I was working on the issue ,I made few doc fixes and changed scaling of emojis .
Can you re-assign it to me ? and,
It will be helpful if you can suggest me any more changes .

[2021-03-26 15:22] himanshujaidka commented on #635
yes @ashuvssut

[2021-03-26 16:41] ashuvssut commented on #635
Actually I dont have any idea how to do this. But I think that I will find out. I need to find ways to do this.

as of now, I dont have any clue.

I think I will manage to solve this issue

@anushbhatia you can assign me this issue

[2021-03-26 20:37] anushbhatia commented on #713
Assigned for 3 days.

[2021-03-26 20:42] anushbhatia commented on #760
Sure we want more cursive fonts present for example the ones given here
1. beth ellen
2. Cedavire cursive

The more imperfections better it will the rest of the given fonts in the image are more computerized.
List down the fonts that you find following these and make a list here then we can verify and you can give PR after that.

[2021-03-26 20:45] anushbhatia commented on #759
this can't be done as the component structure for every page is the same(means the header used everywhere is the same). Just for a small feature there would be lot of code repetition in the process

[2021-03-26 20:45] #759 closed

[2021-03-26 20:46] anushbhatia commented on #758
Sure assigned for 3 days.

[2021-03-26 20:49] anushbhatia commented on #635
Sure take your time do give an update within 3 days.

[2021-03-26 20:54] anushbhatia commented on #756
Sure you can do this do explain the methodologies and the libraries used for this.

[2021-03-26 20:57] #630 closed

[2021-03-26 21:36] N-Shar-ma commented on #760
I've shortlisted these, the ones marked with ⭐ I think are most suitable. Please give your views on the following fonts:

- Beth Ellen ⭐

![image](https://user-images.githubusercontent.com/68962290/112693036-23d14a80-8e3d-11eb-865c-62c69adac69b.png)

- Cedarville Cursive ⭐

![image](https://user-images.githubusercontent.com/68962290/112693067-35b2ed80-8e3d-11eb-83aa-15012d753282.png)

- Dawning Of

[2021-03-26 22:56] akshay1027 commented on #745
able to scroll now! 🙌🏻

[2021-03-27 02:45] ShubhamSj07 commented on #741
@anushbhatia , pls review above colors

[2021-03-27 03:14] Twinkle-Shimmer commented on #758
@anushbhatia
![linux](https://user-images.githubusercontent.com/72192456/112708552-9ba08300-8ed8-11eb-9d5f-cbcafce7f432.jpeg)

[2021-03-27 04:25] sharvariiii commented on #596
Can you please guide me what changes are required from my side because "the person will hover onto the card it will increase it's size and will show the information and read more button " this feature is already there. Also #758 has assigned to someone else so that person is working on that issue which is similar to this one. Will be waiting for your response.

[2021-03-27 06:20] #758 closed

[2021-03-27 06:21] smaranjitghose commented on #596
This was supposed to be a UI enhancement issue where you were expected to suggest improvements. Otherwise, the maintainers themselves would have stated the requirements

[2021-03-27 06:21] #596 closed

[2021-03-27 06:24] smaranjitghose commented on #741
This makes the UI even worse. Just raise an alert message when the submit button is pressed without the necessary details

[2021-03-27 06:25] smaranjitghose commented on #756
Please elaborate on how you plan to achieve this goal

[2021-03-27 06:27] #745 closed

[2021-03-27 06:29] smaranjitghose commented on #760
This totally invalidates the purpose of the project. I we have to use fonts that do not closely resemble handwritings, we could have just used Google Docs

[2021-03-27 06:29] #760 closed

[2021-03-27 06:35] smaranjitghose commented on #677
Please finish it within 2 days and give a PR.

Change the background of the form as well. consult with @anushbhatia if required

[2021-03-27 06:36] smaranjitghose commented on #743
@RaveenaBhasin you have 1 more day to complete this or else the issue and the corresponding PR would be closed

[2021-03-27 06:37] smaranjitghose commented on #757
No, it would make the UX weird with too much of cards

[2021-03-27 06:37] #757 closed

[2021-03-27 06:37] #736 closed

[2021-03-27 06:38] samidha28 commented on #677
Yeah sure ! Thanks .

[2021-03-27 06:44] smaranjitghose opened #764 "Sketch Page Bug: Canvas Size Limitation"
## Explanation

While scrolling down, the size of the canvas seems to be limited (w.r.t the length of the toolbar on the left). Ideally, it should be possible to draw on the entire screen.

## Sample Snapshot

![sketch_page_drag](https://user-images.githubusercontent.com/46641503/112712478-e8468700-8ef5-11eb-936c-991343549bba.png)

__NOTE__: If you don't know how to fix this, do not comment "I am

[2021-03-27 06:48] smaranjitghose opened #765 "Canvas Color Bug"
## Description

Whenever one tries to change the color of the canvas, the previous drawings disappear!

## Snapshots:

- Draw something on the default canvas

![Sketch_1](https://user-images.githubusercontent.com/46641503/112712552-70c52780-8ef6-11eb-8d42-114fcea36f3c.png)

- Try to change the canvas color

![Sketch_2](https://user-images.githubusercontent.com/46641503/112712562-791d6280-8ef6-11eb

[2021-03-27 06:52] smaranjitghose opened #766 "Improve Sketch Page UI"
## Description:

The current sketch page toolbar is weirdly placed over the canvas. We intend to revamp it similar to what the canva platform provides

## Snapshot

- Current State

![Sketch_UI](https://user-images.githubusercontent.com/46641503/112712726-1b3d4a80-8ef7-11eb-8feb-9e7281d464a0.png)

- Sample Output

![](https://lvivity.com/wp-content/uploads/2018/08/canva.jpg)

[2021-03-27 06:56] smaranjitghose opened #767 "Add Line Color and Fill Color Options"
## Snapshot

![Sketch_Color](https://user-images.githubusercontent.com/46641503/112712773-6b1c1180-8ef7-11eb-968c-aebe9df88d07.png)

## Description

Currently, the sketch feature allows one to have either hollow or solid shapes. We intend to improve upon this by splitting the color feature to have:

- Line Color (Color of the strokes/boundaries of the figures)
- Fill Color (Color of the region enc

[2021-03-27 06:59] smaranjitghose opened #768 "Opacity Feature UI @Sketch Page"
## Sample Snapshot:

![SKetch_opacoty](https://user-images.githubusercontent.com/46641503/112712833-e251a580-8ef7-11eb-80a3-3e5ba8b81133.png)

## Description:

Make the opacity option more appealing (i.e improve the UI of the slider). Additionally, remove the ability to see the amount of opacity. Having  both the quantitative option as well as GUI based option doesn't make much sense

[2021-03-27 07:02] smaranjitghose opened #769 "Remove Title,Body @Editor Page"
## Sample Snapshot

![title_body](https://user-images.githubusercontent.com/46641503/112712891-54c28580-8ef8-11eb-83d2-ab1246a5d908.png)

## Description

At the current stage of the project, it does not make much sense to have separate options for title and body. Revamp the functions so that one can simply start entering text into the document without the already existing distinction of title and

[2021-03-27 07:07] smaranjitghose opened #771 "Improve Custom Scroll Bar UI"
## Requirements:

- Do not mess up any other part of the web app
- Ensure the color scheme of the new custom scroll bar conforms to that of the rest of the web app
- Feel free to use resources like dribble,codepen for inspirations but please **do not copy-paste** directly. I expect you to give references in the PR description
- The issue is self-explanatory given one has read the above points. Loo

[2021-03-27 07:07] #678 closed

[2021-03-27 07:08] smaranjitghose commented on #622
Closed due to inactivity

[2021-03-27 07:08] #622 closed

[2021-03-27 07:09] smaranjitghose commented on #610
Closed due to inactivity

[2021-03-27 07:09] #610 closed

[2021-03-27 07:09] smaranjitghose commented on #624
Closed due to inactivity

[2021-03-27 07:12] smaranjitghose commented on #578
Closed due to inactivity

[2021-03-27 07:12] #578 closed

[2021-03-27 07:13] smaranjitghose opened #772 "Improve Pre-Loader Animation"
## [Primary Reference](https://www.youtube.com/watch?v=C0oBg_J2gbY&feature=youtu.be)

## Certain specifications
- **DO NOT COPY PASTE DIRECTLY FROM THE REFERENCE**
- Use the name of our project
- Use our logo (Favicon)
- DO NOT mess up the transition time ( keep it a sweet spot between too slow and too fast)
- Try to animate the pen in our logo
- Change the color of the background of the current a

[2021-03-27 07:13] #679 closed

[2021-03-27 07:14] #624 closed

[2021-03-27 07:15] smaranjitghose commented on #586
Closed due to inactivity

[2021-03-27 07:15] #586 closed

[2021-03-27 07:16] smaranjitghose commented on #587
Closed due to inactivity

[2021-03-27 07:16] #587 closed

[2021-03-27 07:17] smaranjitghose commented on #712
Closed due to inactivity

[2021-03-27 07:17] #712 closed

[2021-03-27 07:17] smaranjitghose commented on #727
Closed due to Inadequte work

[2021-03-27 07:17] #727 closed

[2021-03-27 07:28] #739 closed

[2021-03-27 07:30] smaranjitghose opened #774 "Add Feature to Load Images from Local System on Sketch Page (similar to any photo editor)"
##  Requirements :

- Do not mess up any other part of the app that you are not working with
- Add a small button in the Editor Menu (Perhaps on the horizontal one)
- The functionality is self-explained by the title of the issue
- Write checks for importing images with extensions: .webp, .png, .jpeg. jpeg only

[2021-03-27 07:31] #676 closed

[2021-03-27 07:34] smaranjitghose opened #775 "Image Format Conversion Functions @MediaManip"
In continuation to #676

# Requirements:

Write functions to achieve the following conversions on the Media Manip page:

- PNG to JPG
- JPG to PNG
- PNG to WEBP
- WEBP to PNG
- JPG to WEBP
- WEBP to PNG
- JIFF to PNG
- JIFF to JPG

__NOTE__: Please do not take this issue if you don't have any clue how to resolve it. We expect multiple participants to work on this. Hence Please comment the exact fu

[2021-03-27 07:34] smaranjitghose commented on #680
Closed due to inactivity

[2021-03-27 07:34] #680 closed

[2021-03-27 07:41] smaranjitghose opened #776 "Ability to modify size and position of figures @Sketch Page"
## Sample Snapshot

![Zie](https://user-images.githubusercontent.com/46641503/112713944-e7b1ee80-8efd-11eb-973c-7d280a56e939.png)

## Description

- The title explains the issue well!

[2021-03-27 07:43] smaranjitghose opened #777 "Add More fill Options for Figures @ Sketch Page"
## Sample Snapshot

![fill_style](https://user-images.githubusercontent.com/46641503/112713983-1d56d780-8efe-11eb-8b71-2fe0aadf5db5.png)

## Description

- The title explains the issue well!

[2021-03-27 07:44] smaranjitghose commented on #740
Closed due to inactivity

[2021-03-27 07:44] #740 closed

[2021-03-27 07:45] smaranjitghose commented on #734
There is no delete option in editor page as of now

[2021-03-27 07:45] #734 closed

[2021-03-27 07:46] smaranjitghose commented on #741
Just checked we already have that. This issue is pointless

[2021-03-27 07:46] #741 closed

[2021-03-27 07:56] smaranjitghose opened #778 "Remove meaningless content @Home Page"
## Sample Snapshot:

![Open_Source_Sectopm](https://user-images.githubusercontent.com/46641503/112714349-f4cfdd00-8eff-11eb-85da-78de53908295.png)

[2021-03-27 07:57] smaranjitghose opened #779 "Remove toTop button from Mobile View (or similar smaller screens)@Home Page"
## Sample Snapshot

![to_top](https://user-images.githubusercontent.com/46641503/112714389-2e084d00-8f00-11eb-949d-764e984cd7fc.png)

[2021-03-27 08:05] ShubhamSj07 commented on #741
Do check contact us form validations!
No proper err message on fields, everything is cluttered and also on submitting form page is getting reloaded which shouldn't be happening!
I suggested my idea of improving form also on submitting form we were going to show msg card.
But no issues , nice to meet u guys👋🏻

[2021-03-27 08:17] nishant23122000 opened #780 "Add Feature to Choose Location and Name of the Download File @Editor"
currently, after editing the file, the file is generated in PNG or PDF format. but the file name is always **generated.pdf** or **generated.png**.
So, I think we should provide an input field to change the file name to the user when the user click on download button,

[2021-03-27 08:19] anushbhatia commented on #780
Assigned for 2 days

[2021-03-27 08:36] smaranjitghose commented on #741
![form_validations](https://user-images.githubusercontent.com/46641503/112715337-a02f6080-8f05-11eb-9ec5-1559a9e60c56.png)

[2021-03-27 08:46] nishant23122000 commented on #780
ok, sorry for this and can I use another npm package like materialUI?

[2021-03-27 08:56] N-Shar-ma commented on #760
@smaranjitghose You don't think any of those fonts work well for this project? What about the 2 that @anushbhatia liked? (Beth Ellen and Cedarville Cursive)

I actually spent quite some time looking for and picking out suitable fonts, and then figuring out how to incorporate them in the project's code base, so I'd like to add at least 1-2 that you approve of. :)

[2021-03-27 08:58] ashuvssut commented on #779
i want to work on this'

[2021-03-27 08:59] ashuvssut commented on #778
i want to work on this.

I have to remove that part only.. right?

[2021-03-27 09:05] smaranjitghose commented on #779
Assigned for 2 days

[2021-03-27 09:12] AbhipsaGuru1012 commented on #778
@smaranjitghose can I work on this issue?

[2021-03-27 09:39] priyamourya commented on #778
can I work on this issue?

[2021-03-27 09:58] N-Shar-ma commented on #769
I'd like to work on this!

[2021-03-27 10:15] Mayank4git commented on #778
i want to work on this issue. Please assign me this issue.

[2021-03-27 11:21] RaveenaBhasin commented on #743
@smaranjitghose I'm not able to find logo for scss anywhere. Will it be ok if I leave it like css only?

[2021-03-27 11:27] ashuvssut opened #783 "[Bug] Editor editcontext is not switching"
because of a merged change.. this editcontext is not switching anymore

![screen2](https://user-images.githubusercontent.com/60546840/112719163-b2cd7980-8eb4-11eb-9f6f-c6d97c99d597.gif)

[2021-03-27 11:43] ShubhamSj07 commented on #741
@smaranjitghose ,this is how i was going to do....

Preview

https://user-images.githubusercontent.com/56510414/112719561-8438b880-8f1f-11eb-9dd8-cf7bbbef654b.mp4

[2021-03-27 12:35] ashuvssut commented on #764
It is not possible to do this

one can resize canvas height by just doing
[code]

but there's a downside --------> the content inside it is re-set (the drawn stuffs gets removed).

if you are thinking to just copy the previous canvas state and put it in the new canvas... this is simple not possible
It is because.. that copied canvas state will contain data for that previous dimension of that canva

[2021-03-27 15:32] shahina-bano commented on #713
@anushbhatia @smaranjitghose, actually I wanted to ask that the code after merging others PRs doesn't have the functionality of bold and italics, so I wanted to confirm that it was removed after your approval only right? Since I was thinking to implement the underline feature with bold and italics only but it's not there now in the main code.

[2021-03-27 16:49] ashuvssut opened #787 "make handwritten shapes instead"
I am proposing _to implement_ **handwritten-looking like shapes** and **removing the existing** solid line computerized-looking like shapes.

[2021-03-27 17:05] ashuvssut commented on #765
i want to work on this

[2021-03-27 17:52] ashuvssut commented on #768
i want to work on this

[2021-03-27 18:10] Mukta-Sawant commented on #674
@anushbhatia Due to some unavoidable reasons, I haven't completed the work on time. It's a request if I can get more time to work on this issue. Thank you.

[2021-03-27 18:22] padmajabhol commented on #778
I want to work on this issue.

[2021-03-27 18:55] Sonaljain6431 commented on #743
Hey, I am interested to work in this issue. Would you assign it to me?

[2021-03-27 18:56] Sonaljain6431 commented on #744
Hey @alkatrivedi ! I am interested to work in this issue. Would you assign it to me?

[2021-03-27 18:58] Sonaljain6431 commented on #715
Hey, @anushka1309paul ! I am interested to work on this issue. Would you assign it to me?

[2021-03-27 21:51] Abhishekkr93 commented on #771
@smaranjitghose I would like to contribute as a Gssoc21 participant. could you please assign me this?

[2021-03-28 07:53] shahina-bano commented on #713
@anushbhatia sir I have done some work...but I am facing an issue... so can you please guide me a little.
I have implemented the underline thing, but the underline is not getting converted into an image along with the text.. So can you please tell me where the target is converted into image in the code?

[2021-03-28 07:56] shahina-bano commented on #713
![Screenshot (327)_LI](https://user-images.githubusercontent.com/56913578/112745871-21036080-8fc9-11eb-8108-79d0c24279d3.jpg)

[2021-03-28 09:55] smaranjitghose commented on #769
Assigned for 3 days

[2021-03-28 09:57] smaranjitghose commented on #760
Cedarville Cursive works but Beth Ellen is not that practical (nowadays, we don't have fountain pens using which the strokes would be so thick). If you wish you can go ahead with Cedarville Cursive

[2021-03-28 09:59] #783 closed

[2021-03-28 10:01] #765 closed

[2021-03-28 10:05] #768 closed

[2021-03-28 10:08] smaranjitghose commented on #741
If it was a sign up or login form, it would have definitely made sense to add that. However, for a compact contact form as this one, it would be an overkill

[2021-03-28 10:23] #779 closed

[2021-03-28 10:23] smaranjitghose commented on #771
Assigned for 3 days

[2021-03-28 10:25] smaranjitghose commented on #743
Check [this](https://worldvectorlogo.com/logo/sass-1)

[2021-03-28 10:26] smaranjitghose commented on #713
The entire issue was regarding adding a feature to the Editor and not the Sketch Page.

[2021-03-28 10:29] smaranjitghose commented on #674
Cool. You are assigned for 3 more days. But do make sure you meet the requirements stated above!

[2021-03-28 10:29] smaranjitghose commented on #715
Assigned for 3 days

[2021-03-28 10:34] smaranjitghose commented on #778
@padmajabhol @AbhipsaGuru1012 @Mayank4git @priyamourya Check out the other issues

[2021-03-28 10:52] Abhishekkr93 commented on #771
Okay, thanks for update!

[2021-03-28 11:06] smaranjitghose opened #792 "Spacing Bug Mobile View @Home Page"
## Sample Snapshot:

![Spacing_Bug](https://user-images.githubusercontent.com/46641503/112750023-a6940a00-8fe3-11eb-9593-73c00b9d6e42.png)

[2021-03-28 11:08] smaranjitghose opened #793 "Contributor_Section Bug @Home Page"
Sample Snapshot:
![Contributor_bug](https://user-images.githubusercontent.com/46641503/112750069-e8bd4b80-8fe3-11eb-8172-aa36567023da.png)

# Description:

As shown above, for small screens, the contributor cards are too much squeezed

[2021-03-28 11:16] shahina-bano commented on #713
Okay, I will implement it in the editor, sorry that was my mistake. Please open this issue again @anushbhatia

[2021-03-28 12:46] anushka1309paul commented on #715
Respected sir,
This issue was already resolved by me and the PR was merged as well.
Could you close this issue please?
Thanks & Regards,
Anushka Paul

On Sun, Mar 28, 2021, 3:59 PM Smaranjit Ghose ***@***.***>
wrote:

[2021-03-28 13:43] ashuvssut commented on #793
i want to work on this

[2021-03-28 13:43] ashuvssut commented on #792
i want to work on this

[2021-03-28 14:13] #778 closed

[2021-03-28 16:57] Chaitanya31612 commented on #774
@smaranjitghose I would like to work on this feature.

[2021-03-28 17:37] ashuvssut commented on #767
i want to work on this

[2021-03-28 17:37] Priyanshu-U opened #798 "Max-Width Bug in the Editor"
There is a bug in the Editor section that allows the user to increase the width of the writing section to more than what is allotted to the editing part.
The picture of the bug is attached below.
![image](https://user-images.githubusercontent.com/62770722/112761703-20df8100-901a-11eb-96b0-c213df2f2653.png)
I can solve the issue if you could assign it to me!

[2021-03-29 02:52] #793 closed

[2021-03-29 02:52] #792 closed

[2021-03-29 02:59] smaranjitghose commented on #774
Assigned for 3 days

[2021-03-29 03:10] smaranjitghose commented on #715
Oh sure!

[2021-03-29 03:10] #715 closed

[2021-03-29 03:16] smaranjitghose commented on #743
Closed due to failure to meet deadlines

[2021-03-29 03:16] #743 closed

[2021-03-29 03:32] smaranjitghose opened #800 "Convert all reactstrap and bootstrap related code to react-bootstrap"
Requirement(s):
- The title of the issue explains it well!

[2021-03-29 03:58] smaranjitghose opened #801 "Improve NavBar Responsiveness for Small Screens (+ UI Enhancment)"
[Reference](https://www.youtube.com/watch?v=T2MhVxJxsL0)

[2021-03-29 04:39] smaranjitghose opened #802 "Scrollbar Missing @Editor Page"
## Snapshot(s):
![scroll_bar_missing](https://user-images.githubusercontent.com/46641503/112787692-b6a8f980-9076-11eb-9e67-0d36408d7bbf.png)

## Requirement(s):

- Add the custom scrollbar (present on the other pages) to Editor Page

[2021-03-29 04:43] #767 closed

[2021-03-29 04:45] smaranjitghose commented on #756
Closed due to inactivity

[2021-03-29 04:45] #756 closed

[2021-03-29 04:48] #752 closed

[2021-03-29 04:48] smaranjitghose commented on #749
@sharvariiii any updates>?

[2021-03-29 07:37] adithyanarayana commented on #802
I am gssoc'21 participant and I would like to work on this

[2021-03-29 07:48] smaranjitghose commented on #802
Assigned for 2 days

[2021-03-29 09:28] N-Shar-ma opened #803 "Need Finer Control over Line Spacing in the Editor"
## Current Situation:

In the Editor, line-spacing can only be set from 1 to 5 in steps of 1.

## Problem:

- Only 5 permitted values with large gaps between them are not enough to satisfy most users
- For most font sizes and styles, **none of the 5 line spacing values allowed sync well with the ruled sheets**

## Proposed Solution:

Allow line-spacing to be set for the same range, but in smaller

[2021-03-29 10:55] RubenFalcao14 opened #804 "No Full stop at the end of the sentences"
There are no Full stop at the end of various sentences.
I would like to fix the issue by adding the full stops.

I'm a GSSOC'21 participant and I would love to fix it.

[2021-03-29 14:58] Sreelayavuyyuru commented on #772
I really want to try this out. Please assign this to me.

[2021-03-29 20:03] AshuKV commented on #800
Can I work on this issue under GSSOC21? Kindly assign it to me.

[2021-03-29 20:09] AshuKV commented on #777
Can I work on this issue under GSSOC21? Kindly assign it to me.

[2021-03-29 21:45] smaranjitghose commented on #800
Assigned for 2 days

[2021-03-29 21:48] #635 closed

[2021-03-29 21:55] smaranjitghose commented on #804
Assigned for 1 day

[2021-03-29 21:57] smaranjitghose commented on #803
Assigned for 2 days

[2021-03-29 21:57] smaranjitghose commented on #772
Assigned for 3 days

[2021-03-29 22:03] #802 closed

[2021-03-29 22:05] smaranjitghose commented on #777
This is a continuation of the last PR @ashuvssut was working on. If he is unable to do it within a couple of days, then @AshuKV can go forward

[2021-03-29 22:11] #744 closed

[2021-03-29 22:13] smaranjitghose commented on #674
@Mukta-Sawant Any updates?

[2021-03-29 22:14] smaranjitghose opened #809 "Discussion Issue"
How many of you would be interested in working on issues related to TFJS?

[2021-03-29 22:16] #681 closed

[2021-03-29 22:17] smaranjitghose opened #810 "Remove Header Transition Effect"
## Relevant Snapshot:
![meta_tag_conv](https://user-images.githubusercontent.com/46641503/112906877-932f8e80-910a-11eb-8618-ea14e3e197cd.png)

[2021-03-30 02:37] raman-thakur commented on #810
I want to work on this issue as a participant in gssoc21, may I??

[2021-03-30 06:14] nishant23122000 opened #811 "Add Feature to Put Default Filename into Inputbox @Editor"
## Actual behavior
For now, if we download the file without importing any file, then the file will download which contain the placeholder text in the body part of the file,
and second thing is ,The input box which is for the custom filename is empty

## Expected behavior
I think we should not give permission to the user to download the file before importing any file, So we can show an alert messag

[2021-03-30 06:42] tanishq-arya commented on #801
Please assign me this issue under gssoc

[2021-03-30 09:52] priyamourya commented on #810
I went through the code and I can help in removing the transition effect from header so can you assign this task to me?

[2021-03-30 12:06] ashuvssut commented on #777
@AshuKV , I am removing current drawing methods and implementing roughjs instead.

So this issue is dependent on my work. My PR ETA: 2days

[2021-03-30 12:08] fazer1929 commented on #766
I have seen the tutorial and I would like to work on this issue. Can you please assign it to me?

[2021-03-30 16:50] ashuvssut commented on #636
Hello @smaranjitghose , @anushbhatia

I have a good news. we can use the local storage.

I came up with a simpler solution. I got to save that image data in kbs

imagedata is <50kb size

[2021-03-30 17:20] RubenFalcao14 commented on #804
Hii, I have created a PR #812 , please check it and let me know if it's fine.

[2021-03-30 20:11] ashuvssut opened #815 "[Enhancement]: the line drawn by the pen appears on the fly!"
currently the line drawn by the pen only appears after the user releases the mouse-click.
![before](https://user-images.githubusercontent.com/60546840/113052087-90a95500-915b-11eb-9676-eb144ee2d9eb.gif)

I have found a better way to draw a line

In my PR for this issue, the line drawn by the pen appears on the fly!

[2021-03-30 22:05] ashuvssut commented on #777
Please assign me this one. I am 100% that I can make it

[2021-03-30 22:23] #804 closed

[2021-03-30 22:25] #815 closed

[2021-03-30 22:25] smaranjitghose commented on #810
Assigned for 2 days

[2021-03-30 22:29] #787 closed

[2021-03-30 22:38] #636 closed

[2021-03-30 22:41] ashuvssut opened #818 "[FEATURE] Load Previous State from our very own 'save file' (.d2psketch)"
I have seen that excalidraw.com offers users to save their progress in a .excalidraw file. It could be opened whenever the user wishes to continue his/her work by loading that saved .excalidraw file

Simlarly I will save state in .d2psketch file instead
And, I will add feature to load  Previous State form the .d2psketch file

[2021-03-30 22:43] #769 closed

[2021-03-30 22:44] smaranjitghose commented on #818
Make it d2ps🤣. Short and cute

[2021-03-30 22:45] ashuvssut commented on #818
OK d2ps it is!😁

[2021-03-30 22:46] smaranjitghose commented on #811
Actually, in most cases, the user would just copy-paste content from the internet and the need to import a txt file won't arise

[2021-03-30 22:49] smaranjitghose commented on #801
Assigned for 3 days

[2021-03-30 22:49] smaranjitghose commented on #749
Closed due to inactivity

[2021-03-30 22:49] #749 closed

[2021-03-31 03:52] nishant23122000 commented on #811
Oh, that's true , i forgot it😅 i think like only we can import file.
Ok ok but if user import file then we can add default file name in input field . What about this?

[2021-03-31 04:00] raman-thakur commented on #810
sir I commented first but you didn't assigned this to me ??

[2021-03-31 05:50] priyamourya commented on #810
@smaranjitghose do you want me to remove the text come back also?
![modification](https://user-images.githubusercontent.com/65748264/113096587-12a88500-9213-11eb-91fe-1ff934e92faf.png)

[2021-03-31 07:06] N-Shar-ma opened #820 "Major Bug in Word Count Feature in Editor"
## Problem:
Currently, word count is only based on spaces between words, but not on newline (Enter) characters. This gives a wrong word count whenever the user uses the newline character (presses Enter)

## Screenshot of Bug:
![image](https://user-images.githubusercontent.com/68962290/113103182-cbd77280-91b3-11eb-852f-e2948b53df6c.png)

## Possible Solution:
I will use newline character along with

[2021-03-31 08:18] Sreelayavuyyuru commented on #772
I need a little help on this, I am fairly new to this, I have researched on this and found out that it will be tooo tedious to make this in js and css
I looked for another solution, could you tell me if I am going in the right direction?
1. Make a logo in "After effects".
2. Use that logo in the Preloader files

[2021-03-31 14:07] noviicee opened #821 "Update marking scheme for GSSOC in CONTRIBUTING file."
The marking scheme for GSSOC'21 has been changed and should be updated in the CONTRIBUTING file also.
:)

[2021-03-31 17:38] ashuvssut commented on #821
@noviicee give ur PR ;) dont wait to get assigned.

[2021-03-31 17:44] noviicee commented on #821
@ashuvssut  Okay!
Btw any level tags associated with it..??

[2021-03-31 17:46] ashuvssut commented on #821
minor doc changes get counted for : `level0` labels

[2021-03-31 17:47] noviicee commented on #821
Okay thanks!!
Doing it right now!

[2021-03-31 17:58] noviicee commented on #821
@ashuvssut
Done [here](https://github.com/smaranjitghose/doc2pen/pull/824)

[2021-04-01 04:20] anushri20 commented on #674
@smaranjitghose Hi, I would like to work on this.

[2021-04-01 08:58] Nishayadav-bit commented on #809
Hey @smaranjitghose ,I'm a GSSOC'21 participant .
I would like to work on this issue please assign to me .

[2021-04-01 13:51] nishant23122000 opened #830 "Improve UI @Editor"
Hey, I think we should improve our editor section UI. where we have to make 2 parts of settings.js like change color or change font will be move on left size and font,letter-spacing, etc will move on the right side.
Check this UI I created

## before
![image](https://user-images.githubusercontent.com/53515714/113303754-06115300-931f-11eb-9227-ed0f554e5321.png)

Also, the Setting section is on the

[2021-04-01 14:08] #803 closed

[2021-04-01 14:10] ashuvssut opened #831 "Convert all CSS related to Editor Page to SCSS"

[2021-04-01 14:23] #818 closed

[2021-04-01 14:25] #821 closed

[2021-04-01 14:46] smaranjitghose commented on #674
Assigned for 3 days

[2021-04-01 14:54] #820 closed

[2021-04-01 15:03] smaranjitghose commented on #810
Actually, when I saw both of your comments  I randomly choose one of you for it. No specific reason for choice as such. There are lots of other issues. Feel free to claim others.

[2021-04-01 15:04] smaranjitghose commented on #810
Yes

[2021-04-01 16:01] priyamourya commented on #810
#822

[2021-04-01 17:49] ashuvssut opened #833 "Convert all CSS related to Sketch Page to SCSS"

[2021-04-01 17:50] ashuvssut opened #834 "Convert all CSS related to 404 Page to SCSS"

[2021-04-02 04:05] pro-vider opened #835 "Add a footer"
Hii, I am a GSSOC'21 participant,I want to add a footer

[2021-04-02 06:49] rithgan commented on #834
@smaranjitghose Can i work on this?

[2021-04-02 07:14] #835 closed

[2021-04-02 07:14] anushbhatia commented on #835
There's already a footer in the project.

[2021-04-02 07:16] smaranjitghose commented on #809
This is just for discussion. @Nishayadav-bit would you be able to pick up the basics of TFJS or ML5 if assign issues related to it?

[2021-04-02 07:18] smaranjitghose commented on #830
Check #766

[2021-04-02 07:18] #830 closed

[2021-04-02 08:31] nishant23122000 commented on #830
@smaranjitghose  So we have to make it like this? because issue #766 is pointing on sketch page design

[2021-04-02 09:01] nishant23122000 opened #836 "Display Active configuration@Editor"
What if we display the user currently which configuration is in use?

We can display the active font color, sheet, and style of font So that the user will know about the active configuration. because in the current scenario we can not say that currently which font family is in use, we have to check manually in the dropdown section

[2021-04-02 12:12] ashuvssut opened #837 "ask user to rename his/her "save file" before saving @sketch-page"

[2021-04-02 13:20] shrishti-c commented on #774
Since, its been 5 days of issue being assigned, wanted to know if this issue is still open, I would like to work on it.

[2021-04-02 14:03] shrishti-c opened #838 "Limiting phone number restriction"
Limiting phone number limit in contact us section to globally recognized rule.

[2021-04-02 18:38] anushbhatia commented on #830
we want to keep the theme of the editor the same. the only thing you can add is that if you can make it sticky. so that all features are available as we scroll

[2021-04-03 05:17] shrishti-c opened #841 "Canvas portion in sketch section"
![Screenshot (154)](https://user-images.githubusercontent.com/73748606/113469256-d91d8700-9469-11eb-8387-a0b9db1219ea.png)

While drawing on canvas a part of art gets hidden behind tool box. We need to fix the max size of canvas.

[2021-04-03 08:24] #838 closed

[2021-04-03 08:24] smaranjitghose commented on #774
Assigned to you for 4 days

[2021-04-03 08:26] #837 closed

[2021-04-03 08:27] smaranjitghose commented on #841
Please comment on #766 for resolving the same

[2021-04-03 08:27] #841 closed

[2021-04-03 09:11] shrishti-c commented on #766
I would like to work on this issue. Please assign it to me

[2021-04-03 09:13] smaranjitghose commented on #766
Assigned for 5 days. Discuss the UI/UX related stuff with @anushbhatia please

[2021-04-03 09:33] shrishti-c commented on #766
![Screenshot (154)](https://user-images.githubusercontent.com/73748606/113474331-0596ca80-948d-11eb-8cf6-17618ce6ed11.png)
@anushbhatia There seems some issue in the canvas. When something is drawn it get's hidden behind toolbox. Shall we fix first the size issue of canvas so that we can later work distinctly on toolbox UI.

[2021-04-03 09:38] shrishti-c commented on #774
On it :)

[2021-04-03 10:06] smaranjitghose commented on #766
When we are introducing the sidebar, we are automatically reducing the size of the canvas (check out CANVA once please)

[2021-04-04 00:13] akshay1027 opened #843 "Links in the readme(under the hood) to open in a new tab."
Links in the readme to open in a new tab so that it is easier for the user to navigate to GitHub codebase.

[2021-04-04 04:17] smaranjitghose commented on #843
Are you planning to replace the markdown code with html and have a target = blank attribute for a tag?

[2021-04-04 08:19] bijankundu commented on #775
I am not a participant of gssoc21, can I still work on this?

[2021-04-04 09:09] Rishikakanojia commented on #801
Can I work on this issue please ?

[2021-04-04 10:18] AbhipsaGuru1012 commented on #801
@smaranjitghose can I work on this issue under GSSoC?

[2021-04-04 10:35] tanishq-arya commented on #801
@smaranjitghose I have made a new navbar component. This renders the header component unused so I will just remove the import if it's okay. I will make a pull request by today.

[2021-04-04 11:56] sk1122 commented on #776
I will try to build this

[2021-04-04 12:08] akshay1027 commented on #843
Yes but even then it's not working!  I found out now that we can't do this on Github! here is the link to that: mojombo/github-flavored-markdown#28
so I will close this.

[2021-04-04 12:08] #843 closed

[2021-04-05 05:21] 4kashyadav opened #845 "Adding footer which contains your logo and copywrite !!"

[2021-04-05 05:22] 4kashyadav commented on #845
please assign this to me i want to contribute

[2021-04-05 16:21] srishtij2000 commented on #845
Can I work on this issue?

[2021-04-05 16:42] anushbhatia commented on #845
we don't have a logo neither we don't want to mention the copyright cause we are not registered.

[2021-04-05 16:42] #845 closed

[2021-04-05 16:49] 4kashyadav opened #846 "Animation in support us!!"
website has animation in the first icon bit not in second so can you allow me to add animation in the second one also!
![Screenshot (505)](https://user-images.githubusercontent.com/78416508/113599988-01b9a280-965d-11eb-9a93-655e5320c581.png)
![Screenshot (506)](https://user-images.githubusercontent.com/78416508/113600002-05e5c000-965d-11eb-88a6-67269999a209.png)

[2021-04-05 16:51] 4kashyadav commented on #846
@smaranjitghose please assign this to me!

[2021-04-05 19:33] Abhishek765 commented on #798
@smaranjitghose  Is this bug fixed Can I work on it I found what's wrong with this. Please let me know.

[2021-04-06 12:39] srisatya1197 opened #847 "Add tech stack in the readme file ."
As the readme file looks spiffing the only thing I want to do is adding tech stack with logos in readme file so it looks more understandable for contributors . I'm a GSSOC'21 participant I want to work on this issue please assign this to me .

[2021-04-06 20:59] Abhishek765 commented on #775
@smaranjitghose Also Download button is not working properly, Media manip needs a lot of work Will work on this soon ;)

[2021-04-07 01:18] #834 closed

[2021-04-07 01:19] smaranjitghose commented on #847
Assigned for 1 day

[2021-04-07 01:21] #831 closed

[2021-04-07 01:24] smaranjitghose commented on #846
Assigned for 3 days.

- Increase the space between the logos so that there is no overlap.

[2021-04-07 01:26] smaranjitghose commented on #801
Assigned for 3 days

[2021-04-07 01:28] smaranjitghose commented on #801
If you wish, you can give a follow up PR for the one @AbhipsaGuru1012 would be working on and add a svg animation

[2021-04-07 01:33] smaranjitghose commented on #775
Sure

[2021-04-07 01:33] #798 closed

[2021-04-07 01:35] smaranjitghose opened #849 "Remove PageScrollBar @ Editor Page"
![doc2pen](https://user-images.githubusercontent.com/46641503/113797832-a7f5cd00-976f-11eb-9ad6-92991455e368.png)

[2021-04-07 01:39] smaranjitghose commented on #776
Assigned for 3 days

[2021-04-07 02:27] ashuvssut commented on #849
I want to work on this

[2021-04-07 07:55] bijankundu commented on #775
actually, I am trying to convert the images using html5 canvas, though it's working fine with few files, but this might cause a problem if a large number of images are converted at a single go. While converting, the page might lag a bit. Do you have any alternate solution for this issue?

[2021-04-07 08:00] bijankundu commented on #775
I am done with the media conversion part and also the download part. I can create a PR if you want or if we don't find an alternate solution.

[2021-04-07 08:24] srisatya1197 commented on #847
Sir I'm having exams . Can I please make it tomorrow Sir .

[2021-04-07 09:46] adithyanarayana commented on #849
Hey! Is there any problem? I made changes accordingly in #806
Do you want to revert this ?

[2021-04-07 12:42] simranbhalla3 commented on #833
I am a Gssoc participant , please assign me this issue.

[2021-04-07 12:51] ashuvssut commented on #833
this issue was dependent on a PR. that PR was merged today morning only. so will start working today only

[2021-04-07 17:38] Priyanshujha11 opened #853 "Adding highlighting feature on download file button in Editor section."
I want to add highlighting feature on download file button in Editor section as we hover over it which is present in other buttons like change sheet and change style.
![Screenshot (17)](https://user-images.githubusercontent.com/78751081/113910071-0bc2d900-97f6-11eb-8ade-1efbf670e3a5.png)
![Screenshot (18)](https://user-images.githubusercontent.com/78751081/113910086-11202380-97f6-11eb-949d-5b6c394

[2021-04-07 17:41] 4kashyadav opened #854 "I want to add follow section in the footer of your website"
I will add a follow section in your footer in which I will add some buttons of Instagram, Twitter, Facebook, and so on so can you assign me this, please!
Like this:
![Screenshot (508)](https://user-images.githubusercontent.com/78416508/113910486-82f86d00-97f6-11eb-9cce-b768479020a5.png)

[2021-04-07 17:42] #854 closed

[2021-04-08 05:21] srisatya1197 commented on #847
due to exmas I was unable to do Sir today evening I 'll do it for sure

[2021-04-08 06:57] #849 closed

[2021-04-08 06:58] #777 closed

[2021-04-09 09:45] 4kashyadav commented on #846
@smaranjitghose my pull request is accepted but not showing in this

[2021-04-09 09:56] 4kashyadav opened #858 "Add github link of project maintainers!"
I will add a GitHub link of the project maintainers, so by clicking on their photos we will be redirected to their accounts.
![Screenshot (514)](https://user-images.githubusercontent.com/78416508/114163544-ee9e1f80-9947-11eb-9d99-47bfbe67c008.png)

[2021-04-09 10:31] srisatya1197 commented on #847
@smaranjitghose Sir Could you please give level lable ?

[2021-04-09 11:01] iaryangoyal commented on #858
Kindly Assign me this work?

[2021-04-09 11:02] iaryangoyal commented on #853
kindly Assign me this work sir

[2021-04-09 12:27] smaranjitghose commented on #858
@anushbhatia could you please suggest the last configuration where we had this sorted along with linkedin?

[2021-04-09 12:31] smaranjitghose commented on #853
Assigned to @Priyanshujha11 for 2 days

[2021-04-09 12:32] smaranjitghose commented on #847
Done

[2021-04-09 12:32] #847 closed

[2021-04-09 15:47] 4kashyadav commented on #858
@smaranjitghose bro please provide me the links I have almost completed this work! and bro please assign this work to me!

[2021-04-10 17:07] Nishayadav-bit commented on #858
Hi @smaranjitghose , I'm a GSSOC'21 participant . I would like to work on this issue please assign to me.

[2021-04-11 02:15] smaranjitghose commented on #858
Have a look at #674

[2021-04-11 05:01] anushbhatia commented on #858
Last configuration had logos of both LinkedIn and github on hovering over these cards

[2021-04-11 05:26] smaranjitghose commented on #858
@4kashyadav Please work with @anushbhatia for this

[2021-04-11 05:28] 4kashyadav commented on #858
alright!

[2021-04-11 13:51] anushbhatia commented on #775
Sure just give the PR we will see if we can resolve it.

[2021-04-11 13:54] 4kashyadav opened #860 "Add hovering effect in buttons present in sketch section!"
I think if I will add a hovering effect in these buttons like they will change their colour when we hover over them then it will be more attractive can please assign this to me!
![Screenshot (522)](https://user-images.githubusercontent.com/78416508/114307029-7710f180-9afb-11eb-8a41-7232f6468b40.png)

[2021-04-11 15:58] Priyanshujha11 opened #862 "Changing the color of hovering"
In editor section the import file button have a different color of hovering as compared to other button so its unpleasant I want to change the color of hovering.

[2021-04-11 16:00] Priyanshujha11 opened #863 "Changing the cursor"
Changing the cursor on import file from pointer to hand grab which is used other buttons such as change sheet, download file

[2021-04-11 16:46] Shivangi-ch commented on #863
Please assign this to me @Priyanshujha11

[2021-04-11 16:47] Shivangi-ch commented on #862
Assign this  to me.

[2021-04-12 06:52] Ankita297 commented on #516
Can i work on this @smaranjitghose ?

[2021-04-12 10:33] anshika208 commented on #774
hey!! @smaranjitghose if there is no update then can i work on it?

[2021-04-13 16:45] Ankita297 commented on #516
@smaranjitghose  ?

[2021-04-13 18:25] sreetu opened #865 "Adding login and signup pages"
I'm a GSSOC'21 participant.
Please assign this issue to me @smaranjitghose .

[2021-04-13 19:09] smaranjitghose commented on #865
Not required

[2021-04-13 19:09] #865 closed

[2021-04-13 19:20] smaranjitghose commented on #774
Sure. Assigned for 4 days

[2021-04-13 19:25] #775 closed

[2021-04-13 19:28] #833 closed

[2021-04-13 19:29] smaranjitghose opened #866 "Add Feature to move and modify elements on Sketch Page"
## Sample Snapshot

![Zie](https://user-images.githubusercontent.com/46641503/112713944-e7b1ee80-8efd-11eb-973c-7d280a56e939.png)

## Description

- The title explains the issue well!

[2021-04-13 19:34] smaranjitghose opened #867 "Improve Pre-Loader UI"
## [Primary Reference](https://www.youtube.com/watch?v=C0oBg_J2gbY&feature=youtu.be)

## Certain specifications
- **DO NOT COPY PASTE DIRECTLY FROM THE REFERENCE**
- Use the name of our project
- Use our logo (Favicon)
- DO NOT mess up the transition time ( keep it a sweet spot between too slow and too fast)
- Try to animate the pen in our logo
- Change the color of the background of the current a

[2021-04-13 19:35] smaranjitghose opened #868 "Make new Project Maintainer UI"
## Requirements

- Try to have a swish effect like the cards in [this](https://www.hellomonday.com/about)
- Below the pictures, put the respective names
- Below the names put the Github and Linkedin icons
-  Use [microanimations](https://useanimations.com/) for the social media icons
- Try your level best to have the images change on click (as in the reference above).
- The images (max of 3 for ea

[2021-04-13 19:37] smaranjitghose opened #869 "Sidebar Update in Sketch Page"
## Description:

The current sketch page toolbar is weirdly placed over the canvas. We intend to revamp it with a sidebar as shown in the example below

[Sample Tutorial](https://www.youtube.com/watch?v=mN3P_rv8ad4)

## Snapshot

- Current State

![Sketch_UI](https://user-images.githubusercontent.com/46641503/112712726-1b3d4a80-8ef7-11eb-8feb-9e7281d464a0.png)

- Sample Output

![](https://lvivity

[2021-04-13 19:38] #858 closed

[2021-04-13 19:39] smaranjitghose opened #870 "Fix Sketch Page Size Limitation"
## Explanation

While scrolling down, the size of the canvas seems to be limited (w.r.t the length of the toolbar on the left). Ideally, it should be possible to draw on the entire screen.

## Sample Snapshot

![sketch_page_drag](https://user-images.githubusercontent.com/46641503/112712478-e8468700-8ef5-11eb-936c-991343549bba.png)

__NOTE__: If you don't know how to fix this, do not comment "I am

[2021-04-13 20:13] anushbhatia opened #871 "Scroll Bar in Sketch Page✨"
### Requirements
1. Scrollbar not present in sketch page due to which many options cannot be seen and can't be used.
2.  Also keep in mind functionality shouldn't be modified.
![image](https://user-images.githubusercontent.com/40017559/114614906-b9385f80-9cc2-11eb-97d3-30e5195cae25.png)

[2021-04-13 20:16] anushbhatia opened #872 "Adding Footer to Sketch Page🎉"
### Requirements
1. Add the same footer to all pages similar to present in the footer and editor.
2. But after the scroll bar issues is resolved proceed with this #871

#### Currenlty
![image](https://user-images.githubusercontent.com/40017559/114615261-17654280-9cc3-11eb-9761-cc35379b5647.png)

##### Required
![image](https://user-images.githubusercontent.com/40017559/114615315-277d2200-9cc3-11eb

[2021-04-13 20:37] A-HK commented on #869
Hey @smaranjitghose, can I try working on this?

[2021-04-13 20:54] smaranjitghose commented on #869
Assigned for 2 days

[2021-04-14 01:26] Sukriti-sood commented on #870
@smaranjitghose  I want to work on this

[2021-04-14 04:14] subhasmitapradhan commented on #871
I want to give this a try. As well as the footer issue.

[2021-04-14 04:15] subhasmitapradhan commented on #872
I would love to work on this too.

[2021-04-14 04:25] tanishq-arya commented on #801
@smaranjitghose is this still open? I can make changes in the color scheme of my PR if you want me to ?

[2021-04-14 06:11] Varun8216889 commented on #870
Can, I work on this issue ??

[2021-04-14 06:24] anushbhatia commented on #871
Assigned for 1 day

[2021-04-14 06:26] anushbhatia commented on #872
Sure after #871 work on this.

[2021-04-14 06:38] AbhipsaGuru1012 commented on #801
@smaranjitghose I have made a PR. Please review.

[2021-04-14 08:34] ashuvssut commented on #868
i want to work on this

[2021-04-14 08:39] ashuvssut commented on #869
if by any chance the assigned contributor @A-HK  thinks that he/she is unable to submit the PR.. then I would like to work on this😄

[2021-04-14 08:50] A-HK commented on #869
Hey @ashuvssut , am definitely working on this !
Will submit PR by tomorrow night at the latest, as per the 2-day window assigned.

[2021-04-14 08:54] ashuvssut commented on #869
@A-HK , you see that current ToolBox is a separate react component. Try to create the new SideBar as a separate react component.

[2021-04-14 12:05] smaranjitghose commented on #868
Assigned for 3 days

[2021-04-14 12:18] smaranjitghose commented on #870
Assigned for 2 days

[2021-04-14 16:05] ANSHIKA1806 commented on #862
/assign

[2021-04-14 16:40] SandeepKrSuman opened #874 "Bug: Media Manip"
### Bug detail :
- Input and Output dropdown holds the value of previous file even after removing the file.

---
### Gif explaining the bug :
![doc2pen_issue](https://user-images.githubusercontent.com/54541515/114746257-27d1f780-9d6d-11eb-99e9-76dc3d7d589e.gif)

---

### The fix :
- The input and output dropdown should be changed to default after removing the file from the drag and drop box.

[2021-04-14 16:45] Ankita297 commented on #516
Can i work on this @smaranjitghose ?

[2021-04-14 17:05] sharvariiii commented on #516
Can I also be part of this .Would love to contribute my bit as GSSOC participant 21.

[2021-04-14 17:39] anushbhatia commented on #516
Sure

[2021-04-14 17:40] anushbhatia commented on #874
Sure Resolve the error in 3 days

[2021-04-14 17:45] anushbhatia commented on #862
@Priyanshu-U assigned for 1 day.

[2021-04-15 05:38] SandeepKrSuman commented on #874
I'm working on it. @anushbhatia , can you please add the level tag.

[2021-04-15 08:00] ashuvssut commented on #868
I have tried to create the swish effect. this is the best I came up with.

![render](https://user-images.githubusercontent.com/60546840/114834940-eac62f00-9d85-11eb-8bd3-f1ceb9193ed5.gif)
**_Loading GIF 6.8mb..._**

[2021-04-15 08:03] ashuvssut commented on #868
its a canvas liquid background.

I didnt find any npm package or youtube video for that cool swish effect of happymoday website's cards

So this is what i came up with. Should I implement this for our maintainer section cards UI?

[2021-04-15 08:10] smaranjitghose commented on #868
Sure. LGTM

[2021-04-15 09:09] subhasmitapradhan commented on #871
I think it will be better to rather adjust the tool box a bit so that everything is available to user in one frame. One wont even need to scroll down every time he needs to use the other options.

[2021-04-15 10:12] subhasmitapradhan commented on #871
I think it will be better to adjust the tool box so that it all comes in one frame for the user.
It looks unprofessional every time one has to scroll down to use the rest tools.
Rather than adding the scrollbar I want to change the issue to make the toolbar fit the canvas size.
I think this change will be worth it.

[2021-04-15 16:31] ashuvssut commented on #868
previously the liquid effect showed up even when the mouse **moved out from the `div` element**. This was not in happymonday's swish effect

so I changed the code. now the liquid effect does not show up when the mouse **moves out from the `div` element**. the liquid effect shows up when the mouse enters the `div`

I hope now its more desirable😄

![render1](https://user-images.githubusercontent.com

[2021-04-15 17:00] A-HK commented on #869
Hey @smaranjitghose @anushbhatia, sorry for the silly question, but would you like the entire toolbar to appear after clicking on the sidebar, or different components to appear separately?

If it's the latter, I'll have to make significant changes to the already created Toolbox.js file.
Is that okay?

[2021-04-15 18:52] Rishab-j opened #879 "Making the Settings Section in Editor Uniform."
![Screenshot (793)](https://user-images.githubusercontent.com/59995879/114921156-dd717900-9e47-11eb-8419-49993c63caa4.png)

Right now the text setting options are distributed in 2 rows (X-axis, Font Size, and Y-axis are in the first row and the rest are in the second row).
I would like to make them uniform i.e put them all together in the second row and rearranging them.
I would also like to add f

[2021-04-16 02:35] sardonicankita commented on #879
Can u guys please assign this to me?

[2021-04-16 02:49] MennaMagdy2019 opened #880 "scroll-To-Top of editor page"
Can I make a scroll to the top for the editor page?
like this
![Capture20](https://user-images.githubusercontent.com/50016070/114964205-8a5eec80-9e6e-11eb-946a-71d8f06ab66a.JPG)

I think it will look nice. Can you assign me this issue, please? @anushbhatia

[2021-04-16 04:09] ashuvssut opened #881 "[Bug]: Toolbox not scrolling anymore"
in PR #829, I made the toolbox scrollable so that we can access all the tools and fit the toolbox within canvasHeight

But due to recent merges, the toolbox scroll feature is gone.

ref
![image](https://user-images.githubusercontent.com/60546840/114971099-8a3ffc00-9e30-11eb-96d2-9247421f3ccd.png)

@smaranjitghose I ud like to work on this bug

[2021-04-16 04:33] #881 closed

[2021-04-16 05:10] ashuvssut commented on #880
you need not to create a new one. just import the scroll-to-top component in editor page

[2021-04-16 07:30] ashuvssut opened #884 "[BUG] MediaManip"
Nobody would convert a JPEG to JPEG. thus according to file-type selected in Input.. the file-type must be excluded from the output options menu

![image](https://user-images.githubusercontent.com/60546840/114988014-b23c5900-9e4a-11eb-8686-aee32418b8d6.png)

[2021-04-16 09:55] Abhishek765 opened #885 "Bug: Card Details Is not rendered properly for Maintainers"
Found One Bug Like when we Hover over the Maintainers Card The details is not visible. See the ScreenShot for more Info.

**_Intially Image is like:_**
![image](https://user-images.githubusercontent.com/43133456/115007164-55cb4f00-9ec7-11eb-8c44-7faa8e9e0c19.png)

**_On Hover over it:_**

![image](https://user-images.githubusercontent.com/43133456/115007382-8c08ce80-9ec7-11eb-8142-39f5c41af29d.png

[2021-04-16 10:37] A-HK commented on #869
Hey @ashuvssut, you can go ahead with this issue if you're still interested. Unassigning myself, as I won't be able to complete it within the stipulated time.
So sorry for the inconvenience.

[2021-04-16 11:51] ashuvssut commented on #869
ya sure

[2021-04-16 11:52] ashuvssut commented on #869
@smaranjitghore please assign this to me please

[2021-04-16 13:51] ashuvssut commented on #869
there will be 5 tabs (tabs will have icons only) on the side bar
[code]

[2021-04-16 14:12] MennaMagdy2019 opened #886 "Vertical navbar links"
Can I make the navbar links verticals instead of horizontal?

![Navbar](https://user-images.githubusercontent.com/50016070/115036401-c5dcd380-9ecd-11eb-9d5e-37225934fed3.JPG)

I think it will look nice If I made it vertical. Can you assign me this issue, please? @anushbhatia

[2021-04-16 14:14] MennaMagdy2019 commented on #880
ok, can I do this @ashuvssut ?

[2021-04-16 14:24] ashuvssut commented on #880
actually I am a contributor.

project maintainers will assign you this issue if they need this feature

[2021-04-17 16:00] srisatya1197 opened #888 "I want to add no.of forks, stars, pr's in the readme file ."
I want to add no.of forks, stars,pr's in the readme file .
Example:
![ss5](https://user-images.githubusercontent.com/78905067/115119052-20585b80-9fc4-11eb-982d-ed590d4128d2.png)
I want to work on this . Please assign me this issue.

[2021-04-17 16:59] smaranjitghose commented on #880
@MennaMagdy2019 Assigned for 2 days

[2021-04-17 18:05] smaranjitghose commented on #886
Assigned for 2 days

[2021-04-17 19:54] sparshsharma2510 opened #890 "Tooltips on Rate your experience"
I want to add a tooltips feature using the react-bootstrap package on the rate your experience emojis, such that when the user hovers over them, he/she sees a short message box of what that emoji means.
Here is what I mean :

![tooltip](https://user-images.githubusercontent.com/53931981/115125220-3d9d2200-9fe4-11eb-8ebd-107cc48d5e93.JPG)

Kindly assign this issue to me under gssoc21.

[2021-04-18 02:33] srisatya1197 commented on #888
Thank you @smaranjitghose Sir.

[2021-04-18 05:25] bijankundu opened #893 "path collision"
git clone is throwing path collision warning on windows 10

![image](https://user-images.githubusercontent.com/50210712/115135236-85e43080-a034-11eb-9458-ef626fd4c6f4.png)

[2021-04-18 06:06] ashuvssut commented on #893
we can fix this in the following way. You can rename the file in a case-sensitive way and commit the change:

`git mv --cached name.txt NAME.TXT`

Please take care what you are renaming by checking the number of lines in both files or by manually checking.
if number of lines differ or you find differences in code then you have to check which files has the most recent updated code and keep that onl

[2021-04-18 06:14] ashuvssut commented on #893
ref https://www.hanselman.com/blog/git-is-casesensitive-and-your-filesystem-may-not-be-weird-folder-merging-on-windows

[2021-04-18 07:20] Abhishek765 commented on #885
@smaranjitghose Please have a look at it so that I can create the PR.

[2021-04-18 14:06] #874 closed

[2021-04-18 14:22] smaranjitghose commented on #885
This is already a part of another issue involving the revamp of the card UI

[2021-04-18 14:23] smaranjitghose commented on #890
Assigned for 2 days

[2021-04-18 14:24] #893 closed

[2021-04-18 14:25] #888 closed

[2021-04-18 14:26] smaranjitghose commented on #869
Sure

[2021-04-18 14:27] #801 closed

[2021-04-18 14:30] #862 closed

[2021-04-18 14:31] #871 closed

[2021-04-18 14:33] smaranjitghose commented on #879
@Rishab-j Do give a PR for this. Would love to see how it turns out

[2021-04-18 14:46] Abhishek765 commented on #885
Yes just saw that but there he didn't fix the issue, that I am mentioning here so I guess this issue should be valid one🤔

[2021-04-18 15:52] #516 closed

[2021-04-19 06:16] Rishab-j commented on #879
@smaranjitghose Yep alright

[2021-04-19 10:15] #880 closed

[2021-04-19 10:16] #774 closed

[2021-04-19 11:45] #890 closed

[2021-04-19 16:31] sardonicankita commented on #599
Hi is this iszue still available? Can u please assign me this?

[2021-04-20 08:54] tend2infinity commented on #866
I didn't understand what this issue is about, can you explain me a little bit because I want to work on this issue, but I'm not getting what exactly you want me to do

[2021-04-20 08:56] tend2infinity commented on #884
I would like to work on this issue

[2021-04-20 09:03] tend2infinity commented on #860
I would like to work on this issue under GSSOC

[2021-04-20 12:31] #860 closed

[2021-04-20 13:37] #886 closed

[2021-04-20 14:16] ranjal007 commented on #863
Hey @Priyanshujha11 can you please assign this to me for Gssoc21

[2021-04-21 06:37] #884 closed

[2021-04-21 10:26] smaranjitghose commented on #866
Basically once a figure/shape has been drawn on the canvas, we should be able to change it's dimensions as well it's position

[2021-04-21 11:16] sardonicankita commented on #867
Hey
can u assign this issue to me? I am GSSOC participant.

[2021-04-21 11:19] smaranjitghose commented on #599
Yes

[2021-04-21 11:19] smaranjitghose commented on #867
Assigned for 2 days

[2021-04-21 11:35] sardonicankita commented on #599
So am I assigned this issue cause I havent received that assigned notification?

[2021-04-21 11:52] anniesaxena commented on #872
Can I work on this issue?

[2021-04-22 09:51] kanishka8276 opened #907 "Adding a go to top button in home page."
I will like to add a go to top button in home page.
Please assign this to me.

[2021-04-22 11:48] aditisneh opened #908 "Banner & readme enhancements"
I would like to add a banner in the readme for doc2pen.
This will include a personalised gif / poster.

[2021-04-22 20:34] itsij opened #909 "Grammatical error in home page"
There is a grammatical error here. It should be 'spend' instead of 'spent'.

![image](https://user-images.githubusercontent.com/72145053/115780468-d2ce5b00-a3d6-11eb-9ac3-a28d2f2f95e3.png)

Please consider assigning this issue to me. I would like to fix it.
@smaranjitghose @anushbhatia @Harshita-Kanal

[2021-04-22 22:04] ashuvssut commented on #907
we already have one. its a component. scroll-to-top.

its used in both pages (home and editor).

[2021-04-23 03:37] kanishka8276 commented on #907
@ashuvssut Ok! Actually I ran it on my phone through the website mentioned. And couldn't see that.

[2021-04-23 05:28] ashuvssut commented on #907
actually

we removed that for mobile view

[2021-04-23 05:41] #907 closed

[2021-04-23 11:53] smaranjitghose commented on #908
Sure! Assigned for 2 days

[2021-04-23 14:07] #868 closed

[2021-04-23 19:02] hsnice16 opened #912 "Styling on scroll to navbar, and on focusing page in editor"
On scrolling, it will look good if we show the bottom shadow to the navbar. (For its demo, Can I add my work? I did for a personal project)

And right now, when we click on the page to start writing, its border becomes black. Which I think, doesn't right as there is already a border outside it. (I think this is happening because of focus state)

So, Are these problems are good for work?

[2021-04-24 12:27] AbhipsaGuru1012 commented on #872
@smaranjitghose @anushbhatia can I work on this issue under GSSoC'21?

[2021-04-24 16:12] aditisneh commented on #908
@smaranjitghose I have made a PR, do check and let me know, also don't forget to add the level tag to this issue

[2021-04-24 21:03] #909 closed

[2021-04-24 21:05] #872 closed

[2021-04-24 21:08] #908 closed

[2021-04-25 11:22] subhasmitapradhan commented on #872
May I know why this issue was closed? I haven't  made the PR for it yet though.

[2021-04-26 08:13] aditisneh commented on #908
Hey, do add the level tag for this issue, I am not able to fetch points otherwise. @smaranjitghose

[2021-04-26 08:38] smaranjitghose commented on #872
Your deadline is over

[2021-04-26 17:56] hsnice16 commented on #912
Can I work on it?

[2021-04-27 03:36] Shivangi-ch opened #914 "Add floating animation in images of steps section ."
I want to add floating animation in images that will make  page look more attractive.
![Screenshot from 2021-04-27 09-04-14](https://user-images.githubusercontent.com/57783826/116181079-9af94780-a737-11eb-8ff7-e18f8b74b60c.png)
Originally it looks like this.Floating images will look more nice.
Please assign this to me.

[2021-04-27 13:32] smaranjitghose commented on #914
Assigned for 2 days

[2021-04-27 21:31] N-Shar-ma opened #915 "Sketch Page - Custom Pencil cursor instead of crosshair"
## Issue
Currently, the cursor for the canvas on the Sketch Page is a crosshair, which is not really related to drawing. A custom css cursor like a pencil, might look more appropriate.

## Link to Cursor demo
https://custom-cursor.com/en/collection/life-style/pencil

If you like this idea, I would love to add a custom pencil cursor exactly like the demo one

[2021-04-28 09:41] vedant-jain03 opened #916 "Want to add feature of Dark Mode to Home page"
I want to add feature of Dark Mode to Homepage . I will implement it using Usestate hooks for toggling between themes and Useeffect to store theme even after refresh the page.
@smaranjitghose If valid please assign me.

[2021-04-29 06:40] smaranjitghose commented on #915
Assigned for 2 days

[2021-04-29 18:23] #915 closed

[2021-04-30 03:23] dipanshparmar opened #920 "Couldn't adjust y-axis accordingly in editor"
I chose only a margin sheet for my assignment and when I tried to adjust the y-axis to fit in the page, it didn't work. It said the max limit for y-axis is 100. But I think I need 150 or something to make the text fit in the container.

![image](https://user-images.githubusercontent.com/49204837/116644570-5bc63300-a991-11eb-8d94-8fc41272050c.png)

[2021-04-30 03:24] dipanshparmar commented on #920
@smaranjitghose please look at this, and if you think this is a relevant issue then please let me know, I want to fix it ASAP.

[2021-04-30 03:25] dipanshparmar commented on #920
and I'm not a participant of gssoc21.

[2021-04-30 13:19] #920 closed

[2021-05-01 04:19] dipanshparmar opened #921 "There should be an option to change font colors differently"
I want to create an assignment where I want the questions in black color and the answers in blue color, but when I tried to change the answer color it changed the color of the whole document.
![image](https://user-images.githubusercontent.com/49204837/116770546-6997b900-aa62-11eb-98df-0740c1f5f14d.png)

[2021-05-02 10:31] anshika208 commented on #866
hey @smaranjitghose i would like to work on the issue . can i get assigned?

[2021-05-02 18:53] ashuvssut opened #924 "[Bug] cannot read property "offsetWidth' of null"
steps to reproduce this error

1. Open Home page
2. now go to any other page to encounter this error

![image](https://user-images.githubusercontent.com/60546840/116820012-b42f3900-ab27-11eb-9370-89e9dc9a89ef.png)

[2021-05-02 20:05] ashuvssut opened #926 "Restore missing styles in Editor's toolbox"
Due to a recent merge, the Editor's toolbox and its components lost its styles

I want to add my custom new styles to restore the look

[2021-05-03 05:50] ashuvssut opened #928 "Implement Scroll progress bar in Home page"
Make a separate React component to  Implement Scroll progress bar
![error](https://user-images.githubusercontent.com/60546840/116844628-75859700-ab98-11eb-8560-841d2d1fd47b.gif)

[2021-05-03 09:46] #924 closed

[2021-05-03 16:41] Shivangi-ch opened #931 "Footer in sketch section."
I would like to add the same footer which is there in other sections of website to the sketch section too.

Please assign this to me.

[2021-05-03 17:41] ashuvssut commented on #931
we are thinking to implement a canvas which can expand limitlessly. canvas will expand when user scrolls up/down/right/left

Thus if there is footer under the sketchpage, when the user scrolls down the user will see the footer instead of an expanding canvas in downward direction

if we really need a footer section we can shift footer contents in the new sidebar which will come through #923
we can

[2021-05-03 19:37] Furquan712 commented on #931
I would like to work on this , Will you assignee me .please

[2021-05-03 19:44] Furquan712 commented on #599
I would like to work on this , Will you assignee me

[2021-05-03 22:28] #869 closed

[2021-05-04 20:42] N-Shar-ma opened #932 "New Feature: Option for Bold Text on Editor Page"
## Problem

Most of the current fonts available have a very thin and light stroke, and there is no way the user can change that

## Solution

The control panel can have an additional dropdown to select between normal and bold font weight

## Screenshot Examples for Dawning Font

- Normal font weight
![image](https://user-images.githubusercontent.com/68962290/117067165-85a78e80-acde-11eb-9f91-b66dd

[2021-05-04 21:08] Furquan712 commented on #932
I would like to work on this, will you assign me?

[2021-05-04 21:09] Furquan712 commented on #916
I would like to work on this, will you assign me?

[2021-05-04 21:09] Furquan712 commented on #921
I would like to work on this, will you assign me?

[2021-05-04 21:10] Furquan712 commented on #912
I would like to work on this, will you assign me?

[2021-05-04 21:11] Furquan712 commented on #926
I would like to work on this, will you assign me?

[2021-05-05 20:56] Furquan712 commented on #928
I would like to work on this issue, will you assign me ??

[2021-05-06 19:54] Furquan712 commented on #912
any update??

[2021-05-07 01:38] srrathi opened #933 "Giving the side social icons a better more visible look"
![Screenshot from 2021-05-07 07-11-01](https://user-images.githubusercontent.com/57089237/117385842-748b9700-af03-11eb-98db-4ee9b01eb4a5.png)
![Screenshot from 2021-05-07 07-10-41](https://user-images.githubusercontent.com/57089237/117385887-8705d080-af03-11eb-9548-cd6a22d1bd42.png)
These social icons are not much visible in home page as you can see here, although their animation are perfectly fin

[2021-05-07 05:48] ashuvssut opened #934 "[BUG]: THE icons in icons library do not load unless we hover our mouse on canvas area"
![Animation](https://user-images.githubusercontent.com/60546840/117403525-2bb0ef80-aebd-11eb-8048-bd2c55031e4b.gif)

[2021-05-08 13:48] #934 closed

[2021-05-08 15:16] N-Shar-ma commented on #932
@smaranjitghose @anushbhatia Could I please know if I should work on this? Not a problem if this feature is not something you want for this project, but please let me know either way

[2021-05-09 17:26] Saumya-07 opened #937 "Improve responsiveness"
## **Describe the bug**
Make a better responsive webpage.

## **Possible solution**
I would like to make responsive this about-steps section

## **Screenshots**
![Screenshot (570)](https://user-images.githubusercontent.com/68998355/117581280-ab3afa80-b119-11eb-8dbe-e9b9e2711a8b.png)

I am a GSSOC'21 participant and would like to work on this issue.
please assign this issue to me if you find it val

[2021-05-10 16:39] #926 closed

[2021-05-11 16:44] Saumya-07 commented on #937
Should I work on it?

[2021-05-12 16:14] smaranjitghose commented on #937
Assigned for 2 days

[2021-05-13 14:32] Shivangi-ch opened #938 "Clean the code."
- Due to a lot of contributions, the code is messy right now. For example improper indentation, unesseccary spaces/tabs, lack of comments to explain the code and extra commented code.
- All this makes it difficult for beginner contributors to understand the code.
- So the code should be cleaned

[2021-05-13 14:33] Shivangi-ch commented on #938
@smaranjitghose Please assign

[2021-05-14 05:16] AbhipsaGuru1012 commented on #937
@smaranjitghose can I work on this issue?

[2021-05-14 08:02] Tanya933 commented on #937
@smaranjitghose  i would like to work on this issue.Please assign this issue to me .Thankyou

[2021-05-14 12:10] Saumya-07 commented on #937
I am working on the issue but facing a problem in setting it up on my local machine.

Please help me @smaranjitghose with this.
Screenshot of the error-
![Screenshot (576)](https://user-images.githubusercontent.com/68998355/118268406-fc146f80-b4da-11eb-9977-e1aafe18d65c.png)

I had successfully cloned the repository.
then npm install.
but then too facing problem while npm start

[2021-05-14 12:43] farseenmanekhan1232 commented on #938
please assign

[2021-05-15 07:47] srishtij2000 commented on #937
Can I work on this issue?

[2021-05-15 18:24] smaranjitghose commented on #938
@Shivangi-ch  Assigned for 2 days

[2021-05-15 18:25] anushbhatia commented on #937
clone it again deleting the previous code.

[2021-05-15 18:27] #916 closed

[2021-05-15 18:27] #912 closed

[2021-05-15 18:28] #599 closed

[2021-05-15 19:39] N-Shar-ma commented on #932
@smaranjitghose any updates? May I work on this?

[2021-05-15 21:12] smaranjitghose opened #939 "[Beta] Shift Porfolio Code to ReactJS"
## Task:
Switch all the code in the awesome_portfolio to React, scss and bootstrap

- [ ] Home Page
- [ ] Expereince Page
- [ ] Project Page
- [ ] Education Page
- [ ] Research Page

__NOTE__ : The first person would be assigned the Home Page by default. The other 2  participant should collaborate.

**Work exclusively in the awesome_porfolio branch**

Reference: [Link](https://github.com/smaranjit

[2021-05-15 21:13] #846 closed

[2021-05-15 21:14] #836 closed

[2021-05-15 21:14] #811 closed

[2021-05-15 21:14] #810 closed

[2021-05-15 21:14] #800 closed

[2021-05-15 21:14] #780 closed

[2021-05-15 21:14] #771 closed

[2021-05-15 21:14] #713 closed

[2021-05-15 21:14] #677 closed

[2021-05-15 21:15] #867 closed

[2021-05-15 21:16] smaranjitghose commented on #932
Assigned for 3 days

[2021-05-15 21:16] #928 closed

[2021-05-15 21:16] #921 closed

[2021-05-15 21:16] #914 closed

[2021-05-15 21:16] #885 closed

[2021-05-15 21:16] #879 closed

[2021-05-15 21:17] #933 closed

[2021-05-15 21:17] #931 closed

[2021-05-16 03:40] pranjay-poddar commented on #938
please assign

[2021-05-16 06:28] Shivangi-ch commented on #938
I am working on it. Clicked on unassign button by mistake.
Reassign me @smaranjitghose

[2021-05-16 06:53] Shivangi-ch commented on #938
@smaranjitghose Made a pull request for this issue.

[2021-05-16 07:09] AshuKV commented on #939
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-16 07:20] atharva21-stack opened #942 "Button not matching with project theme"
![Capture](https://user-images.githubusercontent.com/70438130/118388896-b83d7980-b644-11eb-9e04-e2a9d3368651.PNG)

The button in above image doesn't match the project theme, changing color to solid blue and change in hover effect might look more good.

I would like to work on this issue.

[2021-05-16 07:23] smaranjitghose commented on #942
Sure. Assigned for 2 days

[2021-05-16 07:24] smaranjitghose commented on #939
Sure. But please do follow the instructions given above carefully.

[2021-05-16 07:25] atharva21-stack commented on #942
Thank you , I'll start working on it

[2021-05-16 07:27] #938 closed

[2021-05-16 07:31] #932 closed

[2021-05-16 07:31] #866 closed

[2021-05-16 08:15] Saumya-07 commented on #937
I should not work on the issue now @smaranjitghose @anushbhatia ?

[2021-05-16 11:51] cmulay opened #943 "Repo README is not properly formatted"
![image](https://user-images.githubusercontent.com/38172685/118394768-4ffe9000-b664-11eb-8d6c-1946e914f10a.png)

Problems
- Check boxes are used instead of pointers
- the badges are not following the same design (combination of plastic and for the badge)
- also adding an open-source label would be nice

[2021-05-16 12:33] garvitgupta13 opened #944 "Icons are too small"
We can increase the size of these icons so the are easily visible
![image](https://user-images.githubusercontent.com/70805691/118397286-e2a52c00-b670-11eb-9562-328dff3e840c.png)

Please assign me this issue under `gssoc21`

[2021-05-16 17:48] AshuKV commented on #943
Can I work on this issue under GSSoC'21? Kindly assign it to me.

[2021-05-16 20:23] N-Shar-ma opened #945 "Bug: Navigation drop-down menu does not collapse when navigating to a new page / route"
## Description
When the Hamburger icon is clicked to show the drop-down with navigation links in mobile view, it remains visible even when the use has clicked on a link, and this new page has loaded.
This is bad UX since it is hard to know for the user when the requested page has loaded if the drop-down remains covering the entire screen.

## Solution
Whenever any of the navigation links is clicke

[2021-05-17 00:39] subhangi2731 commented on #870
@smaranjitghose can I work on this?

[2021-05-17 00:43] subhangi2731 opened #947 "Setting up eslint in the project and linting the code"
I want to make the code prettier by setting up eslint and linting the code

[2021-05-17 00:43] subhangi2731 commented on #947
@smaranjitghose please assign this issue to me

[2021-05-17 04:33] Saumya-07 commented on #937
Thank you @anushbhatia  that worked the issue resolved
I had set up it on my local machine successfully

Sorry @smaranjitghose by mistake the issue was closed by me.

[2021-05-17 04:45] Saumya-07 commented on #937
Please review PR #948
@smaranjitghose @anushbhatia

[2021-05-17 07:16] #937 closed

[2021-05-17 17:08] atharva21-stack commented on #942
https://user-images.githubusercontent.com/70438130/118528945-946f5600-b760-11eb-8fbc-9551f86aef0d.mp4

[2021-05-17 17:14] atharva21-stack commented on #942
I have created this button design , what are your thoughts on this?

https://user-images.githubusercontent.com/70438130/118529626-59215700-b761-11eb-9e72-78a7a8efa648.mp4

[2021-05-17 17:17] atharva21-stack commented on #942
I have created this button design , what are your thoughts on this?

https://user-images.githubusercontent.com/70438130/118530055-d3ea7200-b761-11eb-9ac3-5b4945ec9f84.mp4

[2021-05-17 18:35] himanshujaidka opened #949 "frontend: dark mode button to the homepage"
Yes, I want to work

[2021-05-17 20:03] smaranjitghose commented on #942
Give a PR

[2021-05-17 20:04] smaranjitghose commented on #944
Give it a try @garvitgupta13

[2021-05-18 05:39] hardikshah197 commented on #943
If no one is working, may I take up this issue? @cmulay?

[2021-05-18 05:40] hardikshah197 commented on #949
May I work on this issue if no one is working on it?

[2021-05-18 05:43] cmulay commented on #943
I'm not a maintainer of this project @smaranjitghose and @anushbhatia are, they can assign one of you on this issue.

[2021-05-18 15:30] #945 closed

[2021-05-19 02:54] MayankBeck commented on #949
I want to work on this issue.

[2021-05-19 02:55] MayankBeck commented on #944
I can do it if in any case @garvitgupta13 is not able to complete it.

[2021-05-19 05:27] garvitgupta13 commented on #944
Working on it, will be creating a PR by today

[2021-05-19 07:35] himanshujaidka commented on #949
@smaranjitghose pls approve this issue

[2021-05-20 15:08] Simi06 commented on #949
Can I work on this issue as a participant of GSSoC'21?

[2021-05-20 15:37] subhangi2731 opened #952 "creating a signup page"
I want to make a signup page in react

[2021-05-20 15:38] subhangi2731 commented on #952
@smaranjitghose please assign this issue to me

[2021-05-20 16:21] srishtij2000 commented on #939
Can I work on this issue?

[2021-05-20 16:22] srishtij2000 commented on #942
Can I work on this issue?

[2021-05-20 16:22] srishtij2000 commented on #944
Can I work on this issue?

[2021-05-20 18:49] cmulay commented on #943
@AshuKV @hardikshah197 any one of you send PR for this change

[2021-05-21 07:47] #943 closed

[2021-05-21 19:40] mrunal512 commented on #947
please assign me this issue !

[2021-05-21 19:42] mrunal512 commented on #952
@anushbhatia please assign me this issue
I would create like to create a signup page !

[2021-05-22 08:43] #944 closed

[2021-05-22 08:43] #942 closed

[2021-05-22 08:44] smaranjitghose commented on #952
We want to keep the experience without any signup/login

[2021-05-22 08:44] #952 closed

[2021-05-22 09:03] subhangi2731 commented on #870
@smaranjitghose please assign me this also

[2021-05-23 09:01] subhangi2731 commented on #870
@smaranjitghose is this already fixed if not how to reproduce it please tell me

[2021-05-23 13:50] ishitakapoor26 commented on #949
/assign

[2021-05-23 13:53] ishitakapoor26 commented on #809
@smaranjitghose Can you assign this issue to me? I can try.

[2021-05-23 20:16] N-Shar-ma opened #954 "Text on the page in Editor Page is not highlighted on selection"
## Problem
A user might need to select text for copy / pasting etc and will expect that text to show up as highlighted, but due to `background` being set as `none` for any selection across the website, the text will not be highlighted when selected, which is bad UX

## Solution
For the textarea, background for selected text should remain as default, so the user can easily get visual feedback on wh

[2021-05-24 03:46] N-Shar-ma opened #955 "Implement buttons to add and remove pages in Editor page"
## Problem
Currently, the user is restricted to only 1 page.

## Solution
I'd like to implement a button "Add Page" which will add a new page after the pre-existing ones, and another button "Remove Last Page" which will remove the last page, of total page count is more than 1. These 2 buttons can either be below all pages, or with the settings at the top.

[2021-05-24 06:35] subhangi2731 commented on #870
@smaranjitghose please reply

[2021-05-24 15:52] N-Shar-ma opened #958 "Allow multipage downloads in both png and pdf formats"
## Problem
Currently only the 1st page can be exported, irrespective of the total number of pages created by the user

## Solution
Convert each `outputPage` DOM node to an image data url, and download those as numbered png images, or make a multipage pdf out of them and export as a single pdf

(This bug is noticeable after issue #955 will be closed by #957 )

[2021-05-24 16:13] #955 closed

[2021-05-24 16:17] #958 closed

[2021-05-24 16:17] #954 closed

[2021-05-24 16:29] smaranjitghose opened #960 "Documentation Website for the project"
## Requirements and/or Suggestions

- Use [Mkdocs](https://squidfunk.github.io/mkdocs-material/)
- **Exclusively use docs branch** : Delete everything there except README, LICENSE and CODE OF CONDUCT Files
- Setting up the website (to be specific the frontend ) is really simple with mkdocs. The real task is organizing the content
- The main sections/pages would be:
        - Home Page
        - Sk

[2021-05-24 16:30] #513 closed

[2021-05-24 16:30] smaranjitghose commented on #949
We are not opting for a dark mode exclusively for the Home Page

[2021-05-24 16:30] #949 closed

[2021-05-24 16:33] himanshujaidka commented on #960
Assign me pls

[2021-05-24 16:33] smaranjitghose opened #961 "Make it possible to add the icons on the sidebar of the sketchpage to the canvas workspace"
![Icons_Addable](https://user-images.githubusercontent.com/46641503/119378319-c7bf6100-bcdb-11eb-9488-e75b0ab8aabe.png)

[2021-05-24 16:35] smaranjitghose opened #962 "Add feature to move objects across the canvas. Currenly once placed their location cannot be changed"
![move_figures](https://user-images.githubusercontent.com/46641503/119378619-12d97400-bcdc-11eb-95b6-0f569d7a09e3.png)

[2021-05-24 16:38] smaranjitghose opened #963 "Add Feature to add more images to the conversion stack on the Media Manip Page"
![add_more_images](https://user-images.githubusercontent.com/46641503/119378899-66e45880-bcdc-11eb-816b-df73bb311421.png)

[Sample Reference](https://png2pdf.com/)

[2021-05-24 16:40] smaranjitghose opened #964 "Add PNG/JPG/JPEG/WEBP to PDF Converter"
[Sample Reference](https://png2pdf.com/)

[2021-05-24 16:41] smaranjitghose commented on #809
@ishitakapoor26 check out the new issues I raised recently

[2021-05-24 16:41] #809 closed

[2021-05-24 16:45] smaranjitghose opened #965 "Add Merge PDF feature to MediaManip Page"
[Sample Reference](https://www.ilovepdf.com/merge_pdf)

[2021-05-24 16:48] himanshujaidka commented on #964
Pls assign this to me

[2021-05-24 16:49] smaranjitghose opened #966 "New Narrative for the Home Page"
## Background:

Doc2pen started as a pet project to make handwritten assignments for students easier during the pandemic. However, we have come a long way from that phase from having a sketch page to a budding media conversion page. It is high time we change our pitch which forms the main attraction of the home page.

![New Narrative for the  Home Page](https://user-images.githubusercontent.com/46

[2021-05-24 16:55] smaranjitghose opened #967 "Improve Readme"
## Task 1:

Update the Demo Section

[Reference](https://github.com/smaranjitghose/awesome-portfolio-websites)

## Task 2:

Improve the Intro line. We need a convincing pitch for the repo description as well!

## Task 3:

Design a banner image for github repo (would be visible when the link is shared on social media platforms)

[2021-05-24 16:56] smaranjitghose commented on #964
Assigned for 1 day ( I am not giving the usual 3 days since the program has very days left and a lot of people want to grab more issues). Deadline maybe extended if required.

[2021-05-24 16:57] smaranjitghose commented on #960
@himanshujaidka Assigned. At max 4 more people can be assigned. Future assignees please collaborate with him. Deadline to first PR for this issue: 26th, April

[2021-05-24 17:04] #853 closed

[2021-05-24 17:07] smaranjitghose opened #968 "Improve Editor Page's MenuBar UI"
- The current UI looks too clumsy and does not go well with the rest of the web app
- Redesign it and make it comparatively compact.

Sample References:

1.
![improve_Menu_bar_Ui](https://user-images.githubusercontent.com/46641503/119383055-82e9f900-bce0-11eb-9910-e720f19d9b35.png)

2. Google Docs/MS Word

[2021-05-24 17:11] smaranjitghose opened #969 "Update License Related Info on the Repo to Creative Commons"
Self-explanatory.

[2021-05-24 17:17] subhangi2731 commented on #968
@smaranjitghose please assign this issue to me

[2021-05-24 17:18] subhangi2731 commented on #967
@smaranjitghose please assign me this I want to work

[2021-05-24 17:19] subhangi2731 commented on #961
@smaranjitghose please assign this issue to me

[2021-05-24 17:21] subhangi2731 commented on #965
@smaranjitghose please assign this issue to me

[2021-05-24 17:22] subhangi2731 commented on #963
@smaranjitghose please assign this issue to me

[2021-05-24 17:24] himanshujaidka commented on #964
okay

[2021-05-24 17:26] subhangi2731 commented on #962
@smaranjitghose please assign this issue to me

[2021-05-24 17:33] smaranjitghose commented on #967
Assigned for Task 1. Complete that and proceed with the other two in separate PRs

[2021-05-24 17:44] subhangi2731 commented on #960
@smaranjitghose I also want to work on this issue please assign me

[2021-05-24 17:56] N-Shar-ma commented on #966
Can I please be assigned to work on this? I'll make sure to highlight all the capabilities of this web app in the new pitch

[2021-05-24 18:19] smaranjitghose commented on #966
Sure. Take up the readme Issue as well then.

[2021-05-24 18:19] smaranjitghose commented on #963
I am giving you this instead of the readme issue

[2021-05-24 18:19] smaranjitghose commented on #967
Reassinged to @N-Shar-ma

[2021-05-25 05:49] himanshujaidka commented on #964
@smaranjitghose  yesterday I was working on this and from that, I concluded with the help `jsPDF` package, we will able to achieve this. I will offer the `covert to pdf` button next to the download button and after clicking, converted pdf will automatically store in the system with the use of `save()`. But give me some time to implement this approach.

[2021-05-25 14:47] N-Shar-ma commented on #967
@smaranjitghose Should I make separate PRs for the 3 tasks or do them all in 1 PR?

[2021-05-25 15:10] smaranjitghose commented on #964
Do not make a new button. Just use the already available drop-down and call a different function

[2021-05-25 17:29] subhangi2731 commented on #965
@smaranjitghose please help when i click this button i cannot select any pdf files to test my pdf merger
![Screenshot from 2021-05-25 22-38-25](https://user-images.githubusercontent.com/53938490/119542105-cad65200-bdac-11eb-9eb6-30ad8e461256.png)

[2021-05-25 17:44] himanshujaidka commented on #964
@smaranjitghose pls unassign me as the competition will end very soon, so I am working on another project as well, so I need some time to understand the code.
After GSSoC will look into this issue

[2021-05-25 18:02] #966 closed

[2021-05-25 20:53] N-Shar-ma opened #974 "Update Steps Section on the Homepage"
## Problem:
The steps section only mentions steps to use the editor page, which is incomplete, as the sketch and media manip pages are not mentioned

## Solution:
It can instead have the following content: (moved from the "What are we about" section above)

![image](https://user-images.githubusercontent.com/68962290/119566489-0eef3580-bd60-11eb-8703-fc488bef87c0.png)

The svgs can also be updated

[2021-05-25 21:45] smaranjitghose commented on #974
Feel free to proceed @N-Shar-ma

[2021-05-25 21:47] smaranjitghose opened #975 "Add PNG/JPG/JPEG/WEBP to PDF Converter to MediaManip Page"
[Sample Reference](https://png2pdf.com/)

[2021-05-25 21:51] smaranjitghose commented on #965
Could you please share the snapshots of your code?

CC: @anushbhatia

[2021-05-25 23:41] #974 closed

[2021-05-26 05:54] eagleanurag opened #977 "Add feature to use Different Text Colour in single Sheet"
Whenever we try to change colour of  specific word/ line the UI change colour of whole text box

![Screenshot (40)](https://user-images.githubusercontent.com/22770735/119609174-c3e32a00-be14-11eb-9a1f-c8fa62e52af2.png)

[2021-05-26 10:37] Kumud-869231165 commented on #975
Can you assign this issue to me @smaranjitghose

[2021-05-26 10:38] Kumud-869231165 commented on #969
I want to work on this @smaranjitghose

[2021-05-26 10:39] Kumud-869231165 commented on #960
I want to work on this issue

[2021-05-26 10:41] Kumud-869231165 commented on #977
I want to work on this @eagleanurag

[2021-05-26 15:06] smaranjitghose commented on #960
Collaborate with @subhangi2731  please

[2021-05-26 15:07] smaranjitghose commented on #969
This is a very simple issue. Assigned for 1 day but try to wrap up asap

[2021-05-26 16:02] subhangi2731 commented on #965
@smaranjitghose the existing cause which helps select files to convert only image files can be selected but not the pdf files..so please tell me how should I do

[2021-05-26 16:46] Kumud-869231165 commented on #969
Allow adaptations of your work to be shared?
 Yes	 No	 Yes, as long as others share alike
Allow commercial uses of your work?
 Yes	 No

Should I click on yes for both the questions

[2021-05-26 16:47] Kumud-869231165 commented on #969
@smaranjitghose should I click yes on both the questions

[2021-05-26 21:00] N-Shar-ma commented on #963
@subhangi2731 Are you still working on this? I'm just confirming since it's been 2 days and I have fixed this issue locally

[2021-05-27 04:22] #967 closed

[2021-05-27 05:49] eagleanurag commented on #977
doc2pen/src/pages/Editor/sections/Settings/Settings.jsx/
`<div className={styles.controlPanel}>
      <div className={styles.controls}>
        <div className={styles.group1}>
          <Dropdown
            name="Change Color"
            active={editContext.bodyValues.bodyColor}
            type="color"`

here we have done active={editContext.bodyValues.bodyColor}
@Kumud-869231165
i think we nee

[2021-05-27 10:16] N-Shar-ma opened #981 "Major Bug: Multiple images not downloaded correctly on Media Manip page"
## Problem
When more than 1 files are selected for conversion and downloaded, the number of files in the zip is correct, but all files are actually the same, and are converted forms of the last image in the selection

I would like to make a PR fixing this bug (already fixed locally)

[2021-05-27 10:35] innovation-platform commented on #961
I would like to work on this issue under GSSoC'21. Please assign this issue to me.

[2021-05-27 19:00] N-Shar-ma opened #983 "New Feature: Toggle between pages on Editor Page"
As a follow up to the comment in PR #959 , I'd like to add `Previous Page` and `Next Page` buttons to toggle between different pages, so that only 1 page (the active one) is visible at a time. This should improve the user experience when working on documents with many pages!

[2021-05-28 00:12] #981 closed

[2021-05-28 00:47] #983 closed

[2021-05-28 03:39] subhangi2731 commented on #965
@smaranjitghose please reply on above

[2021-05-28 05:41] #969 closed

[2021-05-28 05:44] smaranjitghose commented on #963
You can proceed with this @N-Shar-ma

[2021-05-28 05:45] smaranjitghose commented on #965
Can you please attach a clip/screenshot and explain elaborately. I am unable to understand your query.