[2020-06-28 17:33] smaranjitghose opened #6 "Landing Page"
This is the first page that opens when a user visits the website. [ the index.html]
- Divide it into sections and full-page parallax
- The first section should have a video in the background. [ Use an appropriate free license video from pixel] and on the top of it use a text animation for Doc2pen
- In the second page, elaborate on the features of the web app, using illustrations from freepik like

[2020-06-28 17:34] smaranjitghose opened #7 "Dark Theme"

[2020-06-28 17:35] smaranjitghose opened #8 "Export Options"
Add options to export as PDF,JPEG,JPG,PNG etc

[2020-06-28 17:36] smaranjitghose opened #9 "UI changes"
- Input window and output window can be made side by side like any online ide

[2020-06-28 17:41] smaranjitghose opened #10 "Error Handling"
- The input text or the page should have some limit to be accepted beyond which a warning message should be prompted

[2020-07-06 05:08] thealphacod3r commented on #7
@smaranjitghose right now the design is in dark theme, so what you suggest should we implement a toggle for dark/light theme??

[2020-07-06 16:40] smaranjitghose commented on #7
Sure

[2020-07-07 14:59] nimishbongale opened #13 "Addition of Mistakes/Shabbiness"
Great work!

I'm not really sure how it is to be done, but it would be great if some mistakes and some amount of untidiness could be added on to the font as well! I don't think I need to explain why! 😄

Cheers!

[2020-07-08 15:03] smaranjitghose commented on #13
For the shabiness feel we can tinker with the background. However, I wouldn't suggest having strikethrough texts since many people using this would want to have their assignments/reports written which ideally should be error free. Although we can work for an additional whatsapp like strikethrough feature

[2020-07-08 15:07] nimishbongale commented on #13
Yes, True

The point is that It looks a bit too neat without mistakes, almost suspiciously neat

[2020-07-14 16:09] smaranjitghose opened #21 "Splash Screen"

[2020-07-14 16:09] smaranjitghose opened #22 "Navigation Bar"

[2020-07-14 16:10] smaranjitghose opened #23 "Footer"

[2020-07-14 16:12] smaranjitghose opened #24 "Contact Page"
- A form
- Link to the Project on GitHub
- A section on code of conduct and LICENSE
- Crafted by section:
     @smaranjitghose (Mine)
     @anushbhatia
^^ A card about us
- Molded by section:
    All of your profiles

[2020-07-14 16:13] smaranjitghose opened #25 "SEO and other optimizations"
- Tweak the SEO of the project to ensure it's ranked #1 on Google Search and try to have some similar hack for GitHub
- Optimize the assets
- Improve the codebase

[2020-08-08 18:42] shudhanshu03 commented on #10
Can i work on this issue ? Even i have started working on it and about to complete . At the end it will show the remaining characters   and i have set the maximumCharacter to 1000.

[2020-08-10 14:52] himanshujaidka opened #46 "site is not responsive in mobile view"

[2020-08-10 15:00] himanshujaidka opened #47 "note the footer in both ss"
![Screenshot (38)](https://user-images.githubusercontent.com/58654018/89797176-3dd94980-db48-11ea-8593-7d49070fe0fa.png)
![Screenshot (39)](https://user-images.githubusercontent.com/58654018/89797206-4762b180-db48-11ea-8329-4807633d0757.png)

[2020-08-10 15:12] himanshujaidka opened #48 "all js code is written in html files"
we need a separate js file for our project

[2020-08-10 16:27] himanshujaidka opened #49 "Text is not visible in dark theme"
# Description the change
text color should be changed in dark-theme

# Screenshots

[2020-08-10 16:27] himanshujaidka commented on #49
![blacktext](https://user-images.githubusercontent.com/58654018/89806308-77b04d00-db54-11ea-9694-3be4cd2f6534.png)

[2020-08-10 16:46] himanshujaidka commented on #49
pr #50

[2020-08-10 17:55] smaranjitghose commented on #48
@himanshujaidka  Sorry I couldn't get you. We have the JS files inside the assets subdirectory. Do you mean that?

[2020-08-10 17:56] smaranjitghose commented on #47
@himanshujaidka Would you like to fix this? Create a common footer for all the pages?

[2020-08-10 17:59] smaranjitghose commented on #49
I would suggest you to separate the css for each of the pages for dark mode

[2020-08-10 18:01] smaranjitghose commented on #46
Would you like to take up this issue? I would suggest giving different PRs for each of the pages. Also, note the css of the pages is quite messed up. Can have three separate css file for each of the pages?

[2020-08-10 18:13] himanshujaidka commented on #48
no inside editor.html and in other Html files I found a little bit of javascript

[2020-08-10 18:14] himanshujaidka commented on #47
ok assign this to me @smaranjitghose

[2020-08-10 18:15] himanshujaidka commented on #46
yes assign this to me @smaranjitghose

[2020-08-10 18:17] smaranjitghose commented on #48
I am not sure which part you are referring to? The Google Analytics part? Either way, could you please give a PR for the same so that we can compare the optimization or improvement in readability/modularity of code with your suggestion

[2020-08-11 06:07] himanshujaidka commented on #47
![Screenshot (42)](https://user-images.githubusercontent.com/58654018/89863084-f514a580-dbc6-11ea-845b-f4e90535a71b.png)

[2020-08-11 06:07] himanshujaidka commented on #47
@smaranjitghose tell me if this footer is ok so that I'll create Pr

[2020-08-11 10:06] anushbhatia commented on #47
what language have you used for this

[2020-08-11 11:07] himanshujaidka commented on #47
Html and css

[2020-08-11 14:18] anushbhatia commented on #47
any framework to be specific?

[2020-08-11 14:39] himanshujaidka commented on #47
I'll make PR pls refer that

[2020-08-12 05:43] sameersrivastava13 commented on #21
I would like to work on this and add a splash screen.
Please assign this to me.
@smaranjitghose

[2020-08-12 09:31] varunvj1 commented on #22
Can I work on this issue?
The navbar could use some more styling.

[2020-08-13 08:45] ymaheshwari1 commented on #9
I want to work on this issue.

[2020-08-13 08:49] ymaheshwari1 commented on #23
What kind of Footer design we are expecting?
I can work on making the footer more user friendly.

[2020-08-13 09:33] anushbhatia commented on #23
[https://materializecss.com/footer.html](https://materializecss.com/footer.html)

[2020-08-13 09:40] ymaheshwari1 commented on #23
I can work on this.

[2020-08-13 11:09] #49 closed

[2020-08-13 11:09] #48 closed

[2020-08-13 11:10] anushbhatia commented on #22
is it done

[2020-08-13 11:11] anushbhatia commented on #46
Please mention these in bugs issue

[2020-08-13 11:11] #47 closed

[2020-08-13 11:11] #46 closed

[2020-08-13 11:24] anushbhatia opened #54 "Bugs"
- [ ] Responsiveness
- [ ]  Card Structure

[2020-08-13 11:27] #25 closed

[2020-08-13 11:28] #6 closed

[2020-08-13 11:29] #24 closed

[2020-08-13 11:29] #23 closed

[2020-08-13 11:29] anushbhatia commented on #23
go an comment on the new issue

[2020-08-13 11:30] #21 closed

[2020-08-13 11:30] #13 closed

[2020-08-13 11:30] #10 closed

[2020-08-13 11:30] #9 closed

[2020-08-13 11:30] #8 closed

[2020-08-13 11:30] #7 closed

[2020-08-13 11:38] varunvj1 commented on #22
Yes it is done. Should I create a PR?

On Thu, Aug 13, 2020 at 4:41 PM Anush Bhatia <notifications@github.com>
wrote:

[2020-08-13 12:42] anushbhatia opened #56 "Home Page"
- [ ]  A video of the Doc2Pen in optimized format (For any Problems just feel free to contact me)
- [x]  Add a button to "Check out  Editor"
- [ ]  Adding Features in a better format with illustrations
- [ ] Experiment with Replacing video with a zoomed gif effect (Example given below)
- [ ] Improve the content  on the page
- [ ] Work on the dark mode

[2020-08-13 13:51] anushbhatia opened #58 "Nav Bar"
Minimal and Simple Nav Bar with white and dark mode toggle button present as well as
home
editor
contact
For inspiration refer [this](https://demos.creative-tim.com/material-kit/index.html?_ga=2.202989457.1035946558.1597326347-1708666551.1597326347)

[2020-08-13 13:57] varunvj1 commented on #58
Dark mode toggle button present in the navbar?

[2020-08-13 13:58] smaranjitghose commented on #58
Absolutely!

[2020-08-13 14:00] varunvj1 commented on #58
Please review my PR. Should I edit it and add the button in that?

[2020-08-13 14:26] anushbhatia opened #59 "Contact"
# Suggested Sections

- [ ] Topmost illustration
- [ ] Project Maintainers: Name,Picture,LinkedIn,GitHub
- [ ] Project Contributors: Name,Picture, LinkedIn
- [ ] Info about open source, code of conduct,  checkout and star on GitHub
- [ ] Support Us Section [ Patreon + Buy Me a coffee]...Remove the floating icon

[2020-08-13 14:38] anushbhatia opened #60 "Editor"
- [ ] Side by Side Windows for screen you write and the output [for example](https://12hoy26budd28l29v3kl2fq1-wpengine.netdna-ssl.com/wp-content/uploads/2017/03/AOG-on-Overleaf-1b.png)
- [ ] Drop Down Menu for different fonts
- [ ] Menu Bars kind of structure [on top](https://saurabhdaware.github.io/text-to-handwriting).
- [ ] Better Buttons so that it looks more intriguing. [refer this](https://d

[2020-08-13 14:44] anushbhatia opened #61 "Features"
- [ ] Export Options:  jpg, png,pdf,docx
- [ ] Adding Custom Fonts
- [x] Various Page Options like lined blank etc.
- [x] Different Pen Color
- [ ] Text Size variation while writing
- [ ] Custom Alignments so that i can place my text anywhere
- [ ] Excalidraw Integration
- [ ] Google Drive Integration
- [ ] Chat Option using socket.io
- [x] Input Text Limit(no. of words that can be given as input)

[2020-08-13 14:45] anushbhatia opened #62 "SEO"
Add various meta tage required for it boost up  the rating using lighthouse,pageinsights and gt metrix

[2020-08-13 14:53] anushbhatia opened #63 "UI/UX Updates/Suggestions"
Any UI/UX related enhancements feel free to ping me or drop a comment here.

[2020-08-13 14:53] himanshujaidka commented on #59
please assign this issue to me

[2020-08-13 14:57] himanshujaidka opened #64 "We need links at index.html"
pls provide me details, so that I put links at footer

[2020-08-13 14:58] AshutoshDash1999 commented on #59
@anushbhatia I want to work on this issue

[2020-08-13 15:07] debanshu08 commented on #58
I would like to work on this.

[2020-08-13 15:07] himanshujaidka commented on #61
I want to work on different pen colour

[2020-08-13 15:07] himanshujaidka commented on #61
and also wants to work on the input text limit

[2020-08-13 15:09] debanshu08 commented on #64
Please assign this issue to me.

[2020-08-13 15:11] shankhanil007 commented on #56
I want to work on "Add a button to Check out Editor" issue!

[2020-08-13 15:19] himanshujaidka commented on #63
@anushbhatia I am very excited and wants to work

[2020-08-13 16:00] smaranjitghose commented on #64
Links to what? Can you please be specific?

[2020-08-13 16:02] anushbhatia commented on #64
Don't create unecessary issues

[2020-08-13 16:03] anushbhatia commented on #61
Sure @himanshujaidka

[2020-08-13 16:03] arnoob16 commented on #54
I can work on the responsiveness of the project.

[2020-08-13 16:10] rutujadhanawade commented on #54
Will you please explain what do u mean by card structure? I would like to work on this issue.

[2020-08-13 16:12] arnoob16 commented on #63
I think the navbar is too basic, also there's no C2A i.e. a button to go to the editor directly from the home page, while using mobile. The navbar-toggle is placed away for a right handed user on a phone display.

[2020-08-13 16:14] debanshu08 commented on #54
I can work on Responsiveness of the project.

[2020-08-13 16:16] arnoob16 commented on #59
I would like to work on this.

[2020-08-13 16:18] debanshu08 commented on #59
I would like to work on the Project Maintainers section.

[2020-08-13 16:22] arnoob16 commented on #60
I can work on dropdowns and buttons. Can I use some other animated buttons made with pure css?
Also, What do you mean by Menu Bars. I don't see any menu bar in that page, except the dark mode toggle.

[2020-08-13 16:25] himanshujaidka commented on #64
please see the footer section of the index.html

[2020-08-13 16:25] AshutoshDash1999 commented on #58
@anushbhatia I would like to work on this if possible.

[2020-08-13 16:31] varunvj1 commented on #58
I'm already working on this.

[2020-08-13 16:41] shawavisek35 commented on #63
The site is not responsive.
I would like to work upon this.

[2020-08-13 17:37] varunvj1 commented on #58
The dark mode toggle button is for the editor page or for the whole website?

[2020-08-13 18:06] Aniruddhmuley2001 commented on #56
@anushbhatia In the third point, do Features refer to the overall page or any specific part?

[2020-08-13 18:28] himanshujaidka opened #65 "Issue with buttons on editor page"
there is confusion between the button present on the editor page. We have to change the text on the button or change the UI design so that we are able to add more features and in future users clearly understand the functionality of buttons.
![Screenshot (49)](https://user-images.githubusercontent.com/58654018/90172615-eabdfb80-ddc0-11ea-874d-43fa23a313e9.png)

[2020-08-13 22:30] raksha009 commented on #59
Hi, I would like to work on this issue

[2020-08-13 22:31] raksha009 commented on #59
Hi, I would like to work on this issue. Plz assign this to me.

[2020-08-13 22:33] raksha009 commented on #61
Hi, I would like to work on adding custom fonts.

[2020-08-14 02:32] smaranjitghose commented on #64
We have raised a separate issue for the footer to be done from scratch. That's a bug there which was initially meant for social media icons

[2020-08-14 02:32] #64 closed

[2020-08-14 02:37] smaranjitghose commented on #59
@AshutoshDash1999 : Project Maintainer Section
@raksha009 : Contributors Section
@arnoob16: Section about License, Code of Conduct
@debanshu08: Final Section on Sponsorship

Does it this sound good?

** Take inspirations from other major open-source projects

[2020-08-14 02:39] smaranjitghose commented on #58
The Entire  Website

[2020-08-14 02:41] smaranjitghose commented on #56
It's basically about the project itself like:
- We have custom handwritten fonts
- Options to Change Pages
- Export to pdf,word,etc
- And so on

Basically like a landing page of a product that gives pictorial insights

[2020-08-14 02:43] smaranjitghose commented on #61
Whenever you give a PR for this, please note that the fonts should be as close to human handwriting as possible. @anushbhatia would teach you how to actually collect people's handwriting and convert them into fonts. We need 10 in total for now. You can contact him over slack for this

[2020-08-14 03:23] AshutoshDash1999 commented on #59
@smaranjitghose Project Maintainer section already has name with github and linkedin. Do we have to develop a different style for that part?

[2020-08-14 03:50] Aniruddhmuley2001 commented on #56
@smaranjitghose  Can this be assigned to multiple people? If so, I would like to work on this issue.

[2020-08-14 04:01] smaranjitghose commented on #56
Definitely, we would like the participants to work at one subtask at time. "Divide and Conquer"

[2020-08-14 04:02] smaranjitghose commented on #59
Ya, We would like to change the UI

[2020-08-14 04:48] anushbhatia commented on #54
Editor page is not responsive as canvas is called from the js function.

[2020-08-14 04:49] anushbhatia commented on #54
Home Page has cards that can be improved that are not looking good.

[2020-08-14 04:52] anushbhatia commented on #65
this issue already exists in editor page don't create these until u don't ask a mentor for it.

[2020-08-14 04:52] #65 closed

[2020-08-14 05:01] anushbhatia commented on #60
Menu bar is like a layout present below the nav bar like kind of structure it should be like Microsoft word where we get edit options on top. That will be menu bar.

[2020-08-14 05:11] rutujadhanawade commented on #54
I can work on improving card structure.

[2020-08-14 05:46] shawavisek35 commented on #63
@smaranjitghose can i use bootstrap4 in this project.

[2020-08-14 07:27] goelradhika commented on #60
@anushbhatia  @smaranjitghose  sir, I want to do -
## Side by Side Windows for screen you write and the output

[2020-08-14 07:49] salonilakhotia opened #67 "Footer"
# A proper footer should be made for the website to look good

[2020-08-14 07:50] RiyaAgrawal17 commented on #67
I want to contribute to this section.

[2020-08-14 07:50] salonilakhotia commented on #67
I would like to work on this issue. Can u plz assign me this issue

[2020-08-14 10:48] anushbhatia commented on #63
sure if that makes it look great you can replace the whole structure

[2020-08-14 10:52] anushbhatia commented on #67
its done just you can modify the content

[2020-08-14 10:52] #67 closed

[2020-08-14 13:30] imPGupta commented on #62
I want to work on this issue but need some help.

[2020-08-14 16:15] varunvj1 commented on #63
"What is Doc2Pen" and Key features section styling could be more organized and improved. Please assign it to me.

[2020-08-14 18:17] smaranjitghose commented on #62
Sure, ping us in the common workspace. We would help you out. Please comment the entire SEO work you do elaborately

[2020-08-15 03:57] AshutoshDash1999 commented on #59
@smaranjitghose please check updated Project Maintainer section of contact.html and contact.css

[2020-08-15 04:16] AshutoshDash1999 commented on #56
@smaranjitghose about the video, do you want to create a tutorial like thing for doc2pen?

[2020-08-15 06:56] shankhanil007 commented on #56
Regarding "Add a button to Check out Editor" issue do I need to add a button in the home page linked to editor.html page? Is that what the issue is all about?

[2020-08-15 08:42] smaranjitghose commented on #56
Ya, that's precisely what we need. If you can put some animation to the button that will be cool!

[2020-08-15 08:50] smaranjitghose commented on #59
Sorry, I didn't get you

[2020-08-15 08:52] AshutoshDash1999 commented on #59
i have submitted a PR for project maintainer section

[2020-08-15 10:28] himanshujaidka commented on #61
please add some fonts of bad handwriting @raksha009

[2020-08-15 11:04] ymaheshwari1 commented on #61
Hi, I want to work on a chat option using socket.io.

[2020-08-15 11:05] sameersrivastava13 opened #70 "Adding a 404 Page."
# Description the change
To add a 404 error page to keep a visitor on your site even if he/she hits a page that doesn't exist. Also to change the bad User experience to a positive one by adding some links to that 404 page so that the visitor can navigate to some other page.

# Screenshots

![Screenshot (39)](https://user-images.githubusercontent.com/56088741/90311093-51ecc480-df15-11ea-8775-b0cc0a

[2020-08-15 16:34] anushbhatia commented on #61
go on @ymaheshwari1

[2020-08-15 18:16] sameersrivastava13 opened #74 "Adding a Splash Screen"
# Description of the Feature
To give an end user immediate feedback that an application is starting and loading in the background.

[2020-08-15 18:31] srishtij2000 commented on #54
Can I work on this issue?

[2020-08-15 19:41] anushbhatia commented on #74
Give an example of the splash screen before making a PR

[2020-08-15 20:06] shankhanil007 commented on #56
@smaranjitghose There is already a button on the navbar of home page with "Editor" name on it and linked to editor.html page.
So what do I have to do? Add a new button?

![Editor Button](https://user-images.githubusercontent.com/58778597/90320676-c567f380-df60-11ea-99e4-69e48d55eb20.PNG)

[2020-08-15 23:02] #70 closed

[2020-08-15 23:16] smaranjitghose commented on #54
@srishtij2000  Can you please point out the bugs you wish to fix

[2020-08-16 01:03] AshutoshDash1999 commented on #59
@smaranjitghose Let me know, how does it look?
![Screencast from 15-08-20 09 09 59 AM IST](https://user-images.githubusercontent.com/46455250/90324284-47204700-df8a-11ea-9619-9992c152c0b9.gif)

[2020-08-16 03:50] srishtij2000 commented on #54
I can work on improving the card structure

[2020-08-16 06:23] Deshmukh-Omkar opened #76 "Better Font Collection"
### Description
The website can certainly use a better font collection to amp up the UI!
Add the necessary labels too.

[2020-08-16 06:41] Deshmukh-Omkar opened #77 "Unnecessary Links in the footer"
## Description the change
There are multiple links in the footer which aren't fulfilling any purpose.

## Screenshots
![Screenshot 2020-08-16 at 12 10 59 PM](https://user-images.githubusercontent.com/42082976/90328377-8d40cf00-dfb9-11ea-9045-0c9fff431136.png)

[2020-08-16 06:50] AshutoshDash1999 commented on #59
@anushbhatia I have submitted a PR #75 , but I don't know why an error  is showing. I tried to google it but unable to find any solution.

[2020-08-16 07:30] ankitapuri commented on #59
I would like to work on this issue.

[2020-08-16 07:55] Nishtha3512 commented on #77
Is there need to remove these links?

[2020-08-16 08:04] The-Keshav-Agarwal commented on #63
In the Home page, in the "What is Doc2Pen" section there is some extra spacing which is not looking good. I want to remove this spacing. please assign this to me.
![image](https://user-images.githubusercontent.com/56120769/90329775-19a4bf00-dfc5-11ea-847c-bfb540a5dbf6.png)

[2020-08-16 08:42] imPGupta commented on #77
I will replace these by social media links. Assign me.

[2020-08-16 10:14] EkjotKaur commented on #61
Hi, I would like to work on Various Page Options like lined blank etc.

[2020-08-16 10:25] sameersrivastava13 commented on #74
@anushbhatia here is an example that i have implemented..
Also we can change the loading GIF to some other GIF whichever you want.

![splash](https://user-images.githubusercontent.com/56088741/90332202-b7ee5000-dfd8-11ea-834e-3b7356476459.gif)

[2020-08-16 10:43] imsahil007 commented on #74
Looks great. Keep in mind to attach the final output as gif along with the PR @sameersrivastava13

[2020-08-16 11:26] yogi1408 commented on #59
I would like to work on this issue.

[2020-08-16 12:05] AyushSatyam commented on #77
Please assign me. I will remove unwanted links and if necessary I will add some other links.

[2020-08-16 12:09] AyushSatyam commented on #61
I would like to work on Google drive integration

[2020-08-16 12:50] Deshmukh-Omkar commented on #76
Please assign me for this work.

[2020-08-16 14:26] Nishtha3512 commented on #77
Let me know what I need to do here and please assign it to me

[2020-08-16 15:45] God-father1 opened #79 "Parallex Effect on landing page"
# Adding Parallex Effect to the Landing page

Add the parallax effect to the landing page to make it look more interactive. Try looking at the [UI Kit Parallex](https://getuikit.com/docs/parallax).

[2020-08-16 16:00] sameersrivastava13 commented on #74
@anushbhatia  @imsahil007 Actually when i was implementing this i saw that already there is a pre-loading screen added.

![Screenshot (41)](https://user-images.githubusercontent.com/56088741/90338484-a3757c00-e007-11ea-951b-580fc8fecbfa.png)

[2020-08-16 16:00] anushbhatia commented on #56
editor button on the home page

[2020-08-16 16:27] sameersrivastava13 opened #80 "Moving JS code from index.html to separate .js file in assets"
# Description of the change

Separate files makes maintenance easier. The separate code makes it easier for web browsers to cache.

# Screenshots

![Screenshot (43)](https://user-images.githubusercontent.com/56088741/90338983-4976b580-e00b-11ea-9ce3-29acd37ee006.png)

[2020-08-16 16:27] #79 closed

[2020-08-16 16:28] anushbhatia commented on #79
UI Kit will make it look like ppt.

[2020-08-16 16:28] anushbhatia commented on #77
Handled in footer issues

[2020-08-16 16:28] #77 closed

[2020-08-16 16:28] sameersrivastava13 commented on #80
please assign this to me so that i can make the changes.

[2020-08-16 16:29] #76 closed

[2020-08-16 16:29] anushbhatia commented on #76
Already Assigned in features issue

[2020-08-16 16:30] smaranjitghose commented on #74
This is for the other project 😅

[2020-08-16 16:30] anushbhatia commented on #74
![ezgif com-video-to-gif (4)](https://user-images.githubusercontent.com/40017559/90339062-f2251500-e00b-11ea-9e0f-5cfba70ee85f.gif)
use this

[2020-08-16 16:34] anushbhatia commented on #63
Fix the extra space. Try improving UI as well

[2020-08-16 16:39] anushbhatia commented on #61
Export Options: jpg, png,pdf,docx
 Adding Custom Fonts adding 5 atleast @raksha009 (pm on slack for making them)
 Various Page Options like lined blank etc. @EkjotKaur
 Different Pen Color(black,blue,red,green) @himanshujaidka
 Text Size variation while writing
 Custom Alignments so that i can place my text anywhere
 Excalidraw Integration
 Google Drive Integration @AyushSatyam
 Chat Option using

[2020-08-16 16:41] anushbhatia commented on #59
2 days to go any updates?

[2020-08-16 16:41] smaranjitghose commented on #59
The tasks are assigned for 3 more days(including today), after that it would be reassigned. And please specify which subtask you want to do

[2020-08-16 16:43] smaranjitghose commented on #54
It's already assigned to @rutujadhanawade for 2 more days. After that, you can contribute

[2020-08-16 16:49] sameersrivastava13 commented on #74
@smaranjitghose yeah actually i was giving @anushbhatia an example that i have implemented.😅

[2020-08-16 16:50] sameersrivastava13 commented on #74
@smaranjitghose yeah actually i was giving @anushbhatia an example that i have implemented.😅

[2020-08-16 17:00] sameersrivastava13 commented on #74
@anushbhatia after using the GIF you gave

![Screenshot (44)](https://user-images.githubusercontent.com/56088741/90339688-ed626000-e00f-11ea-83d2-ddffa0778d45.png)

[2020-08-16 17:37] ankitapuri commented on #59
contributor's section

[2020-08-16 18:48] raksha009 commented on #59
Yeah ... Working on it.. and its taking a bit time. Also, plz start the contribution time from 16 th and give us a little more time plz.

[2020-08-16 18:50] raksha009 commented on #59
The contribution period started today . Plz give a little more time

[2020-08-16 18:50] raksha009 commented on #59
The contribution period started today. Plz give little more time.

[2020-08-17 07:31] himanshujaidka commented on #61
@anushbhatia could I use backend for characters limit?

[2020-08-17 07:31] himanshujaidka commented on #61
node.js?

[2020-08-17 08:32] himanshujaidka commented on #61
see pr #83 feature 10 solved

[2020-08-17 10:16] srishtij2000 commented on #56
I can work on adding features in better format

[2020-08-17 10:17] srishtij2000 commented on #54
Okay

[2020-08-17 13:56] sameersrivastava13 opened #88 "Adding a .gitignore File"
# Description the change
To add a git ignore file to ensure that certain files are not tracked by git.

[2020-08-17 13:59] AshutoshDash1999 commented on #59
@anushbhatia can you please specify what type of effect you want in project maintainer's section?

[2020-08-17 14:44] Deshmukh-Omkar commented on #88
Please assign me this, coz my PR already has one, so we can directly update it.

[2020-08-17 14:46] Deshmukh-Omkar commented on #61
Please assign me on Feature 1: Export options

[2020-08-17 15:01] Deshmukh-Omkar commented on #63
Resolves #86

[2020-08-17 15:01] sameersrivastava13 commented on #88
mentors are also allowed to contribute? 🤨

[2020-08-17 15:01] #88 closed

[2020-08-18 00:38] smaranjitghose commented on #56
Sure! You can improve the design

[2020-08-18 00:45] smaranjitghose commented on #61
Please understand for every comment you put we get a notification. Once you give a PR be patient, it will be reviewed soon. Do not mention it again in the issue and use the slack channel for discussion

[2020-08-18 01:25] smaranjitghose commented on #59
Although I would suggest you explore and suggest effects yourself and eventually get feedback, for the cards in the project maintainer section try to emulate [this](https://www.bluleadz.com/about-us) and for the effect on hover try to emulate [this](https://girlscriptboilerplate.netlify.app/team.html)

[2020-08-18 01:46] Aniruddhmuley2001 commented on #80
Is this issue required to be worked over now, or is it resolved?

[2020-08-18 01:53] smaranjitghose commented on #80
@sameersrivastava13 is doing it now

[2020-08-18 02:29] Aniruddhmuley2001 commented on #80
Ok

[2020-08-18 09:30] srishtij2000 commented on #56
Okay

[2020-08-18 14:44] srishtij2000 commented on #56
![home](https://user-images.githubusercontent.com/64734684/90527655-65a35f80-e18f-11ea-93f4-4d8bf2302b96.png)

[2020-08-18 15:45] AshutoshDash1999 commented on #59
i'm thinking of applying this effect. what do you think?
![Screencast from 18-08-20 09 01 01 PM IST](https://user-images.githubusercontent.com/46455250/90534734-b6b75180-e197-11ea-8044-80af886fee44.gif)

[2020-08-18 16:43] anushbhatia commented on #59
this looks good to me

[2020-08-18 17:03] divanshurox commented on #58
Hey can I work on this issue??

[2020-08-19 07:24] srishtij2000 commented on #56
Kindly review it

[2020-08-19 08:33] smaranjitghose commented on #59
@ankitapuri Would you like to propose some changes to the contributor's section. Have a look at @raksha009's PR, her work and my suggestions there

[2020-08-19 08:35] sameersrivastava13 commented on #80
Already completed.

[2020-08-19 08:35] #80 closed

[2020-08-19 08:42] smaranjitghose commented on #61
# Reminders:

@ymaheshwari1  - 4 more days
@AyushSatyam  - 4 more days
@EkjotKaur - 2 more days
@himanshujaidka - 2 more days
@raksha009 - 3 more days

[2020-08-19 08:44] smaranjitghose commented on #74
@sameersrivastava13  Any updates>?

[2020-08-19 09:16] himanshujaidka opened #93 "Feedback Form"
# Description:
we have to add feedback form so that our users give us valuable feedback and suggestions for new features
# Screenshots:

[2020-08-19 09:23] nooras commented on #93
Hey Can i do this ? Will you assign me ? @himanshujaidka

[2020-08-19 11:45] ankitapuri commented on #59
@smaranjitghose surely I'll look into it

[2020-08-19 14:30] imsahil007 commented on #62
Any updates on this @imPGupta ?

[2020-08-19 14:38] imsahil007 opened #95 "Dark Mode in the editor looks ugly"
# Description:

Dark mode in the editor is all black with white font. Try to separate text box with rest of the webpage.

# Screenshots:

![image](https://user-images.githubusercontent.com/35963992/90648909-bc746c00-e257-11ea-882a-30cfa11cddee.png)

[2020-08-19 15:04] smaranjitghose commented on #93
I just realized we have a small design glitch, the current ```Contact``` form should be ```About Us``` and the feedback form should be ```Contact Page```

@nooras and @himanshujaidka collaborate on this and try to finish it in 2 or 4 PRs (divide the work equally and discuss over slack)

So for the ```Contact Page``` we need,

- A feedback/contact form with the following details:
     - Name
     -

[2020-08-19 15:08] smaranjitghose commented on #95
It does not just look ugly, it sucks 🤣🤣. We need a total revamp!

[2020-08-19 15:13] himanshujaidka commented on #93
yes @smaranjitghose and I also think that we have to add some more contributors pics in about us section?😜

[2020-08-19 15:23] nooras commented on #93
Okay @smaranjitghose

[2020-08-19 15:24] himanshujaidka commented on #93
@nooras give me your slack id
or mess me at himanshu jaidka

[2020-08-19 15:44] himanshujaidka commented on #93
@smaranjitghose we have to do backend for this
will we use node.js?

[2020-08-19 15:45] himanshujaidka commented on #93
and Mailchimp for API?

[2020-08-19 15:46] smaranjitghose commented on #93
Ofcourse man, everyone's first PR merged is meant to be credited there..( But no points to again include your name and pic🤣..just with your second or third PR, add yourself to our sweet little hall of fame😇)

[2020-08-19 15:56] himanshujaidka commented on #93
No, no 😅 but it's my 2 PR which is merged and I want to be a permanent member of it @smaranjitghose

[2020-08-19 15:57] himanshujaidka commented on #93
@smaranjitghose and please tell us

[2020-08-19 16:39] #54 closed

[2020-08-19 17:29] #74 closed

[2020-08-20 04:58] Aniruddhmuley2001 commented on #60
I would like to work on responsiveness of the page and side by side windows issue.

[2020-08-20 05:00] imPGupta commented on #62
Yes @imsahil007 . Added few meta tags by using open graph. Sorry, for too late to reply due to some network and electricity issues.

[2020-08-20 05:14] ymaheshwari1 commented on #95
I am interested in working on this.

[2020-08-20 05:15] anushbhatia commented on #93
as of now we won't be using the backend try using only html css js

[2020-08-20 05:17] anushbhatia commented on #95
distribute pages among yourself

[2020-08-20 05:18] anushbhatia commented on #60
ping me on slack i will explain the layout if you have a issue,

[2020-08-20 06:21] himanshujaidka commented on #93
ok

[2020-08-20 16:14] EkjotKaur commented on #60
I would like to work on Better Buttons so that it looks more intriguing.

[2020-08-20 16:18] nooras commented on #93
Hey @smaranjitghose there is already contact is present in Navbar... what we have to update in navbar ?
![Screenshot from 2020-08-20 21-47-05](https://user-images.githubusercontent.com/30138146/90797802-c1581f00-e32e-11ea-8a8b-590380447a4f.png)

[2020-08-21 08:17] anushbhatia commented on #56
Anybody wants to work with the video in homepage we want a style like this where video will be placed on left and the right will have a button to check out the editor with some basic description.

refer this  https://autovaidya.smaranjitghose.codes/

For more clarity feel free contact me on slack

[2020-08-21 08:18] anushbhatia commented on #60
let @Aniruddhmuley2001 change the layout then will assign u this

[2020-08-21 08:19] anushbhatia commented on #93
try using better format for the maps https://demos.creative-tim.com/material-kit/index.html refer this for layout

[2020-08-24 06:45] raksha009 commented on #59
Can I work on "Project Contributors: Name,Picture, LinkedIn" issue @smaranjitghose
Also, from where to collect the picture and linkedin handle if its not mentioned in their github profile !?

[2020-08-24 10:47] ankitapuri commented on #59
according to me the contributor section is fine which is done by @raksha009

[2020-08-24 11:24] anushbhatia commented on #59
If anyone wants to add the names of people from the contributor's direct to the page using GitHub API u can follow that.
If interested ping me on slack.

[2020-08-24 15:57] srishtij2000 commented on #56
I have sent a PR so kindly review it

[2020-08-24 17:32] raksha009 commented on #59
I have no idea about how github APIs work.. So, would It be feasible if I manually add all the contributors there!?
Or is there any online resource from where I could get an idea about adding names of people from contributor's direct to the page!?

[2020-08-25 03:43] himanshujaidka commented on #61
@smaranjitghose I am trying to apply the dropdown button but the button is not working on-site, so what I do?

[2020-08-25 14:02] sameersrivastava13 opened #110 "Adding a Footer"
# Description:

Currently there is no Footer at the bottom of the page. Therefore i would like to add a footer using [materializecss](https://materializecss.com/footer.html)

# Screenshots:

![Screenshot (73)](https://user-images.githubusercontent.com/56088741/91183910-acea9c80-e709-11ea-880c-3878a84cd065.png)

[2020-08-25 14:02] sameersrivastava13 commented on #110
Please assign me this issue. @anushbhatia @smaranjitghose

[2020-08-25 14:13] himanshujaidka commented on #110
@sameersrivastava13 I have already make an issue and I have already added it

[2020-08-25 14:24] imPGupta commented on #110
I also want to contribute on footer.

[2020-08-25 14:34] sameersrivastava13 commented on #110
Actually i can't see any footer in the web application that's why i created this issue. I remember the footer was there but i guess someone removed that.
that's why i asked if footer is to be added then i can work on it.

[2020-08-25 14:50] himanshujaidka commented on #110
yes, I made PR once again, if my PR will merge then you could add links on that actually that footer is incomplete. @sameersrivastava13

[2020-08-25 18:04] sameersrivastava13 commented on #110
Sure.

[2020-08-26 02:52] imPGupta commented on #63
I want to add a new footer section.

[2020-08-26 08:11] anushbhatia commented on #56
PR had no file change

[2020-08-26 08:12] #110 closed

[2020-08-26 15:58] EkjotKaur commented on #60
Can you tell me what next I have to do @anushbhatia @smaranjitghose.

[2020-08-26 16:05] Bhavya-Sehgal commented on #61
Hi, I would like to work on adding custom fonts.

[2020-08-26 18:10] himanshujaidka opened #114 "Variation in pen's tip"
# Description:
if we have feature of selecting tip size like 0.5mm and so on then it will give more realistic feel

# Screenshots:

[2020-08-26 18:11] himanshujaidka opened #115 "Pencil mode feature"
# Description:
 Pencil mode should be introduced

# Screenshots:

[2020-08-26 18:12] himanshujaidka commented on #115
I want to work on this feature if accepted

[2020-08-28 11:15] #115 closed

[2020-08-28 11:16] smaranjitghose commented on #61
@Bhavya-Sehgal Please get in touch with @anushbhatia for learning how to collect handwritings and convert them into fonts using pentool

[2020-08-28 11:18] smaranjitghose commented on #114
@himanshujaidka Don't make separate issues for this. It becomes difficult to keep track at times, just mention this in the Features issue and I'll assign you😊

[2020-08-28 11:18] #114 closed

[2020-08-28 11:26] smaranjitghose commented on #60
- Can you please do the side by side (input + output) layout that @Aniruddhmuley2001 was doing
- Please remove the dark mode from the Editor Page as well. Once the entire UI is complete for light mode and other pages are done, we shall proceed to it

[2020-08-28 11:40] smaranjitghose commented on #59
Ya that works for now. Later I'll guide you with the GitHub API

[2020-08-28 11:41] smaranjitghose commented on #62
Go ahead and give a PR if you have any changes to propose

[2020-08-28 12:11] himanshujaidka commented on #61
@smaranjitghose which feature you assigned me?

[2020-08-28 12:12] himanshujaidka commented on #61
we have to add a pen tip feature and pencil mode feature to

[2020-08-29 14:33] kmlhsn opened #117 "Broken HTML anchor on the footer"
1. Go to https://doc2pen.smaranjitghose.codes/ or run app from your local machine
2. Scroll down to bottom

Description:
There are some broken HTML anchor like "link 1, link 2..." on the gray colour section

Expectation:
There should have some useful HTML anchor with proper name

![image](https://user-images.githubusercontent.com/32615215/91639213-d9b6f080-ea36-11ea-96af-d60d79859aa7.png)

[2020-08-29 14:40] kmlhsn opened #118 "Contact Page not found"
1. Go to https://doc2pen.smaranjitghose.codes/ or run app from your local machine
2. Click on contact on top nav bar

Description:
when I click on contact, it shows "Oops! Page not Found."

Expectation:
when I click on contact, it should show a contact page

![image](https://user-images.githubusercontent.com/32615215/91639354-c5272800-ea37-11ea-88dd-d941158d1505.png)

[2020-08-29 14:47] kmlhsn opened #119 "No Footer"
1.  Go to https://doc2pen.smaranjitghose.codes/ or run app from your local machine
2. Click on "Editor" on top nav bar

Description:
There is no Footer on "Editor" page

Expectation:
There should have footer
![image](https://user-images.githubusercontent.com/32615215/91639511-dde40d80-ea38-11ea-962e-d0a2138c44f4.png)

[2020-08-29 14:58] kmlhsn opened #120 "Buttons on Blue panel on "Editor" page not working"

[2020-08-29 15:05] #120 closed

[2020-08-29 16:29] himanshujaidka commented on #119
@kmlhsn please refer to previous issues before opening a new one, already discussed and assigned

[2020-08-30 06:48] ymaheshwari1 commented on #95
@smaranjitghose Can I start now, as the PRs is still not merged?

[2020-08-31 04:39] himanshujaidka opened #123 "Different color option is missing"
![Screenshot (62)](https://user-images.githubusercontent.com/58654018/91683346-fc015900-eb71-11ea-8564-6d6e9912a34e.png)
# Description:

# Screenshots:

[2020-08-31 20:53] nikita-1801 commented on #63
I'd like to work on stylizing the features and call to action section. It looks plain right now.

[2020-08-31 21:15] nikita-1801 commented on #56
I'd like to work on this.

[2020-09-01 04:37] Aniruddhmuley2001 opened #124 "Page Speed"
# Description:
The page speed of the website is good, but has a pretty good chance of improvement. General points on this are the format of the introductory video and general code practices. The detailed report is given below, with individual analysis for mobile and desktop.

Desktop:
https://developers.google.com/speed/pagespeed/insights/?url=https%3A%2F%2Fdoc2pen.smaranjitghose.codes%2F&tab=desk

[2020-09-01 04:38] Aniruddhmuley2001 commented on #124
I would like to work on this issue.

[2020-09-04 07:20] yashaswibiyahut commented on #118
I would like to work on this issue but there is no contact option on the top of nav bar.
Explain and assign me to do this as a part of Hakin codes @kmlhsn

[2020-09-04 14:27] anushbhatia commented on #59
Any Update Guys?

[2020-09-04 14:28] anushbhatia commented on #118
Comment on the contact page directly I will assign you the project

[2020-09-04 14:28] #118 closed

[2020-09-04 14:29] anushbhatia commented on #124
Go ahead with it. Mention the changes you have made and the enhanced website's pagespeed when making a PR.

[2020-09-04 14:31] #119 closed

[2020-09-04 14:32] anushbhatia commented on #95
Yes go ahead

[2020-09-04 15:46] ritiksoni00 opened #126 "Contribution.md FIle"
it is need ithink?? @smaranjitghose

[2020-09-05 08:38] ritiksoni00 commented on #126
IT WILL NEED SOME CHANGES IN README TOO..

[2020-09-05 08:38] ritiksoni00 commented on #126
@anushbhatia

[2020-09-05 09:07] ashishnagpal2498 commented on #126
Kindly explain in brief, what all changes you have to make.

[2020-09-05 09:18] ritiksoni00 commented on #126
like remove CoDe of conduct text in Readme And link This file with some instructions

[2020-09-05 13:26] rutujadhanawade opened #128 "PR template needed"
# Description:

-  There is no PR template right now.
-  I want to create a custom PR template so that Any new Contributor must be able to specify if he has met all the requirements like Clean Code, proper README and Documentation, Screenshots (If any) attached and more.

Please assign this to me as a part of CH20

[2020-09-05 13:30] rutujadhanawade commented on #128
Please assign this issue to me @anushbhatia .
And add proper labels to it.

[2020-09-06 05:00] anushbhatia commented on #128
Explain the procedure and what all features are you going to include in this. So that I can recommend changes right now only

[2020-09-06 05:04] rutujadhanawade commented on #128
I want to create something like this 👇

#### Description

 #### Checklist

 - [ ] I've read the contribution guidelines.
- [ ] This PR mets all the requirements like Clean Code, proper README and Documentation

 #### Related Issues or Pull Requests

 (Write your answer here.)

 #### Screenshots (if any)

  Original           | Updated
 :--------------------: |:--------------------:

[2020-09-06 05:11] anushbhatia commented on #128
go ahead and ask for suggestions form @smaranjitghose regarding this.

[2020-09-06 06:26] ymaheshwari1 commented on #95
@smaranjitghose @anushbhatia Have a look on the below screenshot:

![image](https://user-images.githubusercontent.com/41404838/92319619-00c58180-f038-11ea-85de-db6df0853fea.png)

[2020-09-06 13:45] #128 closed

[2020-09-07 03:26] AdityaJ7 opened #132 "[Bug]Two instances of Navbar are present in the editor section of the website"
# Description
There are two instances of navbar present in the editor section of the website which can be checked [here](https://doc2pen.smaranjitghose.codes/editor.html)

## Screenshot

![bug](https://user-images.githubusercontent.com/42397096/92345659-d3d0a780-f0e7-11ea-887c-79bbd03e91ab.png)

## Possible Fix

Remove the lower navbar.

[2020-09-07 03:45] AdityaJ7 opened #133 "[Bug]The Bug Report Template doesn't shows up when opening a new issue"
# Description

So when I created an issue there was no option to choose a bug report template though I can see a bug report template is present in the ISSUE TEMPLATES folder of this repo.

## Screenshot
![bug2](https://user-images.githubusercontent.com/42397096/92346454-7722bc00-f0ea-11ea-9991-868482913bd4.png)

## Possible fix

Maybe the bug report template hasn't been linked properly so we can c

[2020-09-07 04:38] smaranjitghose commented on #132
![screen_menu](https://user-images.githubusercontent.com/46641503/92348887-0e3f4200-f0f2-11ea-81ef-a4d594d191f4.jpg)
This should be the layout. Two menu bars above the input and output screens

[2020-09-07 04:39] smaranjitghose commented on #133
For now, we are avoiding using any bug or feature templates for PRs or issue

[2020-09-07 04:39] #133 closed

[2020-09-07 04:40] #126 closed

[2020-09-07 15:37] anushbhatia commented on #95
https://uxdesign.cc/dark-mode-ui-design-the-definitive-guide-part-1-color-53dcfaea5129
https://material.io/design/color/the-color-system.html#color-theme-creation
Refer to these for colour codes

[2020-09-07 17:18] himanshujaidka commented on #123
? @smaranjitghose

[2020-09-08 02:15] AdityaJ7 commented on #132
@anushbhatia I guess this issue has been addressed in  PR  #125

[2020-09-08 09:20] smaranjitghose commented on #123
Yes. You want to fix the bug for missing option of pen color?

[2020-09-08 09:33] ymaheshwari1 commented on #95
@anushbhatia Which section color should I change?

[2020-09-09 06:37] #56 closed

[2020-09-09 06:37] #58 closed

[2020-09-09 06:37] #59 closed

[2020-09-09 06:37] #63 closed

[2020-09-09 06:38] #93 closed

[2020-09-09 06:38] #117 closed

[2020-09-09 06:54] ItsmeSauravSonu opened #135 "[Bug]While writing on the editor, the complete sentence is not displaying at the display at hand written notes display"

[2020-09-09 06:54] smaranjitghose opened #136 "New UI and Home Page"
We wish to have a new UI for the home page since the current one is not visually appealing and the code base is quite messed up

# Certain Guidelines:
- All commits are to be made in the ```beta_1``` branch
- Inline CSS and Internal CSS is not permitted
- You can use Bootstrap or Materialize or Tailwind ( But do not use more than one framework)
- All assets (i.e. images, illustrations,etc) are to

[2020-09-09 06:55] ItsmeSauravSonu commented on #135
![Screenshot_20200909_122129](https://user-images.githubusercontent.com/57924568/92564853-7713ef00-f297-11ea-9e6a-236d6d205c8b.jpg)
Screenshot

[2020-09-09 07:05] himanshujaidka commented on #136
assign some task to me

[2020-09-09 07:06] himanshujaidka commented on #123
yes

[2020-09-09 07:06] sameersrivastava13 commented on #136
Can i work on the footer part? If yes, please assign the sub task to me.

[2020-09-09 07:06] raksha009 commented on #136
I would like to work on navigation bar.

[2020-09-09 07:07] Adyasha8105 commented on #136
Can I work on navbar?

[2020-09-09 07:08] himanshujaidka commented on #136
assign team page to me

[2020-09-09 07:08] himanshujaidka commented on #136
assign equal work to all interested contributors

[2020-09-09 07:13] smaranjitghose commented on #136
Go ahead with the Navigation Bar please

[2020-09-09 07:14] smaranjitghose commented on #136
Sure, go ahead with the footer, please. The content is fairly simple. Try to come up with a good design

[2020-09-09 07:15] smaranjitghose commented on #136
Sure, go ahead with the team "section"( Do not make a separate page, remember it is supposed to be a single page website)

[2020-09-09 07:15] himanshujaidka commented on #136
ok @smaranjitghose

[2020-09-09 07:16] smaranjitghose commented on #136
@raksha009 Can you please have a look at the other sub tasks and claim something you would like other than the ones already assigned

[2020-09-09 07:17] himanshujaidka commented on #136
and I would also interested to make contact form @smaranjitghose

[2020-09-09 07:21] smaranjitghose commented on #136
@Adyasha8105 @sameersrivastava13 @himanshujaidka Please understand this is meant to be a collaborative effort. So if @Adyasha8105 is making the NavBar, the UI should go well with @himanshujaidka team section and @sameersrivastava13 's footer. Work with mentors if you help with deciding the UI (including color schemes, gradients, etc). I have given a basic layout, so now I expect to see your work.

[2020-09-09 07:22] smaranjitghose commented on #136
One section at a time, please😊. After the team section is done and if it's available (or you can improve it), definitely I will assign you.

[2020-09-09 07:27] raksha009 commented on #136
What about home section 😅. In home section, we have to use the same illustration which is already there!?

[2020-09-09 07:37] smaranjitghose commented on #136
Actually not, the current illustration doesn't make much sense to the essence of this project. So I would expect you to come up with something different

[2020-09-09 08:04] #62 closed

[2020-09-09 08:40] smaranjitghose opened #137 "New Editor UI and requirements"
We wish to have a new UI for the editor page,i.e the heart of our project since the current one is not visually appealing and the code base is quite messed up

# Certain Guidelines:
- All commits are to be made in the beta_2 branch
- Inline CSS and Internal CSS is not permitted
- You can use Bootstrap or Materialize or Tailwind ( But do not use more than one framework)
- All assets (i.e. images, i

[2020-09-09 08:45] #132 closed

[2020-09-09 08:45] #135 closed

[2020-09-09 08:46] #60 closed

[2020-09-09 08:46] #61 closed

[2020-09-09 08:46] #123 closed

[2020-09-09 08:46] #124 closed

[2020-09-09 08:46] #95 closed

[2020-09-09 08:49] ymaheshwari1 commented on #137
I am interested.

[2020-09-09 08:52] himanshujaidka commented on #137
I have already a codebase of the font color, word count, and limit. So how will I achieve this @smaranjitghose

[2020-09-09 09:05] smaranjitghose commented on #137
You are expected to work on the beta_2 branch for this issue so there won't be any merge conflicts. The first task itself is to take reference from the work done in the master branch and build it from scratch using the specifications given in the sketch above.

Later on you can integrate word count,etc

[2020-09-09 09:05] smaranjitghose commented on #137
Please be specific which task you wish to work on

[2020-09-09 14:34] divided7 commented on #137
We are not supposed to make the menu and the footer ourselves according to the instructions, but they are not included in the beta_2 branch, can we duplicate them from master?

[2020-09-10 08:00] smaranjitghose commented on #137
For now leave the footer, the navbar is made by @Adyasha8105 is the beta_1 branch. Please use that. "Menu Bar" you are expected to make as shown in the sketch above. "Nav Bar" is to be imported

[2020-09-11 08:57] smaranjitghose commented on #136
@sameersrivastava13 Are you giving a PR today for the footer?

[2020-09-11 09:36] sameersrivastava13 commented on #136
@smaranjitghose i can add a simple footer instantly. But to add the same wave like footer it will take some time actually.

[2020-09-11 16:11] smaranjitghose commented on #136
Okay take some more time

[2020-09-12 05:32] himanshujaidka commented on #136
@smaranjitghose please give me more time I was unable to do work due to some personal reason, from today I have started the work

[2020-09-12 08:44] smaranjitghose commented on #136
Sure, then by this Tuesday can I have a PR from you?

[2020-09-12 16:12] Adyasha8105 commented on #136
@smaranjitghose Ya sure :) I will work on the contact page.

[2020-09-14 03:32] smaranjitghose commented on #136
It's fairly a small section, so can I expect a PR by 17th or before for this?

[2020-09-16 13:24] AyuSoni25 commented on #136
Hello @smaranjitghose and @anushbhatia ,
I would like to work on the About section, please assign me that task.

[2020-09-16 16:07] smaranjitghose commented on #136
Can you give a PR for it by this weekend?

[2020-09-16 16:21] Adyasha8105 commented on #136
@smaranjitghose Can I take the team section?

[2020-09-17 05:05] himanshujaidka commented on #136
@smaranjitghose tomorrow I'll give pr
almost work is done

[2020-09-17 05:34] smaranjitghose commented on #136
Okay, after your PR @Adyasha8105 will work on improvements

[2020-09-17 13:27] AyuSoni25 commented on #136
I can do it by this Monday (21/09/2020)

[2020-09-17 13:43] prathyushalahari commented on #137
@smaranjitghose  I want to work on Footer Section in editor UI

[2020-09-17 18:15] prathyushalahari commented on #136
@smaranjitghose is there anything left to work on?

[2020-09-17 19:28] smaranjitghose commented on #136
Awesome then! Looking forward to your PR. Use the slack channel for getting feedback and sharing any issues you face

[2020-09-17 19:30] smaranjitghose commented on #136
There's a lot left in the other issue. Do check that out, please

 For this one, you can work on:
- Enhancements to the existing Contact, Footer Section if you feel anything needs to be done
- SEO is left out completely
- Integrating Formspree with the Contact Form

BTW, are you well versed with React or NextJS?

[2020-09-17 19:44] prathyushalahari commented on #136
Ok Sure I will work on next issue and I am not Versed on React

[2020-09-18 04:38] ritvij14 commented on #137
@smaranjitghose sir, can I take the task of updating the `Download` option?

[2020-09-19 07:22] himanshujaidka opened #149 "Addition of pro features"
We have to add some pro features and when user wants to use them then they have to log in, so we have to link database with it

[2020-09-19 08:52] smaranjitghose commented on #149
That's a good idea, but I would love to keep this project free and open source so that we as students can make use of it without any hassle

[2020-09-19 08:54] himanshujaidka commented on #149
Make this open source but, I think login feature is good so that we count the number of students and make a contact with them to improve us

[2020-09-19 11:30] AyuSoni25 commented on #136
Hello@smaranjitghose,
I would like to contribute to the home section as well, if it has not been assigned to anybody else.

[2020-09-19 17:53] smaranjitghose commented on #136
Sure, you can continue once you have fixed the errors with you are having with your branch

[2020-09-21 01:19] ritvij14 commented on #136
@smaranjitghose I looked at all the comments but I am a bit confused with what is assigned and what isn't :sweat_smile:. Could you please tell if there is some work left to be done?

Also, from the issue description, what framework are we using? I am good at Bootstrap and Tailwind. If Materialize is needed I will learn it. And I have worked with React as well (but not Next :sweat_smile:)

[2020-09-21 16:53] smaranjitghose commented on #149
A contact form is already there for feedback. Since this is not a commercial project, spamming people for feedback would drive them away

[2020-09-21 16:53] #149 closed

[2020-09-22 03:29] imsahil007 commented on #136
You can work on the mobile responsiveness of the website. I think that should be a continuous process and we shouldn't leave it for the end.
Home section is also a choice.

[2020-09-22 17:20] smaranjitghose commented on #136
Bootstrap

[2020-09-23 17:59] himanshujaidka commented on #137
I think that beta_2 branch is missing @smaranjitghose

[2020-09-25 15:30] AyuSoni25 commented on #137
@smaranjitghose Sir,  I would like to create the editor UI, and also to refactor the code, so as to remove the unnecessary code. Need your Suggestion.

[2020-09-25 18:38] smaranjitghose commented on #137
Can you discuss with @mharshita over slack and work together for this

[2020-09-29 11:35] #136 closed

[2020-09-29 11:55] anushbhatia opened #177 "Converting into a single framework"
Use Bootstrap for all the pages

- [ ] Home

- [ ] Editor

[2020-09-29 11:56] anushbhatia opened #178 "Making Editor Resposive"
- [ ] Making Dynamic Canvas

[2020-09-29 12:04] smaranjitghose opened #180 "Reorder the assets"
Example:

- assets/images/team/smaranjit_ghose.png
- assets/images/about/open_source.svg

[2020-09-29 12:05] smaranjitghose opened #181 "Add Favicon"

[2020-09-29 12:05] smaranjitghose opened #182 "Adjust Footer on Editor Page"

[2020-09-29 12:06] smaranjitghose opened #183 "Implement Word Count feature as required"
Refer [this](https://github.com/smaranjitghose/doc2pen/issues/137)

[2020-09-29 12:07] smaranjitghose opened #184 "Position X and Y axis sliders as per given UI"

[2020-09-29 12:08] smaranjitghose opened #185 "Implement options to Dowload as png,jpg,jpeg and pdf"

[2020-09-29 12:09] smaranjitghose opened #186 "Add Option to upload document, read text from it and render handwriting"

[2020-09-29 12:09] smaranjitghose opened #187 "Add Feature for Insertion of Multiple Pages"

[2020-09-29 12:10] smaranjitghose opened #188 "Add Option for Adding Sketches/Images to the Document"

[2020-09-29 12:10] smaranjitghose opened #189 "Improve the Menubar UI in the Editor Page"

[2020-09-29 12:11] smaranjitghose opened #190 "Link the check it out button to the editor page"

[2020-09-29 12:12] smaranjitghose opened #191 "Contributor's Section"
- Ensure all the contributors so far have been added
- Some of the contributors towards the end have their pictures and named swapped. Please fix those by checkout out their GitHub profiles

[2020-09-29 12:13] smaranjitghose opened #192 "Improve Contact Form UI"
Required Fields:
- First Name
- Last Name
- Email ID
- Message

Optional Fields:
- Rating ( 1 to 10 slider)
- Phone Number

[2020-09-29 12:14] smaranjitghose opened #193 "Contribute new fonts built from actual handwritings"

[2020-09-29 12:14] smaranjitghose opened #194 "Add Poppins font to Editor"

[2020-09-29 12:19] rutujadhanawade commented on #191
I would like to work on this. Can you add the CH20 label and relevant difficulty tag on it?

[2020-09-29 12:20] sameersrivastava13 commented on #180
i would like to work on this issue.

[2020-09-29 12:20] sameersrivastava13 commented on #181
i would like to work on this issue.

[2020-09-29 12:20] rutujadhanawade commented on #190
I would like to work on this.

[2020-09-29 12:26] smaranjitghose opened #195 "SEO and Google Analytics for Index + Editor Page"

[2020-09-29 12:26] smaranjitghose opened #196 "Load Details of Project Maintainers from main.js"

[2020-09-29 12:34] smaranjitghose commented on #191
In the main.js, make the following changes in the contributor section variable

- title --> Name
- image --> Profile Picture
- Githublink --> Github Handle

[2020-09-29 12:35] smaranjitghose opened #197 "Add Option for Font Size"

[2020-09-29 12:36] smaranjitghose opened #198 "Add Option for Adding Margins over pages"

[2020-09-29 12:36] smaranjitghose opened #199 "Add to Google Drive, Dropbox feature"

[2020-09-29 12:38] smaranjitghose opened #200 "Support Us Section"
Below the Contact Form, add a section for patreon, buymeacoffee and relevant text+illustrations about Support US

[2020-09-29 12:48] smaranjitghose opened #201 "Open Source Subection"
Below the Team Section, add a subsection for open source programs:

# Suggestions:

- A small quote related to open source followed by a line like " We are proud to have been a part of..:"

- Programs:

     - HackInCodes 2020
     - PClubSummerofCode 2020
     - DSLOP 2020
- For each of the programs add logos, Name of the Program, a short description, link to websites

[2020-09-29 12:57] AyuSoni25 commented on #201
I'll do it. @smaranjitghose

[2020-09-29 12:58] AyuSoni25 commented on #200
I'll do it @smaranjitghose

[2020-09-29 12:59] AyuSoni25 commented on #192
I'll do it @smaranjitghose

[2020-09-29 13:13] #190 closed

[2020-09-29 13:27] mharshita commented on #177
@smaranjitghose @anushbhatia sir i want to work on this issue

[2020-09-29 13:28] mharshita commented on #182
@smaranjitghose @anushbhatia I want to work on this issue.

[2020-09-29 13:30] mharshita commented on #183
@smaranjitghose @anushbhatia I want to work on this issue

[2020-09-29 13:42] anushbhatia opened #204 "Nav Bar"
Better Gradient in the colours of blue

[2020-09-29 13:45] #191 closed

[2020-09-29 13:51] rutujadhanawade commented on #185
For this issue do we need to implement only frontend ? like only dropdown to select the option or backend also?

[2020-09-29 13:52] smaranjitghose commented on #201
@AyuSoni25 Do you mind updating the README with the same content as on the website?

[2020-09-29 13:53] smaranjitghose commented on #185
The script has to be modified to implement the Export Options in addition to the front end update

[2020-09-29 13:58] rutujadhanawade commented on #185
Okay I would like to work on this.

[2020-09-29 13:59] AyuSoni25 commented on #201
No, I won't mind, I'll do it.

[2020-09-29 14:03] rutujadhanawade commented on #197
I think there is already a option for font size

[2020-09-29 15:24] ymaheshwari1 commented on #189
@smaranjitghose  Do we have any file to take reference from?

[2020-09-29 15:41] ymaheshwari1 commented on #178
@anushbhatia I want to work on this.

[2020-09-29 16:39] himanshujaidka commented on #199
assign this to me

[2020-09-29 16:41] himanshujaidka opened #205 "word count is not working"

[2020-09-29 16:42] himanshujaidka commented on #193
I want to add font of mine

[2020-09-29 16:46] himanshujaidka commented on #183
pls assign this to me as I have code of this

[2020-09-29 16:46] #205 closed

[2020-09-29 16:48] himanshujaidka commented on #183
and previously I am woked on this issue 😕

[2020-09-30 04:34] himanshujaidka commented on #183
@smaranjitghose pls have a look at it, or we could do one thing that I will implement the logic and @mharshita will improve the UI of it?

[2020-09-30 05:53] himanshujaidka opened #206 "Editor is not working properly"
![Screenshot (87)](https://user-images.githubusercontent.com/58654018/94648016-4875bb00-030f-11eb-9e07-bd9bb1969973.png)

[2020-09-30 08:34] smaranjitghose commented on #197
I would like to have it in the menu bar as we commonly see in document readers like Microsoft Word or Google Docs

[2020-09-30 08:35] smaranjitghose commented on #189
@anushbhatia can help you out with that

[2020-09-30 08:36] smaranjitghose commented on #183
If you are taking the issue you are expected to complete it and not leave the rest of the work for another mentee

[2020-09-30 08:38] smaranjitghose commented on #206
This is because you are putting a very long string without line break. You need to modify the script for the canvas for giving automatic line  breaks

[2020-09-30 09:26] himanshujaidka commented on #183
I am saying this because you have already assigned this issue to her but previously I have done that, 😅

[2020-09-30 09:27] himanshujaidka commented on #206
okay

[2020-09-30 09:28] himanshujaidka commented on #199
for this I have to use node, https://developers.google.com/drive/api/v3/manage-uploads#node.js

[2020-09-30 09:40] smaranjitghose commented on #199
You can make use of Axios for doing a POST request or a simple python backend. NodeJS would make the app heavier for the current state

[2020-09-30 09:41] smaranjitghose commented on #183
That was for the previous version and it did not meet the requirements of the current one.
Even I have made the entire editor myself for the initial project but now we are revamping it

[2020-09-30 09:46] himanshujaidka commented on #183
okay

[2020-09-30 09:47] himanshujaidka commented on #199
okay

[2020-09-30 11:44] Komalmann commented on #204
@anushbhatia I would like to work on this!

[2020-09-30 18:34] rutujadhanawade opened #209 "Text doesn't changes to blue in editor"
In editor after selecting the blue  color as a option , color of the text doesnt change.
I would like to resolve this bug.

[2020-09-30 19:21] mharshita opened #211 "Home page side nav not working"
Side nav in mobile view of home page is not working. I want to fix this bug.

[2020-09-30 21:31] #209 closed

[2020-10-01 02:47] dennypradipta commented on #211
I'll work on this :)

[2020-10-01 05:29] dipanshparmar opened #215 "nav bar is not visible when reaches the banner wavy animation part."
This is what I'm talking about.
![image](https://user-images.githubusercontent.com/49204837/94771561-2181bc80-03d5-11eb-8929-551717cbedaf.png)

[2020-10-01 05:30] dipanshparmar commented on #215
@smaranjitghose  #214 This PR will fix this issue.

[2020-10-01 05:39] #211 closed

[2020-10-01 05:44] #215 closed

[2020-10-01 06:18] Adyasha8105 commented on #181
Can I work on this issue it's been 2days? @smaranjitghose

[2020-10-01 06:19] smaranjitghose commented on #181
If @sameersrivastava13 does not give a PR by 5pm today, go ahead and finish it

[2020-10-01 07:14] dipanshparmar commented on #194
@smaranjitghose Can I work on this?

[2020-10-01 12:12] Aniruddhmuley2001 opened #222 "Not able to go to Home page, after opening editor"
Please do check the below-mentioned issues:
1) Once the editor is opened, one will not be able to go back to the home page through the options available on the screen.
2) Smooth scroll needs to be enabled to give a good User Experience while surfing the website

[2020-10-01 12:13] Aniruddhmuley2001 commented on #222
@smaranjitghose I would like to work on the issue. Please do assign it to me.

[2020-10-01 12:57] #177 closed

[2020-10-01 13:32] #196 closed

[2020-10-01 14:38] himanshujaidka commented on #193
@smaranjitghose how to convert handwriting to a particular font, earlier you have told about some software?

[2020-10-02 03:16] smaranjitghose commented on #193
@anushbhatia can guide you elaborately on it

[2020-10-02 03:35] #178 closed

[2020-10-02 03:42] smaranjitghose commented on #200
@AyuSoni25 are you giving a PR today?

[2020-10-02 03:43] smaranjitghose commented on #201
Are you updating the website as well?

[2020-10-02 03:49] ymaheshwari1 opened #230 "On Mobile view, the menu bar to select the font color is not working"
When clicking on the second menu bar then also the main nav bar is opening and not the second bar where we can select the color, font, page etc.

![image](https://user-images.githubusercontent.com/41404838/94886262-32dbcf00-0490-11eb-8f22-f7000574befe.png)

After click on second hamburgur icon:
![image](https://user-images.githubusercontent.com/41404838/94886222-0de75c00-0490-11eb-9103-9710b02be5b

[2020-10-02 03:49] ymaheshwari1 commented on #230
@smaranjitghose I am interested in solving this issue.

[2020-10-02 03:55] AyuSoni25 commented on #200
Yes sir, today I'll make a PR for this

[2020-10-02 03:57] AyuSoni25 commented on #201
What updations are required, please let me know..

[2020-10-02 03:57] #222 closed

[2020-10-02 06:44] ymaheshwari1 commented on #230
In the updated code, it's hidden behind the first navbar and thus not having a good UI

[2020-10-02 07:02] ymaheshwari1 commented on #230
Closing the issue as it now working in the updated code.

[2020-10-02 07:02] #230 closed

[2020-10-02 07:02] ymaheshwari1 commented on #189
@smaranjitghose I am interested.

[2020-10-02 09:35] smaranjitghose commented on #200
DM me over slack when you make a PR

[2020-10-02 09:35] smaranjitghose commented on #201
Below the Team Section, another section on open source

[2020-10-02 09:49] #194 closed

[2020-10-02 10:22] himanshujaidka commented on #193
okay, after gdrive integration, I'll work on that

[2020-10-02 13:00] #201 closed

[2020-10-02 13:01] #182 closed

[2020-10-02 13:02] #183 closed

[2020-10-02 13:02] AyuSoni25 commented on #200
sir, what is patreon and buy me coffee, kindly share some refernces

[2020-10-02 13:37] rutujadhanawade opened #241 "value box in editor page is not responsive"
From mobile view :
![photo6320903022087088746](https://user-images.githubusercontent.com/53823042/94929310-8a0a8f80-04e2-11eb-8922-474dc7200248.jpg)

[2020-10-02 13:40] #241 closed

[2020-10-02 15:30] Curioo opened #243 "Editor not working at all"
![image](https://user-images.githubusercontent.com/47332301/94941264-ee265700-04d4-11eb-818a-fa5f10fefc37.png)
All i see is this. Ive already selected a page and a font.

[2020-10-02 16:05] smaranjitghose commented on #243
Please let some seconds for the entire page to load

[2020-10-02 16:05] #206 closed

[2020-10-02 16:06] #204 closed

[2020-10-02 18:52] Curioo commented on #243
i have... i waited about 30 seconds.

[2020-10-02 18:55] Curioo commented on #243
![image](https://user-images.githubusercontent.com/47332301/94959484-93e7bf00-04f1-11eb-9472-d9af36eded21.png)
It says this forever

[2020-10-04 04:51] dipanshparmar commented on #197
![image](https://user-images.githubusercontent.com/49204837/95007243-1de77300-062b-11eb-93fd-3d60af81e07d.png)
@smaranjitghose You want it like in that highlighted area?

[2020-10-04 06:22] smaranjitghose commented on #197
Yes, in the menu bar but with a drop down like we have it in Google Docs or Microsoft Word

[2020-10-04 08:08] paraschhugani commented on #189
@smaranjitghose i am interested , should i change only the frontend or make js functionality which keeps on updating the word count as you keep typing along ?

[2020-10-04 08:18] dipanshparmar commented on #197
@smaranjitghose okay! I'll do it. Please assign me this issue.

[2020-10-04 10:35] paraschhugani commented on #198
@smaranjitghose i would like to work on this issue , just this small query : option is needed in menubar or adjacent to option like "Font size".

[2020-10-04 10:38] paraschhugani commented on #186
@smaranjitghose  i would like to contribute to this issue, To be sure i have to also make the js functionality or just the front-end part.

[2020-10-04 17:45] smaranjitghose commented on #186
The JS Functionality along with frontend is expected

[2020-10-04 17:47] smaranjitghose commented on #189
Awesome! Also, note that the current menubar is made like another navbar and looks pretty weird in the mobile view. We need to change it as well

[2020-10-04 17:51] smaranjitghose commented on #198
Yes. Similar to what we have it Google Docs or Microsoft Word

[2020-10-05 02:23] paraschhugani commented on #186
@smaranjitghose i successfully made a document upload and able to read file txt from it and printing it in textarea below ,, can you just guide me what function to be called to update the handwriting.

<img width="1438" alt="Screenshot 2020-10-05 at 1 46 24 AM" src="https://user-images.githubusercontent.com/51089028/95026207-57f95900-06ad-11eb-8265-f03118d5c1cb.png">

[2020-10-05 11:42] dipanshparmar opened #250 ""Clan Of Contributors" sections doesn't have all the contributors info."
My info is not there :(

[2020-10-05 11:42] dipanshparmar commented on #250
@smaranjitghose Can I add my info there?

[2020-10-05 11:45] dipanshparmar opened #251 "Team info missing"
Profile pictures of team members in the team section is not visible without hovering.

You can see here:
![image](https://user-images.githubusercontent.com/49204837/95075712-4b691500-072e-11eb-9518-c082bb1deecd.png)

[2020-10-05 14:04] smaranjitghose commented on #251
Can you fix the bug?

[2020-10-05 14:13] dipanshparmar commented on #251
@smaranjitghose I'll let you know after checking the source code :)

[2020-10-05 17:48] #251 closed

[2020-10-05 17:50] smaranjitghose commented on #250
Definitely. Please add your pic, name, and GitHub

[2020-10-05 18:16] dipanshparmar commented on #250
Thanks :)

[2020-10-06 05:43] #250 closed

[2020-10-06 17:15] smaranjitghose commented on #243
I have resolved it and updated the codebase. Have a look at it again and let me know

[2020-10-06 17:15] #243 closed

[2020-10-06 17:15] #197 closed

[2020-10-06 17:16] #193 closed

[2020-10-06 20:25] #189 closed

[2020-10-07 04:08] dipanshparmar commented on #192
@smaranjitghose if no one is working on this then I'll do it. You can assign me this issue.

[2020-10-07 07:43] smaranjitghose commented on #192
Please have a look the feedback [here](https://github.com/smaranjitghose/doc2pen/pull/263) before you start making changes

[2020-10-07 07:44] #180 closed

[2020-10-07 09:15] dipanshparmar commented on #192
@smaranjitghose Yeah! I got this.

[2020-10-07 21:20] paraschhugani commented on #200
@smaranjitghose  i would like to contribute to this, for starters : i would add about open source cultural and how important it is. and with that support US "buymecoffe" and "patreon" .

[2020-10-07 21:27] paraschhugani commented on #200
@sameersrivastava13  can i join the slack of this Project , and how do i update my details in contribution section.

[2020-10-08 07:04] smaranjitghose commented on #200
We currently have a [![Gitter](https://badges.gitter.im/doc2pen/community.svg)](https://gitter.im/doc2pen/community?utm_source=badge&utm_medium=badge&utm_campaign=pr-badge)

[2020-10-09 01:41] #186 closed

[2020-10-11 06:20] #192 closed

[2020-10-11 06:44] smaranjitghose opened #267 "Bug in Editor Page"
![doc2pen](https://user-images.githubusercontent.com/46641503/95672064-476c4580-0bbb-11eb-86d8-295fa30b5bae.jpg)
There is an additional blue section below the menu which is absolutely not required

[2020-10-11 06:45] smaranjitghose opened #268 "Word Count Option not working on Editor Page"

[2020-10-11 06:46] smaranjitghose opened #269 "Import from Page Option"
In the editor page, add a button clicking which the user can upload a text document in .txt or .docx format, and the contents of the file are converted into the corresponding handwritten font

[2020-10-11 06:47] smaranjitghose opened #270 "Download Option Bug"
Whenever we press download, the page style automatically switches

[2020-10-11 06:48] smaranjitghose opened #271 "Implement options to Download as png,jpg,jpeg and pdf"

[2020-10-11 06:49] smaranjitghose opened #272 "SEO and Google Analytics for the web pages"

[2020-10-11 06:50] smaranjitghose opened #273 "Add a feature for having a multi page document [Modify the canvas]"

[2020-10-11 06:51] smaranjitghose opened #274 "Add a custom favicon suitable to the project theme and color scheme"

[2020-10-11 06:52] smaranjitghose opened #275 "Sketch Page"
Another page similar to our editor page where we can sketch using the mouse, have common shapes that are available in MS Paint, insert text and save our drawings

[2020-10-14 16:02] #200 closed

[2020-10-14 18:58] paraschhugani commented on #271
@smaranjitghose I would like to contribute in this issue

[2020-10-18 12:43] dipanshparmar commented on #270
@smaranjitghose I'll do it. Please assign me this issue.

[2020-10-18 13:16] dipanshparmar commented on #268
@smaranjitghose I'll do it. Please assign me this issue.

[2020-10-18 17:35] #270 closed

[2020-10-18 17:39] #268 closed

[2020-10-18 17:43] #274 closed

[2020-10-19 03:10] dipanshparmar commented on #267
@smaranjitghose I'll do it. Please assign me this issue.

[2020-10-19 14:28] #267 closed

[2020-10-21 09:48] paraschhugani commented on #271
@smaranjitghose hey, my college had exams going one and so I wasn't able to contribute, will make the Pr in a day

[2020-10-26 07:22] anushbhatia opened #282 "Implementing Map"
You can use https://www.openstreetmap.org/ for adding a basic map to program

[2020-10-29 10:13] paraschhugani commented on #271
@smaranjitghose
 I have made the UI and don't understand the save(str(pageNum)) function is being used to download, I couldn’t find any context in any other file. Can you please guide me to a source where I can more about this function?

[2020-11-18 11:32] Shruti3004 opened #285 "On hover of navbar items the style should be changed"

[2020-12-16 03:59] shriyaMadan commented on #285
can this issue be assigned to me? (Under DWOC2020)

[2020-12-22 04:32] dollyjain51099 commented on #285
I would like to work on this issue, please assign it to me!

[2020-12-22 13:42] vilsi12 commented on #199
Can I add

[2020-12-22 15:49] shriyaMadan commented on #285
@smaranjitghose kindly review my PR

[2020-12-22 18:59] smaranjitghose commented on #199
Sure

[2020-12-22 19:00] smaranjitghose commented on #199
Are you a part of DWOC or SWOC?

[2020-12-22 19:03] smaranjitghose commented on #285
Could please incorporate the changes as suggested by @anushbhatia

[2020-12-22 19:03] smaranjitghose commented on #285
Let's give @shriyaMadan a couple of days more, then you can take up this issue

[2020-12-25 16:07] carbseater commented on #282
Why do we need to add map feature ? jsut curious to know

[2020-12-26 08:29] apuneet839 opened #288 "When hovering over the "Page Upload" option in canvas, the pointer should change to link pointer instead of the I-Beam pointer"

[2020-12-26 09:13] apuneet839 commented on #288
I have a fix for it and can make a pr right away. So can you please assign it to me?

[2020-12-26 10:47] mharshita commented on #271
@smaranjitghose @anushbhatia I want to work on this issue.

[2020-12-26 10:49] smaranjitghose commented on #271
You are part of DWOC @mharshita ?

[2020-12-26 10:50] mharshita commented on #271
Yes Sir

[2020-12-26 10:53] smaranjitghose commented on #282
Nothing specific. Basically for the footer of the home page. Like made in India

[2020-12-26 14:06] Anu-MADMAX commented on #273
i'm interested in this issue. How can I get started

[2020-12-26 14:19] Tejas-Ladhani commented on #282
![image](https://user-images.githubusercontent.com/67834407/103153025-5377a480-47b3-11eb-8307-af7119915fd0.png)

do we need something like this ??

[2020-12-26 14:20] Cruel-Crab commented on #282
I am interested in this issue; do we need to add a map like in which many websites shows their official address?

[2020-12-26 14:38] Aman-D opened #290 "Drop Down for Font Size"
The **select option**/**drop down** for **font size** menu item is not same as other drop downs in the menu bar.

[2020-12-26 14:39] Aman-D commented on #290
I can work on that and create the drop down. Can you assign me this issue under DWoC.

[2020-12-26 14:43] sahebsunny commented on #282
Sir, I love to work on it.
I would be grateful if you can assign this issue to me.
I can implement google map API or openstreetmap api which ever you want at the footer of the home page with the addresses and all.

[2020-12-26 14:43] carbseater commented on #275
Can i work on this ?

[2020-12-26 14:45] carbseater commented on #269
Can you provide a better description for this issue

[2020-12-26 14:46] anushbhatia commented on #273
https://saurabhdaware.github.io/text-to-handwriting/
Refer this project to implement the multiple page functionality.

[2020-12-26 14:47] carbseater commented on #184
I'm interested
Like the X slider horizontally and Y slider vertically ?

[2020-12-26 14:47] smaranjitghose commented on #273
Feel free to approach us over discord for any queries

[2020-12-26 14:48] smaranjitghose commented on #184
Yes

[2020-12-26 14:50] smaranjitghose commented on #269
I have updated it now

[2020-12-26 15:06] Jahnavi-Jonnalagadda commented on #269
@smaranjitghose Would like to work on this issue. Could you please assign this to me.

[2020-12-26 15:07] sahebsunny commented on #198
Sir, I love to work on it.
I would be grateful if you can assign this issue to me for DSWOC.
Thank you.

[2020-12-26 15:07] aryan-alt commented on #282
Hello,
I am interested in this issue and would like to contribute in this project. I will set the map at the footer of the website as you need.

[2020-12-26 15:12] sahebsunny commented on #269
Sir, I love to work on it.
I would be grateful if you can assign this issue to me for DWOC.
I want to use Handwriting detection with Optical Character Recognition to get the notes from the image or pdf.

[2020-12-26 15:13] Amit366 commented on #285
Can this issue be given to me??

[2020-12-26 15:27] sahebsunny commented on #188
I want to work on it if you can assign this issue to me for DWOC.
I can add Images and drawing on canvas.

[2020-12-26 16:39] carbseater commented on #184
Hey, i'm having a problem in running the code locally like when i open the editor.html file in chrome the output window does not show up ? And is this the right place to ask these questions @smaranjitghose ? And i have figured out the positioning but not sure how it will look after loading the output window(because it's not showing up)

[2020-12-26 16:59] Kerveyfelix commented on #282
Can I work on this issue?

[2020-12-26 17:06] smaranjitghose commented on #184
Ya, sure you can put your queries here.
We are using p5.js for loading the canvas. Could please check if that's working

[2020-12-26 17:07] smaranjitghose commented on #282
Yes

[2020-12-26 17:07] smaranjitghose commented on #282
Yes

[2020-12-26 17:17] Anu-MADMAX commented on #273
Hi! thanks for assigning me this issue although I'm a beginner , so can you
give me some tips on going about this project?

On Sat, Dec 26, 2020 at 8:17 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2020-12-26 17:58] Sloth-Panda commented on #285
Hey, can you also assign this to me?

[2020-12-26 18:01] carbseater commented on #184
Do I need to install p5.js or something else cuz i have no idea about this thing. Would be great if you provide some resources

[2020-12-26 18:03] Sloth-Panda commented on #198
hey would love to work, let me know if you can assign more than one guy

[2020-12-26 18:04] #290 closed

[2020-12-26 18:12] anushbhatia commented on #273
This is open source repo so you can refer the code there and copy it here and implement it.

[2020-12-26 18:30] smaranjitghose commented on #198
Collaborate with @sahebsunny on this please. One of you add the feature in the right position and the other can improve the UI

[2020-12-26 18:44] smaranjitghose commented on #184
You can have a look at "The Coding Train" [youtube](https://www.youtube.com/watch?v=yPWkPOfnGsw) channel by Dr. Daniel Shiffman. He has an entire playlist on it

[2020-12-27 07:03] Vrushti24 opened #293 "Splash screen"
When we start this app if we add splash screen it would look amazing.

[2020-12-27 07:10] Amit366 commented on #285
style means the color or font-size?

[2020-12-27 07:22] Amit366 commented on #285
because the text color isn't changing on hovering but font size and background colors are changing . So what can I change?

[2020-12-27 07:39] Sloth-Panda commented on #285
Yes, not able to change the text color. Any other suggestions on what to change??

[2020-12-27 09:53] #271 closed

[2020-12-27 10:24] #288 closed

[2020-12-27 10:25] smaranjitghose commented on #293
Sure! Go ahead with it

[2020-12-27 10:27] smaranjitghose commented on #269
@Jahnavi-Jonnalagadda Do it in two PRs

1) read the contents of a text file and paste it into our input screen
2) repeat the same for a doc file

[2020-12-27 10:28] smaranjitghose commented on #282
Assigned to @Cruel-Crab for 2 days.
After that @sahebsunny can take up

[2020-12-27 10:29] smaranjitghose opened #297 "Update the Open Source Section"
Include Cards for Script Winter of Code and DevScript Winter of Code

[2020-12-27 10:33] smaranjitghose opened #298 "Update the ReadMe of the project with the contents on the home page"
- Use Storytelling or Creative Writing
- Replace the illustrations with gips. Use Giphy
- Make the Contribution Guidelines more detailed
- Separate Subsection for License
- Separate Subsection for Code of Conduct
- Add a team subsection

- Add section for open  source programs
Reference: [Awesome Portfolio Website](https://github.com/smaranjitghose/awesome-portfolio-websites)

[2020-12-27 10:35] smaranjitghose opened #299 "Change the hover effect of the NavBar to something more aesthically soothing"
Consult with @anushbhatia on the UI/UX if required.
Feel free to use inspirations from codepen.io

[2020-12-27 10:37] smaranjitghose opened #300 "Design a menu bar for the Editor which can be accessed in mobile devices too. The current one just acts like a navbar"
![mobile_view](https://user-images.githubusercontent.com/46641503/103168938-8c6c5380-485d-11eb-8606-b13cd66acb85.jpg)

[2020-12-27 10:40] smaranjitghose opened #301 "Fix or change the top section."
On loading the website for the first time we get the error as shown in the screenshot below
![home_error](https://user-images.githubusercontent.com/46641503/103168969-f4229e80-485d-11eb-862d-bf9efe713f4c.jpg)

Feel free to change the design if required

[2020-12-27 10:45] smaranjitghose opened #302 "Suggestion for new features"
We want to expand Doc2Pen as an open-source platform that can use for students of all sorts beyond just an assignment writer!

Please feel free to give suggestions for other features we can add

[2020-12-27 10:46] Sloth-Panda commented on #299
okay let me take this then

[2020-12-27 10:47] smaranjitghose commented on #299
The current effect you did is not bad but I believe we can do more

[2020-12-27 10:52] Sloth-Panda commented on #299
But what do you suggest to do then?

[2020-12-27 10:57] satyampandeygit commented on #297
I want to do this kindly assign me this

[2020-12-27 11:02] Amit366 commented on #301
I can try this one

[2020-12-27 11:15] Amit366 commented on #301
Sir I have sent the pull request for the hover of nav-items and also I have fixed this issue so please accept it.

[2020-12-27 11:16] Akshit42-hue commented on #301
@smaranjitghose  can you please assigned me this issue I want to work on this issue

[2020-12-27 11:16] satyampandeygit commented on #302
[Calligraphr](https://www.calligraphr.com/) is a website where you can generate a font of your handwriting we can add this in the navigation bar

[2020-12-27 11:35] satyampandeygit commented on #300
Is this needs to be implemented using bootstrap?

[2020-12-27 11:43] smaranjitghose commented on #300
Not necessary but up to your convinience

[2020-12-27 11:51] satyampandeygit commented on #300
Okay I will try this one

[2020-12-27 11:51] rajiv8 commented on #288
My contribution has been merged. Please make me Assignee of this issue.

[2020-12-27 12:00] deek121477 commented on #302
Features :
1) In  navbar-collapse, there should be proper spacing between the  list-class(nav-item dropdown) and list-class(nav-item).While viewing on desktop, there is no proper spacing.
2)The list-class(nav-item dropdown) should be one side and list-class(nav-item)  on another side.
3.)While clicking or moving the cursor on the navbar options like change ink or download the text should get highl

[2020-12-27 12:33] Amit366 commented on #285
kindly review my PR

[2020-12-27 12:50] chehak123 commented on #285
hii
i would like to work on this issue

[2020-12-27 12:51] chehak123 commented on #298
hii
i would like to work on this issue

[2020-12-27 13:14] Sloth-Panda commented on #301
Let me know if I can help

[2020-12-27 13:24] Cruel-Crab commented on #282
Yes sir! I am working on it. The map needs to get added to the index file right?

[2020-12-27 13:39] Amit366 commented on #285
#303

[2020-12-27 13:41] Amit366 commented on #285
#304

[2020-12-27 14:01] Cruel-Crab commented on #282
Thank you for assigning it to me sir :) I am working on it.

[2020-12-27 15:33] ashuvssut commented on #300
Hello, please hear out my idea.
I will make a menubar that has a total width of the full screen. It will be a rectangular shaped container. in that container there will be buttons for each of the sliders. all the sliders that exists now will be hidden under the menubar. when user taps upon the button, its respective slider comes sliding in, thus, allowing the user to use the slider.

I think this

[2020-12-27 16:07] ashuvssut commented on #302
Sir, can you ask the contributors about how much time will the take to submit thier PR regarding thier assigned Issue.
I want to contribute to some issues that are already assigned to other people.

If they make delay for PR, then you can consider assigning new people who can contribute in time.

[2020-12-27 18:31] patel-atul commented on #300
I can di that please assign me this issue.
I will make the menu bar accesible for smaller screens

[2020-12-27 19:32] Sloth-Panda opened #307 "Updating Readme By adding different open-source programs this project is featuring in"
On the readme section, we can add different programs this project is featuring in or has featured in

[2020-12-27 20:58] sahebsunny commented on #198
@smaranjitghose Sir I am adding the margin option after "choose page" option. is it alright
![Screenshot 2020-12-28 at 2 23 39 AM](https://user-images.githubusercontent.com/55354715/103179673-5908e380-48b4-11eb-8530-cde875039f94.png)

[2020-12-28 04:53] Utkarshn10 commented on #199
@smaranjitghose I want to contribute to this repo. Could you please inform me how to run this project in local machine as I tried npm install but it isn't working.

[2020-12-28 06:29] smriti1313 commented on #297
Hi, Can i work on it too? I am really excited to work on this project. Thank you

[2020-12-28 06:31] shraddha-1402 commented on #299
I would like to work on this issue for DWOC. Can you assign this to me?

[2020-12-28 06:32] smriti1313 commented on #272
Hi, do we have to use google analytics and then see the performance and then work to mprove seo perfomance?

[2020-12-28 06:39] smriti1313 commented on #298
hi, it would be great if you could give me a chance to work on it.

[2020-12-28 06:52] raman08 opened #309 "Add Cursor Where Its Start Writing"
It would be easy if we can Where is the program start writing **in handwriting mode**.

[2020-12-28 06:52] Utkarshn10 commented on #297
I would like to work on this issue. I am a Swoc participant.

[2020-12-28 07:31] shraddha-1402 commented on #309
Can you please elaborate what you are suggesting?

[2020-12-28 07:34] shraddha-1402 commented on #301
Is this issue still open?

[2020-12-28 08:00] Akshit42-hue commented on #301
@smaranjitghose Please review my PR

[2020-12-28 08:12] smaranjitghose commented on #272
You can use GTMetrix or LightHouse. Yes the end goal is to improve SEO score. Would you like to take this up?

[2020-12-28 08:18] smaranjitghose commented on #307
Already addressed in this [issue](https://github.com/smaranjitghose/doc2pen/issues/298)

[2020-12-28 08:19] #307 closed

[2020-12-28 08:20] smaranjitghose commented on #298
@smriti1313 @chehak123 Could you two please divide the work among yourself.

Do not forget to add DWOC and SWOC2021 in the open source sub section 😊

[2020-12-28 08:41] Sloth-Panda commented on #298
Hey @smaranjitghose  can I do the same?

[2020-12-28 08:46] #285 closed

[2020-12-28 08:47] #282 closed

[2020-12-28 08:49] smaranjitghose commented on #300
Please wait for the issue to be assigned and then proceed with a pr from next time so that everyone gets an equal opportunity

[2020-12-28 08:55] smaranjitghose commented on #299
Discuss the effect with @anushbhatia please.

[2020-12-28 08:56] smaranjitghose commented on #309
If you mean the position of starting of the text, it can be adjusted using X and Y axes

[2020-12-28 08:56] #309 closed

[2020-12-28 09:00] smriti1313 commented on #272
Honeslty I have not tried these technologies but want to give this  a chance so that i can learn those skills of SEO optimization. I would like to work on it

[2020-12-28 09:05] smriti1313 commented on #298
Yeah sure.

@chehak123 can we connect and divide work on discord doc2pen channel? just leave a text regarding this issue. I will text back to you.

[2020-12-28 09:06] smaranjitghose commented on #198
![doc2pen_editor](https://user-images.githubusercontent.com/46641503/103203033-0eba4d80-491a-11eb-92ea-d1e9d5bdc6b1.png)

+ the margin option

[2020-12-28 09:09] smaranjitghose commented on #302
For each issue, max of 3 days unless there is more work to be done

[2020-12-28 09:09] smaranjitghose commented on #302
Nice idea!

[2020-12-28 09:11] smaranjitghose commented on #288
As I communicated earlier, I had assumped that you were assigned this issue but later on finding out otherwise I had to revert your PR

[2020-12-28 09:16] smaranjitghose commented on #298
This issue is too simple for 3 people. I'll assign other issues once they are available

[2020-12-28 09:16] ashuvssut commented on #300
@smaranjitghose, I am sorry for that. I will keep that in mind for the next time.

Can you please review my PR. Please suggest changes (if any).

[2020-12-28 09:17] smaranjitghose commented on #272
Cool. I am assigning this to you for a week, as SEO improvement would take some considerable amount of time. Let us know over the discord channel if you hit any roadblocks.

Also, Smriti you are a part of DWOC right?

[2020-12-28 09:18] sahebsunny commented on #198
sir, I added the margin option as we have it in the Microsoft office word.

![Screenshot 2020-12-28 at 2 46 41 PM](https://user-images.githubusercontent.com/55354715/103203745-9eacc700-491b-11eb-8dbf-6fdc339733a5.png)

[2020-12-28 09:19] smaranjitghose commented on #300
No worries. We learn by doing. But keep in mind, open source is also about collaboration beyond the competition. 😊

[2020-12-28 09:21] smaranjitghose commented on #198
Actually, what we mean here is not only leaving indentation for the margin but also drawing lines over the page to make a physical margin.

But ya, you  can start with the addition of this feature

[2020-12-28 09:28] chehak123 commented on #298
Yeah sure @smriti1313

[2020-12-28 09:34] smriti1313 commented on #272
Yes i am a part of DWOC2020

[2020-12-28 09:38] smriti1313 commented on #298
@chehak123 I had left a message in doc2open channel on discord.

[2020-12-28 09:44] smaranjitghose commented on #298
One tiny request: Put these messages on the discord channel only, otherwise I get notifications for these too 😅

[2020-12-28 09:51] smaranjitghose commented on #301
Please have patience. The project maintainers will review the PRs as per their available timings. These messages give us additional notifications which are not useful

[2020-12-28 09:51] smaranjitghose commented on #301
Yes

[2020-12-28 09:55] smaranjitghose commented on #269
Well the goal of this project is quite opposite, we want to generate handwritings from text. There is a way to train a LSTM for it.  You can look it up

[2020-12-28 09:55] smaranjitghose commented on #269
1 more day

[2020-12-28 09:58] smriti1313 commented on #298
Hi, sorry for those unnecessary notifications. I would like if you assign this to me too since chehak's the only one right now who's been assigned

[2020-12-28 10:08] chehak123 commented on #301
I want to work on this issue

[2020-12-28 11:03] smaranjitghose commented on #298
OOPs missed that earlier😅

[2020-12-28 11:13] smaranjitghose commented on #301
Assigned for 1 day

[2020-12-28 11:19] shraddha-1402 commented on #301
So, should i start working on it?

[2020-12-28 11:36] bhavesh1129 opened #315 "Adding Zoom in/Zoom out effects"
Hey @smaranjitghose!
I want to add some cool CSS animation like **Zoom in/Zoom out** on your website to look it more better.
Hope you like it.

Thank you!

[2020-12-28 11:41] bhoomika07 commented on #184
I am interested in resolving this issue. A swoc participant.

[2020-12-28 11:50] bhoomika07 commented on #302
- Design a logo for the website that can go before the name.
- Make the website responsive so that it can be viewed differently in different sizes.

[2020-12-28 11:52] smaranjitghose commented on #302
Responsiveness has to be resolved over time
You can raise an issue for the Logo

[2020-12-28 11:52] smaranjitghose commented on #301
Sure

[2020-12-28 11:55] bhoomika07 commented on #298
Interested.

[2020-12-28 11:55] smaranjitghose commented on #315
Sure.
Which parts?

[2020-12-28 11:58] smaranjitghose commented on #298
Let's wait for a couple of days till @smriti1313 and @chehak123 give their PRs. After that, if there's any improvement to be done, you can take it up

[2020-12-28 12:04] bhoomika07 commented on #275
Interested. SWOC Participant.

[2020-12-28 12:08] smaranjitghose commented on #275
@carbseater has one more day.
After that, you can take this till 31st

[2020-12-28 13:28] bhoomika07 opened #317 "Logo for the website that can go in the header right before the name."

[2020-12-28 13:29] bhoomika07 commented on #317
Interested, swoc participant 2021

[2020-12-28 13:35] Amit366 commented on #299
I would like to solve this.
But What kind of change do you suggest??

[2020-12-28 13:39] shraddha-1402 commented on #299
yes!

[2020-12-28 13:43] bhoomika07 commented on #275
@carbseater connect with me on discord asap bhoomika#2206

[2020-12-28 13:58] shraddha-1402 commented on #299
Where should i discuss? here or on Discussions?

[2020-12-28 14:47] sahebsunny commented on #198
sir, I am not able to understand why the output canvas keeps loading
any suggestion
![Screenshot 2020-12-28 at 10 44 05 AM](https://user-images.githubusercontent.com/55354715/103221862-a6836000-4949-11eb-90f0-ec1681064e16.png)

[2020-12-28 15:05] sahebsunny commented on #269
Sir, It's interesting if it's open let me work too

[2020-12-28 15:26] shraddha-1402 commented on #299
@anushbhatia please share the changes and effects i should do to the navigation menu

[2020-12-28 16:03] himanshujaidka commented on #302
@smaranjitghose back to this project :) I would like to suggest the feature of import drawings and I think page size is shorter than regular size, and we have to provide an additional keyboard in order to print scientific symbols

[2020-12-28 16:08] himanshujaidka commented on #301
@shraddha-1402 if you need help then ping me

[2020-12-28 16:20] Amit366 commented on #301
Can I work on this issue?

[2020-12-28 16:21] shraddha-1402 commented on #301
Sure!!

[2020-12-28 18:29] Amit366 commented on #299
@anushbhatia please can you suggest the changes.

[2020-12-29 06:30] carbseater commented on #275
I have sent you a request on discord @bhoomika07

[2020-12-29 06:50] satyampandeygit commented on #302
May I work on this!

[2020-12-29 06:56] satyampandeygit commented on #297
The issue is resolved in PR #306

[2020-12-29 07:53] amandp13 commented on #273
@smaranjitghose NTERESTED IN THIS ISSUE, CAN YOU ASSIGN IT TO ME...PART OF SWOC2021

[2020-12-29 09:49] Jahnavi-Jonnalagadda commented on #269
@smaranjitghose, should the code identify the font in the uploaded file and then convert to handwritten?

[2020-12-29 12:29] himanshu007-creator commented on #301
please assign me this issue.

[2020-12-29 14:38] Amit366 commented on #317
I am interested, DWOC participant

[2020-12-29 18:38] bhavesh1129 commented on #315
In-Home section (Images), Project Maintainers, and icons in support us.

[2020-12-30 07:05] smaranjitghose commented on #315
Sure. Go ahead

[2020-12-30 07:08] smaranjitghose commented on #302
Sure.
You can create an issue and collaborate with others too. That way we can have at least 10 custom fonts

[2020-12-30 07:09] smaranjitghose commented on #302
Welcome back @himanshujaidka 😊! Try implementing the scientific keyboard thing once

[2020-12-30 07:09] #297 closed

[2020-12-30 07:11] smaranjitghose commented on #269
Basic reading of the text works since we would be anyways converting it to handwritten

[2020-12-30 07:14] Jahnavi-Jonnalagadda commented on #269
Okay, so just read the text in the uploaded file and convert to handwritten. This what has to be done right?

[2020-12-30 07:18] smaranjitghose commented on #269
Yes Jahnavi

[2020-12-30 07:21] anushbhatia commented on #299
https://codepen.io/davidicus/full/emgQKJ
Something kind of this the first button present here

[2020-12-30 07:23] Sloth-Panda commented on #293
Hey, can I take this work too?

[2020-12-30 07:48] smaranjitghose commented on #293
After 2 days you can take-up

[2020-12-30 07:50] Vrushti24 commented on #293
So if u don't complete this task in two days I would be unassigned ?

On Wed, Dec 30, 2020, 1:18 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2020-12-30 08:16] Amit366 commented on #299
https://user-images.githubusercontent.com/60662775/103338750-620cd700-4aa5-11eb-8d49-25892774c7b9.mp4

I have modified the nav bar design. can I send the pull request?

[2020-12-30 08:47] smaranjitghose commented on #293
Try your best to complete. After that we can see😊

[2020-12-30 08:48] Vrushti24 commented on #293
Ok, I will do it.

On Wed, Dec 30, 2020, 2:18 PM Smaranjit Ghose <notifications@github.com>
wrote:

[2020-12-30 10:17] sahebsunny commented on #198
Sir do you want a border for the output canvas ???

[2020-12-30 11:03] dhwanishingala commented on #301
I would like to work on this issue.

[2020-12-30 14:56] sahebsunny commented on #198
sir I am adding border to the pages

[2020-12-30 14:58] Jahnavi-Jonnalagadda commented on #269
@smaranjitghose, I've unassigned the issue for myself. Found it quite tricky to trace out on how to work on this. Sorry for that.

[2020-12-30 15:14] smaranjitghose commented on #198
Yes. Go ahead

[2020-12-30 15:17] smaranjitghose commented on #269
It's fine😊

[2020-12-30 16:34] sahebsunny commented on #269
@smaranjitghose
Sir the idea behind this is to read the notes from the doc or image
and generate handwriting from that so we could use that handwriting in our output canvas
is that correct???

[2020-12-30 16:39] himanshujaidka commented on #302
okay

[2020-12-30 16:42] sahebsunny commented on #269
if yes then sir I am thinking of making two different Pr for this
1 for uploading the notes from the doc or image to input and it's obviously going to show up in the output canvas cause the
 " Page Upload " button does not work properly.
2 for generating the handwriting( writing style ) from the doc or image.
is this fine sir

[2020-12-30 20:14] smaranjitghose commented on #269
It's simply that, there is text in a .txt or .doc file your friend sent you, you need to open it, read the text (Simple JS file handling), paste in our window and automatically get it converted.

We don't need any image here.

Do it in two PRs:
1) for the .txt file
2) for the .doc file

Rename the button "Import From"

[2020-12-31 05:26] sj-on opened #322 "No 'N' in the font: Liu Jian Mao Cao"
The character: capital N is missing from the font  Liu Jian Mao Cao. Attaching a crop for a reference.
![image](https://user-images.githubusercontent.com/46680993/103395933-92607e00-4b56-11eb-890a-577137f579a9.png)

[2020-12-31 05:30] ashuvssut commented on #301
@smaranjitghose  I have a clear idea how to do this. I will submit my PR within one day.

Please assign me this issue.

[2020-12-31 05:40] sj-on commented on #322
There are special characters like single quotes missing from some other fonts (especially the ones which are cursive) as well. The following happened to be a case with __Messed Font__.
![image](https://user-images.githubusercontent.com/46680993/103396081-1dda0f00-4b57-11eb-9c18-4a9738ef0db8.png)

[2020-12-31 05:47] sj-on opened #323 "Downloaded PDF doesn't open correctly"
It's probably the case that the PDF isn't being encoded correctly by the tool. When I tried to download the writing in PDF form and opened it, it failed to open.
![image](https://user-images.githubusercontent.com/46680993/103396485-9fcb3780-4b59-11eb-920c-2f2557a3965a.png)

And this is what the file  originally looks on the website:
![image](https://user-images.githubusercontent.com/46680993/10339

[2020-12-31 05:48] sj-on commented on #323
I have tried opening it more than one time, the same error persists.

[2020-12-31 05:50] ashuvssut commented on #322
Do you know what is the reason behind these? Any guesses?

Google Fonts website shows that has these letters n characters exist. but still its not getting drawn on the canvas.

[2020-12-31 05:59] sj-on opened #324 "Screen size changes the dimensions and content of Image exported"
![image](https://user-images.githubusercontent.com/46680993/103396745-e4a39e00-4b5a-11eb-8dff-a540a188a8eb.png)
When I had two apps opened side by side (two different browser windows), the Doc2Pen site adjusted itself (screen responsiveness), but that changed the output of when I downloaded the resultant PNG file.

![3](https://user-images.githubusercontent.com/46680993/103396779-17e62d00-4b5b-11e

[2020-12-31 07:17] smriti1313 commented on #298
Update : I have changed few lines and added a whole contribution.md which I linked to main readme.md. All i have to do now is get some cool gifs. I will do it by today midnight.

[2020-12-31 07:45] sj-on commented on #322
I am not entirely sure but  the UTF or ASCII code for 'N' might be messing up with the JS. I not sure. 😅

[2020-12-31 10:44] Swapnil-Gaur commented on #324
@smaranjitghose can I work on this issue?

[2020-12-31 15:41] smaranjitghose commented on #298
Awesome!. Waiting for your PR😊

[2020-12-31 15:51] smaranjitghose commented on #322
Thanks @sj-on for bringing this to our notice. Even I had not payed attention to this. Kudos to you for observing such an important yet hidden bug.

If you and @ashuvssut wish, you can collaborate and work to fix this.

I actually wanted a revamp of the fonts,
we don't need tons of them, just 7-15 shall suffice.

It would be great if you can manage to create and gather custom fonts using [this](ht

[2020-12-31 15:52] smaranjitghose commented on #324
Would you like to fix this bug?

[2020-12-31 16:05] smaranjitghose commented on #323
Yes, there's an error in the encoding.
Would like to rewrite the function for Export as PDF?

[2020-12-31 16:12] #300 closed

[2020-12-31 16:15] ashuvssut commented on #322
@smaranjitghose I m gonna try debug it. First I have to learn some p5. It ud take some time to figure out. Can't exactly tell when I will be submitting the solution/PR.

[2020-12-31 16:51] smaranjitghose commented on #322
Take your time

[2021-01-01 06:48] #301 closed

[2021-01-01 07:14] Swapnil-Gaur commented on #324
Have you set the mobile view?

[2021-01-01 13:02] #298 closed

[2021-01-01 14:59] #199 closed

[2021-01-01 15:01] #299 closed

[2021-01-01 15:02] #317 closed

[2021-01-01 15:08] Bishal05 commented on #273
Hello I wanted to contribute under Swoc can you please assign me this issue

[2021-01-01 16:13] sahebsunny commented on #269
@smaranjitghose
sir I am working on this issue trying to figure out how to convert the RTF to plain text as uploading .txt or .doc file is getting automatically converted in RTF format

[2021-01-01 18:54] smaranjitghose commented on #269
Okaay

[2021-01-02 07:45] Swapnil-Gaur commented on #324
Have you set the mobile view , if yes so we can fix this issue by applying  media query on font size , should I send you pull request  for this?

[2021-01-02 09:14] Akshu-on-github opened #329 "Special Characters aren't rendered properly in certain fonts"
Special characters like the ampersand (&) and apostrophe('), common punctuation like commas and full-stops, and numbers are not rendered properly in Dewebeauty Demo. Screenshots attached below:

![image](https://user-images.githubusercontent.com/61582763/103454127-d2666300-4d06-11eb-83cf-3e5a71d4ebef.png)

![image](https://user-images.githubusercontent.com/61582763/103454096-61bf4680-4d06-11eb-886

[2021-01-02 10:15] shreyasY2k commented on #188
@smaranjitghose Could u please assign this to me? Can you tell me in brief as to how the uploaded image should look like? Should it be b/w version of uploaded image? (DWOC)

[2021-01-02 11:12] smaranjitghose commented on #188
It function the same way as we do it in Google Docs or Microsoft word. Actually, keeping the image as it is would save a lot of trouble

[2021-01-02 11:44] shreyasY2k commented on #188
ok then i would like to work on it could u please assign it to me?

[2021-01-02 13:14] dsnehasish74 opened #330 "Drop Down menu is For Download alignment Problem"
![Screenshot (505)](https://user-images.githubusercontent.com/58779604/103458033-351d2600-4d2a-11eb-86d9-16492de3d881.png)

Hope It helps
I want to work on this issue as a part of DevScript Winter of Code 2020 so please assign this to me

[2021-01-02 15:58] deytulsi18 opened #331 "[Docs]: Add Issue Template, Pull Request template"
Can I add Issue Template, Pull Request template suitable for this project?

[2021-01-02 19:43] Ujjwal3009 commented on #293
Can i work on it?

[2021-01-02 20:16] ayeshaqaisar opened #332 "Drop Down options overlapping in smaller screen and is not shown because white background"
![Screenshot (76)](https://user-images.githubusercontent.com/56070872/103465826-46cfef00-4d65-11eb-94ba-6ed70bb5befd.png)
![Screenshot (77)](https://user-images.githubusercontent.com/56070872/103465832-4cc5d000-4d65-11eb-80ae-8c8d3e368e02.png)

Can I work on this? SWoC 2021 participant

[2021-01-03 04:49] ashuvssut commented on #322
I still cant figure out why these characters are not getting drawn on the canvas.

@smaranjitghose I request you to assign someone new to work on this issue. I will now focus on contributing other issues.

[2021-01-03 04:52] ashuvssut commented on #332
@smaranjitghose I have worked on this navbar and I know how to fix it. I will submit my PR within 1 day.

Please assign me this issue.
 -- DWoC and SWoC 2021 participant

[2021-01-03 04:58] ashuvssut commented on #329
this is same as issue #322.

[2021-01-03 05:09] Vrushti24 commented on #293
@smaranjitghose/doc2pen <doc2pen@noreply.github.com>  I am having exams
from 4th Jan so I won't be able to complete now I can complete after 1week

On Sun, Jan 3, 2021, 1:13 AM Ujjwal Kumar <notifications@github.com> wrote:

[2021-01-03 05:19] ashuvssut commented on #330
@smaranjitghose  I know this issue. It just needs 2 lines of CSS🥴. There was a mistake in my last PR (coz I was a little confused with that long bootstrap html😵). I will submit my PR right away after you allow me to work on this.

Please assign me this one. I will submit that fix right away.

--(DWoC n SWoC Participant)

[2021-01-03 06:04] #330 closed

[2021-01-03 06:04] ashuvssut commented on #330
@anushbhatia  should I submit my PR?

[2021-01-03 06:05] anushbhatia commented on #332
Let @ayeshaqaisar work on this if he is not able to do it in 3-4 days then will assign this to you.

[2021-01-03 06:07] #329 closed

[2021-01-03 06:09] anushbhatia commented on #323
@sj-on will you like to work on this or you want anyone else to take this up?

[2021-01-03 06:09] anushbhatia commented on #315
Any update?

[2021-01-03 06:10] sj-on commented on #323
You can assign it to someone else. 😅  @anushbhatia

[2021-01-03 06:11] ashuvssut commented on #322
ref #329 to see what other fonts are there that are having this issue

[2021-01-03 06:11] anushbhatia commented on #275
Any update guys?

[2021-01-03 06:15] anushbhatia commented on #330
Sure

[2021-01-03 06:16] ashuvssut commented on #332
ok @anushbhatia. I have no problem. I have actually fixed it today😅.

This is a event to give everyone a chance to learn. Let @ayeshaqaisar work on it😁😁

[2021-01-03 09:22] smaranjitghose commented on #331
Previously we used have standard templates for our open source projects but eventually decided to let the devs make the PRs and raise the issues with descriptions specific to their task of interest

[2021-01-03 09:22] #331 closed

[2021-01-03 09:43] bhavesh1129 commented on #315
Yeah, I had almost added the feature.
And make a PR soon.

[2021-01-03 10:24] ayeshaqaisar commented on #332
I have fixed the issue
should  I make the PR now or after 5th for SWoC?
![Screenshot (92)](https://user-images.githubusercontent.com/56070872/103476456-ea5be680-4ddb-11eb-8e04-a9ca52dc5f2a.png)

[2021-01-03 10:33] bhoomika07 commented on #275
I unassigned myself by mistake and we are adding a bit of styling, we are done with the basic functionality.

[2021-01-03 14:37] Amit366 opened #334 "The hamburger is not designed"
Sir I have created this issue. Please allow me to solve this issue under the DWOC program.

[2021-01-03 15:04] #334 closed

[2021-01-03 15:09] Amit366 commented on #332
I have also solved this issue
![IMG_20210103_203636](https://user-images.githubusercontent.com/60662775/103481874-7d5c4700-4e03-11eb-8eae-e56f63440b8c.jpg)

[2021-01-03 15:10] ashuvssut commented on #332
amazing! congrats

[2021-01-03 15:19] carbseater commented on #184
![design](https://user-images.githubusercontent.com/59422042/103482114-e2646c80-4e04-11eb-839a-7942fd886e73.png)
Just wanted to know that will this layout fulfill the requirements ? If yes then assign me again so that i could start working.

[2021-01-03 15:29] Amit366 commented on #332
https://user-images.githubusercontent.com/60662775/103482360-77b43080-4e06-11eb-8fa0-1cdce9cd3e2f.mp4

This is for the editor page.

[2021-01-03 16:24] bhoomika07 commented on #275
<img width="1258" alt="Screenshot 2021-01-03 at 9 43 22 PM" src="https://user-images.githubusercontent.com/65896648/103483379-e4cac480-4e0c-11eb-8069-3ac5e55349ca.png">

Only, size feature not working as of now

[2021-01-03 19:06] nishihere19 opened #335 "In desktop, I can see no dropdown menu for download. Even on clicking the download menu, it just refreshes the page."

[2021-01-03 21:42] ashuvssut commented on #184
Hello @smaranjitghose ,  I was working on this issue from last 2 days and today I completed it. I was facing many problems caused by existing CSS. Solving them took me too much time. Therefore I was unsure if I could submit my PR on time. I did't want to get unassigned. That's why I did not asked to assign me when carbseater was unassigned. I am sorry for that.

I made a lot of changes.
So Please

[2021-01-03 22:22] ashuvssut commented on #335
please add a screenshot to help contributors fix it.

[2021-01-04 04:56] nishihere19 commented on #335
![image2](https://user-images.githubusercontent.com/63252119/103502464-4758aa80-4e77-11eb-8a59-5e6f9c8faa50.jpeg)
![image1](https://user-images.githubusercontent.com/63252119/103502467-49226e00-4e77-11eb-8dc2-e7232073fe54.jpeg)

[2021-01-04 05:11] ashuvssut commented on #335
![image](https://user-images.githubusercontent.com/60546840/103502927-a8489a00-4e07-11eb-88c8-6e2450550529.png)

Actually this an alignment problem.

I have already submitted my PR #333 to solve this. It has been approved. This bug will be fixed after they merge my PR.

This issue is actually the same as #333. So You can close this issue.

[2021-01-04 06:01] nishihere19 commented on #335
Oh okk.

[2021-01-04 07:11] #335 closed

[2021-01-04 07:36] smaranjitghose commented on #332
Mobile View Nav bar correction: https://girlscriptboilerplate.netlify.app/

[2021-01-04 07:37] smaranjitghose commented on #332
@ayeshaqaisar Your fix is right. Just expand it to the entire page as shown in the above reference

[2021-01-04 07:38] smaranjitghose commented on #332
The current design is more soothing than this change

[2021-01-04 07:41] Amit366 commented on #332
So should I change it according to https://girlscriptboilerplate.netlify.app/

[2021-01-04 07:50] ashuvssut commented on #272
I will learn about SEO and google analytics. I will surely contribute to this after I get a good idea about this. I will ask to assign me once I have done enough exploring.

[2021-01-04 07:59] Ujjwal3009 commented on #293
@smaranjitghose  I have  raised a PR. Kindly review it.

[2021-01-04 13:19] ayeshaqaisar commented on #332
ok

[2021-01-04 15:56] avinashupadhya99 commented on #323
Hey, I would like to work on this issue, can you please assign it to me?

[2021-01-04 17:05] Abhijay007 opened #339 "The map section overlaps the contact us form in the "Get in touch section""
The map overlaps the contact us form in the "Get in touch section"

![footer](https://user-images.githubusercontent.com/64387054/103559787-b61c1f00-4edc-11eb-85b3-963d30fb3d6c.PNG)

Maybe it can be resolved by setting overflow = hidden or by changing the dimensions of the maps API section/display.

[2021-01-04 18:59] Amit366 commented on #332
@smaranjitghose should I expand it ?

[2021-01-05 10:09] thevivekpande commented on #339
@Abhijay007 @eagleanurag @thealphacod3r @shreyakapoor08 @nerdynikhil <h1> can i solve this ?</h1>

[2021-01-05 17:16] Kashishjain04 opened #342 "Responsive Navbar"
Hamburger nav menu is mixing with other content of the page.
![Screenshot 2021-01-05 at 10 45 29 PM](https://user-images.githubusercontent.com/55389276/103676944-b8977b00-4fa7-11eb-910e-19469e2a03ab.png)

[2021-01-05 17:17] Kashishjain04 commented on #342
I can fix this issue. Please assign this to me..

[2021-01-06 10:07] Abhijay007 opened #343 "Extra space in the header and footer section of editor page / remove horizontal scroll bar"
There is some extra space in the right part of the "Editor page" which can be seen in the header and footer part of the page.

This gif can explain it better:

![doc2pen](https://user-images.githubusercontent.com/64387054/103755943-a9aada00-5034-11eb-83da-4fdc958337b0.gif)

screenshot:

![doc2pen-error](https://user-images.githubusercontent.com/64387054/103755975-b7f8f600-5034-11eb-8ad2-54ba49dcf0

[2021-01-06 12:45] Abhijay007 commented on #343
@smaranjitghose sir I think this issue is already solved with one of the recently merged PR.

[2021-01-06 12:47] Abhijay007 commented on #343
you can close it.

[2021-01-06 12:48] Abhijay007 commented on #339
close #339 via #341

[2021-01-06 12:48] #339 closed

[2021-01-06 13:12] #343 closed

[2021-01-06 15:09] sahebsunny commented on #269
@smaranjitghose  sir I am done with this issue but as the source files are modified with react it's taking some time for me to understand.

[2021-01-06 15:10] smaranjitghose commented on #269
Oh don't worry, just change the branch to compare to `base`. The master branch is the new react code. The previous HTML,CSS and JS one is on `base`

[2021-01-06 17:57] thevivekpande commented on #342
@Kashishjain04 @eagleanurag @thealphacod3r can i fix it?

[2021-01-06 18:45] tharunc opened #344 "Integrate Welcome Bot"
Hello there,
         I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of DWOC. Please assign me this issue. For reference, kindly check out: https://github.com/apps/welcome
THANK YOU

[2021-01-07 01:59] shreyasY2k commented on #188
I'm working on it. Will send PR asap. As asked in discord is it ok to change the textarea tag to a div with content editable property? Bevat if i do that the functioning of whole app wil change

[2021-01-07 07:50] vismitap commented on #322
Hey! I had used the calligraphr tool to create a font for my college assignments and noticed the same issue. The reason for some letters not being displayed is this
![image](https://user-images.githubusercontent.com/47056243/103865466-44192500-50ea-11eb-9a94-c0c001c30a10.png)
I used a workaround by deleting some special characters from the end so that I at least get all the necessary alphabets and

[2021-01-07 11:23] Abhijay007 opened #345 "Download drop-down in the "Editor" section not working properly"
Download drop-down in the "Editor" section of the website is not working properly. when the user clicks on the download button the drop-down opens but at the right side of the page.

video of the issue in gif format.

![doc2pen-dow](https://user-images.githubusercontent.com/64387054/103887049-776aac80-5108-11eb-8e1a-97f98e447d81.gif)

screenshot:

![bug](https://user-images.githubusercontent.com/6

[2021-01-07 12:36] sahebsunny commented on #269
thank you sir
@smaranjitghose sir im removing the page upload button and adding import from button

[2021-01-07 13:11] sahebsunny commented on #188
@shreyasY2k I tried it
I changed the textarea tag to a div with content editable

[2021-01-07 13:19] shreyasY2k commented on #188
@sahebsunny yes i too did it. It will work for the input side. But for output bock the canvas of p5 has only text function and a imageUpload function whish takes only single image. That is what we're using for type of page. But to place an image on an image? I have no idea.

[2021-01-07 13:59] sahebsunny commented on #188
Yes that's the issue

[2021-01-07 17:41] thevivekpande opened #348 "Footer for website"
I Would like to add footer for this website.
@smaranjitghose Please assign this to me.

[2021-01-07 18:18] smaranjitghose commented on #348
Current design does'nt need any further improvements for the footer

[2021-01-07 18:18] #348 closed

[2021-01-08 09:32] smaranjitghose opened #350 "REACT: Add Navigation bar to the react version of the project!"

[2021-01-08 09:33] smaranjitghose opened #351 "REACT: Add footer to the REACT version of the project"

[2021-01-08 09:35] smaranjitghose opened #352 "REACT: APP UI Update"
Make the UI Similar to Google Docs or Microsoft Word, with the Control panel (horizontally laid out) above the text area. The text area should cover the rest of the screen as in other document or text editors

[2021-01-08 09:37] smaranjitghose opened #353 "REACT: Add word count feature"
# Reference to the base branch

![image](https://user-images.githubusercontent.com/40017559/104086639-b1aa8a00-527f-11eb-82f1-4b6eae5db5ae.png)

[2021-01-08 09:37] smaranjitghose opened #354 "REACT: Add feature to export as PNG, JPG, PDF"

[2021-01-08 09:38] smaranjitghose opened #355 "REACT: Add option to change font color (red, blue, black, green)"
Implementing a feature to add different colours of the pen to react app of the website. Having different colours of pen-like blue, green, red, black.
Sample Dropdown is attached. You Can Look Through this.
![image](https://user-images.githubusercontent.com/40017559/104086346-0c8eb200-527d-11eb-8026-03c1cb1394f8.png)

[2021-01-08 09:39] smaranjitghose opened #356 "REACT: Add Option to change background sheet"

[2021-01-08 09:40] smaranjitghose opened #357 "REACT: Home Page"
Make it similar to the one in the basic HTML,CSS and JS version

[2021-01-08 09:41] #269 closed

[2021-01-08 09:41] #198 closed

[2021-01-08 09:41] #184 closed

[2021-01-08 09:42] #293 closed

[2021-01-08 09:42] #273 closed

[2021-01-08 10:18] smaranjitghose opened #358 "Deep Learning: Train a LSTM to generate hand writing"
### Reference Paper:
[Generating Sequences With Recurrent Neural Networks](https://arxiv.org/abs/1308.0850)

### Reference Code:
[Repo](https://github.com/sjvasquez/handwriting-synthesis)

### Instructions:
- Please use Google Colab as a platform to train the model
- Using TensorFlow is preferred

[2021-01-08 10:22] carbseater opened #359 "Adding canvas color functionality in Sketch page"
Right now one can only draw on white canvas in sketch page, It would be better if user can select more color for canvas background @smaranjitghose

[2021-01-08 10:27] ashuvssut commented on #184
Sir, this is an irrelevant comment,

Sir, I have contributed resolving issues that did not had any level tag. There was only one issue tagged with level-4.

I did not receive points in DWoC for Those PRs which were merged successfully and did not have a level tag.

Is their any way to claim those DWoC points?

This issue also didn't have any level tag

[2021-01-08 10:37] smaranjitghose commented on #184
__Done__

[2021-01-08 10:46] carbseater commented on #184
Hey @ashuvssut how can we see our dwoc points ? can you drop the link here. Thanks

[2021-01-08 10:54] ashuvssut commented on #184
https://devscript.tech/woc/leaderboard

@carbseater join DWoC Discord server today😊 to check regular updates from the announcements channel in that server

[2021-01-08 10:57] ashuvssut commented on #184
thankyou sir

[2021-01-08 13:35] RitikPandey1 commented on #357
I would like to work on this

[2021-01-08 13:35] shraddha-1402 commented on #357
Hey @smaranjitghose i would like to work on this issue. please assign me

[2021-01-08 13:51] RitikPandey1 commented on #350
I would like to work on this @smaranjitghose

[2021-01-08 14:26] neeagwl commented on #351
I would like to work on this feature.

[2021-01-08 14:28] neeagwl commented on #355
I would like to work on this issue.

[2021-01-08 16:07] sanjay270899 commented on #357
I want to work on this.

[2021-01-08 17:00] shubhraagarwal commented on #356
Can you please elaborate the issue?

[2021-01-08 17:22] smaranjitghose commented on #356
We need to change the background of the output screen with other styles of pages. Check out doc2pen.smaranjitghose.codes/editor

[2021-01-08 17:24] smaranjitghose commented on #350
@sanjay270899  @RitikPandey1 @neeagwl I would suggest to collaborate over the slack channel while working on your respective issues so that there are no merge conflicts among your PRs

[2021-01-08 17:35] sanjay270899 commented on #357
@smaranjitghose Where is the Home Page with the basic version?

[2021-01-08 17:36] smaranjitghose commented on #357
In the base branch

[2021-01-08 18:28] riyasavant commented on #356
Can I work on this issue?

[2021-01-08 18:29] riyasavant commented on #353
Can I work on this feature?

[2021-01-08 18:29] riyasavant commented on #354
I want to work on this feature

[2021-01-08 19:20] Jahnavi-Jonnalagadda opened #364 "Generate all kinds of pages mentioned under "Choose Page" dropdown"
The options under "Choose Page" dropdown are not generating any kind of pages - margin/design. Need to add code for generating the same. @smaranjitghose @anushbhatia

[2021-01-09 05:51] carbseater commented on #302
Hey i think we should add Issues templates for contributors
When we create issue templates for our repository , they'll be available for contributors to use when they open new issues in the repository. What do you think about this @smaranjitghose Shoul i create the new issue for this and work on this ?

[2021-01-09 07:48] anushbhatia opened #366 "Adding Multiple Colours"
Implementing a feature to add different colours of the pen to react app of the website. Having different colours of pen-like blue, green, red, black.
Sample Dropdown is attached. You Can Look Through this.
![image](https://user-images.githubusercontent.com/40017559/104086346-0c8eb200-527d-11eb-8026-03c1cb1394f8.png)

[2021-01-09 07:54] anushbhatia opened #367 "Adding Multiple Download Options 📃"
Currently, it only supports png format for download Adding Multiple Download Functionality.
We can have formats like **Pdf, png, jpg** (Any other if you feel required)

[2021-01-09 07:55] ayushrastogi689 commented on #367
I am interested to work on this issue. Please assign me this issue.

[2021-01-09 07:58] anushbhatia opened #368 "Adding Font Size Options🤓"
Adding a dropdown for adding font like a word document and also add custom font option if possible (Bonus 🌟)
![image](https://user-images.githubusercontent.com/40017559/104086446-2f6d9600-527e-11eb-84bd-f8667de88d60.png)

[2021-01-09 07:59] anushbhatia commented on #367
Sure go ahead please maintain the folder structure.

[2021-01-09 08:02] anushbhatia opened #369 "Import Text From Doc or txt file📄"
Adding functionality to add text imported from the .txt format or .doc format
![image](https://user-images.githubusercontent.com/40017559/104086561-12859280-527f-11eb-91f8-e4570ee5e4e6.png)

[2021-01-09 08:06] anushbhatia opened #370 "Adding Word Count Meter🔄"
Functionality to add a word counter so that if someone is writing an essay he will know what is total work limit
![image](https://user-images.githubusercontent.com/40017559/104086639-b1aa8a00-527f-11eb-82f1-4b6eae5db5ae.png)

[2021-01-09 08:09] anushbhatia opened #371 "Adding Border 🎉"
Adding Border options specified in the image below.
![image](https://user-images.githubusercontent.com/40017559/104086690-f9c9ac80-527f-11eb-81dd-36d7d8cf347c.png)

[2021-01-09 08:16] neeagwl commented on #351
Please review my PR.

[2021-01-09 08:24] anushbhatia opened #372 "REACT: Adding Line spacing and Width 📑"
Line Spacing between two elements.
Width of the number of words in a line. It can be done by adding a slider just like that specified in the image.
***Bonus**
Adding letter Spacing. Space between two letters in a word.
![image](https://user-images.githubusercontent.com/40017559/104086950-1666e400-5282-11eb-8a0a-203288addb04.png)

[2021-01-09 08:54] shreyasY2k commented on #369
I wan’t to work on this

[2021-01-09 11:46] tharunc opened #375 "ADD ISSUE_TEMPLATE"
Hello there,
           I would like to add an issue template for your repository. This template would have four issues namely bug, documentation, feature, proposal. Kindly assign me this issue as a part of **DWOC**.
THANK YOU

[2021-01-09 11:48] tharunc opened #376 "Integrate Welcome Bot"
Hello there,
I can add a welcome bot config file having a proper message that will show up when any user will open up an issue or pull-request for the first time as a part of **DWOC**. Please assign me this issue.
For reference, kindly check out: https://github.com/apps/welcome

THANK YOU

[2021-01-09 12:11] smaranjitghose commented on #375
Not Required

[2021-01-09 12:11] #375 closed

[2021-01-09 12:12] smaranjitghose commented on #376
Not Required

[2021-01-09 12:12] #376 closed

[2021-01-09 13:12] smaranjitghose opened #377 "README Update: Open Source Section"
Update the programs to:
- SWOC 2021
- DWOC 2020
- PSOC 2020
- Hackin Codes 2020

Only the pictures!

Please follow the file structure convention. `assets/Readme_assets/...`

[2021-01-09 13:43] carbseater commented on #372
Assign me please

[2021-01-09 13:44] carbseater commented on #377
Assign me for this @smaranjitghose

[2021-01-09 13:45] carbseater commented on #352
Assign me for this

[2021-01-09 13:47] carbseater opened #378 "Adding Issue templates"
Hello there,
I would like to add an issue template for the repository. This template would have issues namely bug, feature. Kindly assign me this issue as a part of DWOC.
THANK YOU

[2021-01-09 13:55] #359 closed

[2021-01-09 14:28] neeagwl commented on #350
Sure, would do that

[2021-01-09 16:25] #342 closed

[2021-01-09 18:36] smaranjitghose commented on #378
Not Required.

Whenever you see someone else raise this issue, kindly refer to these🙏

#375 #331

[2021-01-09 18:36] #378 closed

[2021-01-09 20:48] nehaparmar99 commented on #357
Can i work on it?

[2021-01-10 06:29] carbseater commented on #352
Before working on the UI, I want to know how you are expecting the UI, So give me any reference or I have creaated a Design, have a look at this and give review
![prop](https://user-images.githubusercontent.com/59422042/104116049-31e1f580-533b-11eb-8aea-dff38d6c8236.png)

[2021-01-10 07:01] Sloth-Panda opened #383 "There is no issue template"
let me know if you want to add this

[2021-01-10 07:27] smaranjitghose commented on #383
#378

[2021-01-10 07:27] #383 closed

[2021-01-10 07:59] RitikPandey1 commented on #350
Can I make whole header again with navigation bar using bootstrap in react ?
like this
![pic1](https://user-images.githubusercontent.com/57366926/104117492-ae7ad100-5347-11eb-9910-58393e73e744.PNG)
or only add navigation bar in current header
current header in react
![pic2](https://user-images.githubusercontent.com/57366926/104117478-95722000-5347-11eb-8c0d-4eaf404316e9.PNG)

@smaranjitghose

[2021-01-10 08:08] smaranjitghose commented on #350
I'll suggest using Tailwind for making custom components

[2021-01-10 08:49] RitikPandey1 commented on #350
I am not familiar with Tailwind and currently I don't have enough time to explore it due to my exams, so should I use bootstrap to make  header and navigation ?

[2021-01-10 12:36] ayeshaqaisar commented on #332
![iimg](https://user-images.githubusercontent.com/56070872/104123003-7aff6d00-536e-11eb-94a3-4e68d628f76e.png)

SWoC Participant

[2021-01-10 14:44] Abhijay007 commented on #345
closed #345 via #374

[2021-01-10 14:44] #345 closed

[2021-01-10 16:54] Jahnavi-Jonnalagadda commented on #364
@smaranjitghose @anushbhatia, Can you please elaborate on the above options - plain white texture, plain grey texture
![image](https://user-images.githubusercontent.com/53110069/104129514-4b625c00-5392-11eb-9a23-e9a39ecf0298.png)

[2021-01-10 17:25] Abhijay007 opened #385 "feature request: Add pagination and provide the functionality to download compiled page pdf"
Add pagination and provide the functionality to download compiled page pdf

According to current functionality, when the user is done with the writing of first page then he/she first needs to remove everything and after that need to start from the very beginning to write their second page which means they need to download what they have written first then need to write the second page which also t

[2021-01-11 04:52] TanweerulHaque commented on #358
Hi there Sir,
Can you assign me this issue ??
I would like to proceed with the working

[2021-01-11 05:13] shreyasY2k commented on #369
Hey @vidhi-mody sorry to say this. My University exams just got announced. So I couldn't proceed with the issue. Please unassign and give it to anyone who needs. Sorry Again!

[2021-01-12 05:50] #377 closed

[2021-01-12 08:57] carbseater commented on #352
@smaranjitghose should i start working on this design?

[2021-01-12 13:50] kenkirito commented on #357
can you assign me this I will complete this at midnight. and also please add level tags @smaranjitghose

[2021-01-12 17:31] kenkirito commented on #355
can i work on this

[2021-01-13 11:40] suyash-patil opened #390 "Update README.md with proper repository name"
In the Contribution guidelines section of Readme file, the commands are pointing to the wrong repository name ('awesome-portfolio-websites').
<img width="611" alt="githubissues" src="https://user-images.githubusercontent.com/66873825/104447475-daa18680-55c1-11eb-98bb-c2d4a846b11a.png">
Instead, it should point to the correct repository name i.e. 'doc2pen'.

@smaranjitghose @anushbhatia I would lik

[2021-01-13 12:44] suyash-patil commented on #390
@smaranjitghose Please have a look at this.

[2021-01-13 12:48] smaranjitghose commented on #357
Improve upon @sanjay270899 's PR

[2021-01-13 12:49] #390 closed

[2021-01-13 21:51] SinghShreya05 opened #393 "Extracting texts from images/online screenshots"
I'll like to work on it, kindly assign me this issue under SWOC label. @vidhi-mody

[2021-01-14 04:19] nehaparmar99 commented on #357
Sure, working on it.

[2021-01-14 07:47] SinghShreya05 commented on #393
@vidhi-mody can I proceed with this?

[2021-01-14 07:55] vidhi-mody commented on #393
@SinghShreya05 sure. I have assigned it to you!

[2021-01-14 10:03] himanshu007-creator opened #394 "Automating website"
I would like to work on this issue.I will create a script that will enable opening website from CLI.
Please add DWOC label to it and assign me this issue.

[2021-01-14 15:57] smaranjitghose commented on #394
The site is supposed to be visited online. So using a CLI won't be of much use unless we want to debug it

[2021-01-14 15:57] #394 closed

[2021-01-14 15:58] smaranjitghose commented on #393
@SinghShreya05  Are you proposing an OCR?

[2021-01-14 16:57] SinghShreya05 commented on #393
@smaranjitghose Yes, I am applying python-ocr to extract texts.

[2021-01-14 18:10] smaranjitghose commented on #393
Actually the concept of this project is quite the opposite so it won't be relevant.

You can implement it in https://github.com/smaranjitghose/DocLense

[2021-01-14 18:10] #393 closed

[2021-01-14 20:48] nehaparmar99 commented on #357
Hey, can i contact you on Slack?Had a few doubts regarding the improvements.

[2021-01-14 22:25] smaranjitghose commented on #369
/polls "yes" "no" "why"

[2021-01-14 22:33] anushbhatia opened #395 "Testing"
/polls "hello" "Hi"

[2021-01-14 22:34] #395 closed

[2021-01-14 22:35] smaranjitghose commented on #369
/polls Option1 'Option 2' "Option 3"

# Automatically replace with the following markdown =>
[![](https://m131jyck4m.execute-api.us-west-2.amazonaws.com/prod/poll/01BXZMATAZ5BXF8RVRAMRSSANA/Option1)](https://m131jyck4m.execute-api.us-west-2.amazonaws.com/prod/poll/01BXZMATAZ5BXF8RVRAMRSSANA/Option1/vote)
[![](https://m131jyck4m.execute-api.us-west-2.amazonaws.com/prod/poll/01BXZMATAZ5BXF8RVRAMRSSA

[2021-01-14 22:36] smaranjitghose opened #396 "Polling Issue"

[2021-01-14 22:37] smaranjitghose commented on #396
/polls TensorFlow PyTorch

[2021-01-14 22:43] anushbhatia commented on #357
Feel Free to use our slack channel for doubts

[2021-01-17 17:52] anushbhatia commented on #357
You can work on the enhancement of the cover page by adding something that represents doc2pen in the best way possible.
https://texttohandwritingconverter.online/
https://www.openpeeps.com/ illustrations can be used from here

[2021-01-17 17:54] anushbhatia commented on #352
yes

[2021-01-17 18:22] anushbhatia commented on #372
Any update

[2021-01-17 18:25] #354 closed

[2021-01-17 18:25] smaranjitghose commented on #372
@carbseater Let me or @anushbhatia know if you are still interested

[2021-01-17 18:27] smaranjitghose commented on #350
Do the changes as suggested by @anushbhatia. After that we can go to Tailwind.  Perhaps after your exams

[2021-01-17 18:28] #350 closed

[2021-01-17 18:30] anushbhatia opened #399 "REACT: Improve navbar design 🎨"
feel free to contact me over discord or slack for the design changes. Will guide you through it.

[2021-01-17 18:30] #275 closed

[2021-01-17 18:31] #351 closed

[2021-01-17 18:33] anushbhatia opened #400 "React: Sketch Page"
Create a sketch page where users can create diagrams and then download it.

[2021-01-17 18:36] anushbhatia opened #401 "React: Improve footer🌟"
![image](https://user-images.githubusercontent.com/40017559/104852370-bd9de800-5920-11eb-9b22-50fd9505c5a5.png)
Improving the current footer by adding more functionality like contact us form or subscribe to newsletter kind of section

[2021-01-17 18:36] sakshikhachane commented on #399
@anushbhatia I would like to work on this issue.

[2021-01-17 18:39] #369 closed

[2021-01-17 18:40] #352 closed

[2021-01-17 18:40] #353 closed

[2021-01-17 18:41] #355 closed

[2021-01-17 18:41] anushbhatia opened #402 "REACT:Import Text From Doc or txt file📄"
Implementing something similar to this on the current React Webpage
![image](https://user-images.githubusercontent.com/40017559/104852552-b5927800-5921-11eb-86ac-ff8d93a666d7.png)
https://smaranjitghose.github.io/doc2pen/

[2021-01-17 18:42] smaranjitghose commented on #358
It's almost a week. @TanweerulHaque  what's your update on this?

[2021-01-17 18:45] TanweerulHaque commented on #358
Hi there @smaranjitghose This LSTM paper was a bit difficult to comprehend. However, I have started with the coding part. I'll just be needing a couple of days more. Thank you.

[2021-01-17 18:45] anushbhatia opened #403 "REACT: APP UI Update✨"
Make the UI Similar to Google Docs or Microsoft Word, with the Control panel (horizontally laid out) above the text area. The text area should cover the rest of the screen as in other document or text editors
[Link to the design](https://user-images.githubusercontent.com/59422042/104116049-31e1f580-533b-11eb-8aea-dff38d6c8236.png)

[2021-01-17 18:47] anushbhatia opened #404 "REACT: Add feature to export as PNG, JPG, PDF📄"
Currently, the site exports image to only png format adds more formats relevant for export in it.

[2021-01-17 18:50] anushbhatia opened #405 "REACT: Add word count feature🔢"
![image](https://user-images.githubusercontent.com/40017559/104852773-d7402f00-5922-11eb-982a-94c0addc6bfa.png)

[2021-01-17 18:52] anushbhatia opened #406 "REACT: Add option to change font color (red, blue, black, green) 🎨"
Implementing a feature to add different colours of the pen to react app of the website. Having different colours of pen-like blue, green, red, black.
Sample Dropdown is attached. You Can Look Through this.
![image](https://user-images.githubusercontent.com/40017559/104086346-0c8eb200-527d-11eb-8026-03c1cb1394f8.png)

[2021-01-17 18:52] anushbhatia commented on #406
@kenkirito do you want to work on this

[2021-01-17 18:58] smaranjitghose commented on #358
No worries @TanweerulHaque. Just give us some updates every two days. consult with @vidhi-mody if required

[2021-01-17 19:15] AbhipsaGuru1012 commented on #401
@anushbhatia can I work on this issue?

[2021-01-17 20:43] ashuvssut opened #407 "Implement React Code Splitting to improve page loadtime"
refer [here](https://reactjs.org/docs/code-splitting.html) to react code splitting examples.

In Code splitting User only downloads the files related to the page he is visiting instead of loading the entire site's files.
It improves loadtime in react

Right now this app has just one page. so code splitting is not required. But, I will implement code splitting so that in future contributors can add

[2021-01-17 21:01] ashuvssut commented on #403
I can to work on this. I know the React basics. can you assign me this. I can submit a PR within 5-6 days.

I am new to React...thats why I am not confident how much time I will take. so 5-6 days will suffice!

[2021-01-17 21:07] ashuvssut commented on #407
After this, I can put a documentation on describing the file structure of this project's current file structure. But, first this Issue's PR is a must to support the documentation.

[2021-01-18 03:42] anushbhatia commented on #407
You want to use webpck rollup and Browserify in this too?

[2021-01-18 03:42] anushbhatia commented on #407
Sure you can impove the current structure

[2021-01-18 04:25] anushbhatia commented on #403
Suree no problem you can bug us on slack or discord for any doubts if faced.

[2021-01-18 05:46] ashuvssut commented on #407
No, actually I dont know about these three. I will look into it.
For now , i will do whatever the [React Code splitting](https://reactjs.org/docs/code-splitting.html) documentation has taught me.

[2021-01-18 07:44] riyasavant commented on #406
Can I work on this?

[2021-01-18 11:32] AbhipsaGuru1012 commented on #401
![doc2pen](https://user-images.githubusercontent.com/58511560/104909916-92fa7080-59ae-11eb-974a-5d53b7f3789e.PNG)

@anushbhatia @vidhi-mody is this footer okay? Please note that the footer is responsive and on hovering on the subscribe button it turns blue.

[2021-01-18 15:47] sanjay270899 commented on #405
I would Like to work on this.

[2021-01-18 16:02] anushbhatia commented on #406
Sure but do give PR

[2021-01-18 16:04] anushbhatia commented on #401
the font is a bit dull change that to bolder one you can take inspiration from this project https://girlscriptboilerplate.netlify.app/

[2021-01-18 16:07] anushbhatia commented on #407
okay go ahead

[2021-01-18 17:16] AbhipsaGuru1012 commented on #401
Okay sure, I will make the changes.

[2021-01-18 17:45] anushbhatia commented on #401
Then you make a PR

[2021-01-18 19:02] imakash3011 commented on #402
I would like to work on this issue.

[2021-01-18 19:39] smaranjitghose commented on #403
Listen @ashuvssut, I surely have no problem with you taking a week for this. However, I would suggest you make daily PRs if not once in two days so that we can give you feedback while you learn.  Because the perfect pr never happens at once, all of us learn by doing mistakes 😊

[2021-01-18 19:40] smaranjitghose commented on #405
Deadline: within next 3 days.
If you need more time after that, let @anushbhatia or me know

[2021-01-18 19:41] smaranjitghose commented on #406
Deadline: within next couple of days
@riyasavant if you require more time after that, do let us know

[2021-01-18 19:41] smaranjitghose commented on #407
Use Docusaurus or MkDocs for documentation

[2021-01-18 19:42] smaranjitghose commented on #407
@ashuvssut This is a great thing to incorporate into our project

[2021-01-18 19:44] smaranjitghose commented on #402
Deadline: within next 4 days
Do it only for importing text from .txt files. Leave .doc files for now

[2021-01-19 06:42] ashuvssut commented on #403
Oh I get it! 😁

[2021-01-19 07:53] AbhipsaGuru1012 commented on #401
@anushbhatia can you please give an overview of the functionalities that can be added to the newsletter

[2021-01-19 11:27] #407 closed

[2021-01-19 11:29] anushbhatia commented on #401
First work on the UI part of it then we can take steps towards functionality once the UI is perfect.

[2021-01-19 11:39] AbhipsaGuru1012 commented on #401
Okay sure, once the UI is properly done I will make a PR

[2021-01-19 11:49] Abhijay007 opened #410 "Feature request: Add "ToTop" button on the home page."
On the Home page of the doc2pen website add a "to top" button in the bottom right corner of the page

[2021-01-19 13:06] riyasavant commented on #406
Yes sure

[2021-01-19 13:08] ashuvssut commented on #410
I want to work on this.

will complete this in a day!

[2021-01-19 13:21] riyasavant commented on #406
I have added the functionality, but the text color does not seem to change. Attaching screenshots for reference.

![Screenshot (247)](https://user-images.githubusercontent.com/46701530/105039946-3d45c700-5a87-11eb-86a6-ddb7038e6df2.png)
![Screenshot (246)](https://user-images.githubusercontent.com/46701530/105039957-4040b780-5a87-11eb-825f-f8d32e009ed4.png)
![Screenshot (245)](https://user-images.

[2021-01-19 14:35] sanjay270899 commented on #405
@smaranjitghose @anushbhatia where should I keep the `word count`?

![image](https://user-images.githubusercontent.com/43892590/105048518-ad594a80-5a91-11eb-8ce2-c966f7dfeddd.png)

[2021-01-20 06:47] anushbhatia commented on #401
Great work @AbhipsaGuru1012 🎉🎉. Now we can proceed with the functionality part https://blog.mailtrap.io/react-send-email/
I would recommend nodemailer or pure react for this it might be quite new to you and for a demo, email uses your for now then once the PR is approved will add our org email to it. If you face any issues feel free to message me on slack or discord.

[2021-01-20 06:50] anushbhatia commented on #405
add it near the drop-down section that would be convenient. If you are facing major issues in it then place it beside the download icon.

[2021-01-20 06:51] anushbhatia commented on #410
you both can work on this and collaborate within yourself for it.

[2021-01-20 06:53] ashuvssut commented on #410
Sir i have completed this yesterday

[2021-01-20 06:54] ashuvssut commented on #410
i just need to open up a pr

[2021-01-20 07:03] anushbhatia commented on #410
okay then you both can give PR by that time which UI is better will merge that

[2021-01-20 07:06] ashuvssut commented on #410
sir please review my PR

[2021-01-20 07:07] Abhijay007 commented on #410
ok sir 👍

[2021-01-20 07:39] ashuvssut commented on #407
@smaranjitghose  @anushbhatia please consider my PR for DWoC. I want to get a good ranking in DWoC😅. Just trying to make a good achievements section in my linkedin profile😄

[2021-01-20 09:49] AbhipsaGuru1012 commented on #401
Thank you so much @anushbhatia. I will try adding functionality to the newsletter. If I face any issue then I will ping on discord.

[2021-01-20 10:40] khusboobothra commented on #399
@anushbhatia , Is the issue still open? I would like to work on it.

[2021-01-20 10:58] sanjay270899 commented on #405
@anushbhatia and @smaranjitghose Is it fine?
![image](https://user-images.githubusercontent.com/43892590/105165533-78560200-5b3c-11eb-8412-9b99c73e4426.png)

[2021-01-20 14:09] smaranjitghose commented on #399
Yes. Go ahead with your proposition for improvement

[2021-01-20 15:19] anushbhatia opened #417 "React"

[2021-01-20 15:21] anushbhatia opened #418 "REACT: Enable Routing 📍"
Implementing Routing
1. Adding homepage as a default page in when opened.
2. Making the navbar to move down on different sections.

[2021-01-20 15:21] #417 closed

[2021-01-20 15:44] anushbhatia commented on #406
Create a new file if this is having a problem with props and add that to the project. I think this props file is having some issue related to this

[2021-01-20 16:02] sanjay270899 commented on #418
@anushbhatia Can you please elaborate point 2?

[2021-01-20 16:16] smaranjitghose commented on #418
Basically, section-wise navigation for the home page as described by About, Team, Contact in the navbar

[2021-01-20 16:24] sanjay270899 commented on #418
I would Like to work on this.

[2021-01-20 16:26] sanjay270899 commented on #400
I would Like to work on this.

[2021-01-21 05:28] riyasavant commented on #406
Okay, will try it out

[2021-01-21 11:23] ashuvssut commented on #403
![image](https://user-images.githubusercontent.com/60546840/105343779-eaf3cb80-5b96-11eb-97a2-2603c81907c4.png)

design n colors copied from both Google Docs or Microsoft Word.

@anushbhatia I want our slider to look like as shown
![image](https://user-images.githubusercontent.com/60546840/105344046-4756eb00-5b97-11eb-91b1-5fd405bc2000.png)
**_source: google docs_**
- user can set values accuratel

[2021-01-21 13:29] khusboobothra commented on #399
![Screenshot (114)](https://user-images.githubusercontent.com/59091399/105357315-a6aa0f00-5c1a-11eb-9002-127f0b431068.png)
![Screenshot (113)](https://user-images.githubusercontent.com/59091399/105357321-a873d280-5c1a-11eb-88ac-e1fac51839f2.png)

@smaranjitghose ,What are your thoughts on this, sir?

[2021-01-21 14:01] Harshita-Kanal commented on #404
Can I try this, I am from SWoC

[2021-01-21 14:26] sanjay270899 commented on #405
@anushbhatia @smaranjitghose we can close this issue if you wish. Thanks.

[2021-01-21 19:09] #405 closed

[2021-01-22 07:21] #418 closed

[2021-01-22 14:24] #410 closed

[2021-01-22 16:38] ashuvssut commented on #403
@anushbhatia  @smaranjitghose  please give your opinion regarding this. After that, I can work on this.

[2021-01-23 09:39] 07yuvraj commented on #404
Can i work on this issue under SWOC and DWOC?

[2021-01-23 15:11] Abhijay007 opened #422 "Feature request : Drop down on hover"
Currently, when a user wants to see the contents of the drop-down menu he/she needs to click on the dropdown.

![before-doc](https://user-images.githubusercontent.com/64387054/105598674-4eaa0e80-5dba-11eb-8df8-32d761d608ed.gif)

I want to suggest a feature that when the user hovers over the dropdown then the contents of the drop-down pops out.

![after-doc](https://user-images.githubusercontent.co

[2021-01-23 21:22] sanjay270899 commented on #406
@anushbhatia I would Like to work on this.

[2021-01-24 04:17] ashuvssut commented on #422
can i be assigned to this ?

[2021-01-24 04:20] ashuvssut commented on #372
please assign me this issue.

[2021-01-25 16:23] anushbhatia commented on #401
Any updates @AbhipsaGuru1012

[2021-01-25 17:26] ashuvssut commented on #403
Hello @smaranjitghose , @anushbhatia

I know that I am late submitting my PR
I just wanted to inform you that I am still working on this issue.

![image](https://user-images.githubusercontent.com/60546840/105741307-fd4f6b80-5eee-11eb-8d06-694f21aa568b.png)

this design is half from Microsoft's doc(layout), and half from google docs (colors and design of button in input  tags)

The code works all f

[2021-01-25 18:30] anushbhatia commented on #403
Sureee

[2021-01-25 18:51] AbhipsaGuru1012 commented on #401
@anushbhatia I am working on it, I am getting some errors while clicking on the subscribe button. Will complete at the earliest

[2021-01-25 20:01] ashuvssut opened #424 "Implement a Cool Preloader"
I wan to implement a cool preloader that i am working right now. It will always appear when pages load.

It will use just some **simple** css animation😁. NO gif or svg.

would take one day at max

[2021-01-26 05:14] anushbhatia commented on #424
A sample if possible

[2021-01-26 06:58] ashuvssut commented on #424
I am working on it. I will provide it today only...
Or maybe tomorrow morning

[2021-01-26 15:10] anushbhatia commented on #424
Suree

[2021-01-27 07:45] kenkirito commented on #399
@smaranjitghose assign me this issue

[2021-01-27 08:34] nagasrisai commented on #323
can you assign it to me @anushbhatia

[2021-01-27 17:31] Chaitanya31612 commented on #356
@smaranjitghose I'd like to work on this issue if it's available.

[2021-01-27 17:37] Chaitanya31612 opened #427 "Design loading animation when page is loaded."
As of now when the page is loaded only text saying "Loading Page..." is rendered. It can be improved by adding loading animation.

![image](https://user-images.githubusercontent.com/54992097/106030542-4f151300-60f4-11eb-809b-42f810c9c571.png)

![loadinganim](https://user-images.githubusercontent.com/54992097/106095790-65ee5080-615a-11eb-9f11-b0749391e84d.gif)

I'd like to work on this under SWOC.

[2021-01-27 17:39] Chaitanya31612 commented on #402
@smaranjitghose I'd like to work on it, kindly assign if it's available.

[2021-01-27 17:46] Chaitanya31612 commented on #385
@anushbhatia I'd like to work on this issue.

[2021-01-28 04:45] smaranjitghose commented on #427
@anushbhatia could you suggest some appropriate animations as well

[2021-01-28 15:50] Chaitanya31612 commented on #427
Just to mention the background will be white, it's appearing as such because it has been paused through the debugger.

[2021-01-29 22:22] #403 closed

[2021-01-30 02:13] Abhijay007 commented on #422
closed #422 via #419

[2021-01-30 02:13] #422 closed

[2021-01-30 04:51] ashuvssut commented on #403
@anushbhatia @smaranjitghose, can you please put the level tag for dwoc/swoc

[2021-01-30 05:07] ashuvssut commented on #427
this issue is same as #424.

[2021-01-30 05:08] ashuvssut commented on #424
Preview : https://vimeo.com/user132135983/review/504920987/2aa26c23d2

[2021-01-30 07:58] Chaitanya31612 commented on #402
@smaranjitghose may I know where is the code for doc2pen.smaranjitghose.codes/ which I can use as reference. As I couldn't find any branch for it?

[2021-01-30 21:30] smaranjitghose commented on #402
We have it on the `base` branch. However, feel free to go ahead with the work without that reference. When the issue was raised, the react version was not developed into what we have now

[2021-01-30 21:31] smaranjitghose commented on #385
We are doing this exclusively for the version on the master (i.e. the REACT code, the base branch version is discontinued)

[2021-01-30 21:39] #424 closed

[2021-01-30 23:10] smaranjitghose commented on #427
@Chaitanya31612 @ashuvssut if you are interested in animation related tasks do check out [this project which is also a part of DWOC, SWOC and JWOC](https://github.com/smaranjitghose/awesome-portfolio-websites/issues)

[2021-01-30 23:10] smaranjitghose commented on #427
I guess not, he is doing this for the editor page

[2021-01-31 05:12] Chaitanya31612 commented on #427
@smaranjitghose is this loading animation cool or something else needs to be implemented?

[2021-01-31 05:30] Chaitanya31612 opened #429 "Option for multicolor text in editor."
There should be an option for multicolor text inside the body itself. Like if the student want to use blue red/green but currently they can only have one color.

![image](https://user-images.githubusercontent.com/54992097/106375578-3c7c3180-63b3-11eb-994b-d4bf6bcbeb35.png)

[2021-01-31 12:09] Chaitanya31612 commented on #356
@smaranjitghose please review my pull request #430

[2021-01-31 13:29] #356 closed

[2021-01-31 13:31] smaranjitghose commented on #427
Check out the example i gave on awesome-portfolio-project for the preloader. A small tweak in design would be nice

[2021-01-31 13:32] smaranjitghose commented on #429
True, this is would be a great addition.
Do you have a proposal on how to implement this?

[2021-01-31 14:10] Chaitanya31612 commented on #429
Cool,
Well, will have to figure out a way of implementation of this feature.

[2021-02-02 12:24] sanjay270899 commented on #400
@smaranjitghose @anushbhatia You can close this issue if you wish.

[2021-02-02 14:37] anushbhatia commented on #400
We

[2021-02-02 14:37] #400 closed

[2021-02-02 16:38] anushbhatia opened #431 "REACT: Sketch Page Enhancements✨"
![image](https://user-images.githubusercontent.com/40017559/106631354-b292bb00-65a2-11eb-8413-0a4ad692970b.png)
Currently, the home page is a really simple functionality in the sketch page
we can add multiple shapes
Different pen styles
custom images can be dropped on the text area.

[2021-02-02 16:39] anushbhatia opened #432 "REACT: Text Overflow Of Cards"
![image](https://user-images.githubusercontent.com/40017559/106631903-351b7a80-65a3-11eb-9764-ae618af0a214.png)
Adding top margin on this button so that the button has a decent distance between them.

[2021-02-02 16:41] anushbhatia opened #433 "REACT: Remove our names from contributors🎉"
In the clan of contributors don't mention our names in it i.e Anush and Smaranjit
![image](https://user-images.githubusercontent.com/40017559/106632309-9d6a5c00-65a3-11eb-8871-fe040698933c.png)

[2021-02-02 16:43] anushbhatia opened #434 "Resolve the card images present here✨"
![image](https://user-images.githubusercontent.com/40017559/106632439-c0950b80-65a3-11eb-9ea6-2bd496c6ebcd.png)
On hover function bug to be removed

[2021-02-02 17:03] sanjay270899 commented on #432
@anushbhatia I would Like to work on this.

[2021-02-02 17:09] sanjay270899 commented on #433
@anushbhatia Currently contributors name are coming by fetch through a API. Do you want to keep names static or fetching through API?

[2021-02-02 17:13] sanjay270899 commented on #433
Ok. I would Like to work on this.

[2021-02-02 17:24] sanjay270899 commented on #432
@anushbhatia Its fine or somewhat more down?

![image](https://user-images.githubusercontent.com/43892590/106638155-947c8900-65a9-11eb-9a2f-dfa99021a13c.png)

[2021-02-02 19:00] #432 closed

[2021-02-02 20:07] #433 closed

[2021-02-02 20:10] anushbhatia opened #438 "REACT: Unifrom Navbar across all sections"
![image](https://user-images.githubusercontent.com/40017559/106656501-c816dd80-65c0-11eb-93dd-53fc1bc4f34e.png)
![image](https://user-images.githubusercontent.com/40017559/106656514-cc42fb00-65c0-11eb-888a-839308235507.png)
Keep only 3 tabs as editor specified

[2021-02-02 20:11] anushbhatia opened #439 "REACT:Improve Navbar"
Adding a minimal Bootstrap or custom-designed navbar
![image](https://user-images.githubusercontent.com/40017559/106656716-11ffc380-65c1-11eb-8a0e-ac5a057d3c48.png)

[2021-02-02 20:14] anushbhatia opened #440 "REACT: Check it Out button"
Make it functional and also align it possible.
![image](https://user-images.githubusercontent.com/40017559/106656913-54c19b80-65c1-11eb-9b49-51d97defe449.png)

[2021-02-02 20:18] nehaparmar99 commented on #439
I'd like to work on it

[2021-02-02 20:24] sanjay270899 commented on #434
@anushbhatia @smaranjitghose I would Like to work on this.

[2021-02-02 20:35] sanjay270899 commented on #438
@anushbhatia But we have made other links in navbar so to direct scroll to that particular section, then why are we removing them now?

[2021-02-02 20:48] nehaparmar99 commented on #399
Is this still up for grabs?

[2021-02-03 13:27] raman-thakur commented on #440
i would like to work on this am I??

[2021-02-03 13:28] raman-thakur commented on #440
can i do this??

[2021-02-03 13:28] raman-thakur commented on #440
can i do this?? @anushbhatia

[2021-02-03 13:33] raman-thakur commented on #440
what this "check it out" button should do??

[2021-02-03 13:34] smaranjitghose commented on #440
Redirect to the Editor page

[2021-02-03 13:37] raman-thakur commented on #440
okk i will do that!!

[2021-02-03 13:41] #434 closed

[2021-02-03 13:44] smaranjitghose commented on #438
We thought about it and came to the conclusion that we want the project to be "To the point with minimum B.S." If someone wants to come to the Editor, we get them there, no need to throw a bloated Navbar

In terms of UX, also it seemed weird to have two different navbars

I hope you understand

[2021-02-03 13:45] smaranjitghose commented on #399
I guess you have already commented on #439 and assigned the same so I am closing this one @nehaparmar99

[2021-02-03 13:45] #399 closed

[2021-02-03 16:23] sanjay270899 commented on #438
@smaranjitghose @anushbhatia I have an idea. We can move those extra nav-links to other place. I have made a quick-links box. How is it?
![image](https://user-images.githubusercontent.com/43892590/106776625-41b6d600-666a-11eb-9d08-a107fb050fe1.png)

[2021-02-03 16:39] raman-thakur commented on #440
I have fixed the issues in my forked local repository what next I need to do?? @smaranjitghose

[2021-02-03 17:38] raman-thakur commented on #440
i have done this and requested a pull!! @smaranjitghose @anushbhatia

[2021-02-03 17:48] smaranjitghose opened #443 "REACT: Home Page Responsiveness (Mobile View)"
![responsive](https://user-images.githubusercontent.com/46641503/106787688-06ba9f80-6676-11eb-8040-e5fd3b05cb0d.jpg)

[2021-02-03 17:50] smaranjitghose commented on #438
That makes sense!
We can go ahead with this.

I had one query. Once we implement this, don't you think having the "toTop" button would be useless (or repetitive) and should be removed?

@anushbhatia @sanjay270899

[2021-02-03 17:51] smaranjitghose commented on #438
On the contrary, we can have the quick links box on the right and the "toTop" button towards the left

[2021-02-03 17:59] sanjay270899 commented on #438
@smaranjitghose I think, still `toTop` is usable, as through quick links we can go up till `about` section. What do you think?

[2021-02-03 18:21] ashuvssut commented on #443
please assign me sir

[2021-02-03 18:31] #438 closed

[2021-02-03 18:38] smaranjitghose commented on #443
Pull the recent changes too

[2021-02-03 18:44] ashuvssut commented on #443
okay sir

[2021-02-03 19:00] sanjay270899 commented on #406
@smaranjitghose You can close this issue if you wish.

[2021-02-03 19:32] #406 closed

[2021-02-03 19:35] #372 closed

[2021-02-03 19:37] anushbhatia opened #445 "REACT:Editor Bug🐛"
Change default x-axis to 10 instead of 5

[2021-02-03 19:49] nehaparmar99 commented on #439
Is this fine?

<img width="1440" alt="Screenshot 2021-02-04 at 1 17 27 AM" src="https://user-images.githubusercontent.com/48972593/106800778-e9da9800-6686-11eb-8ee3-3f06dc1d4bfd.png">

[2021-02-03 19:55] smaranjitghose commented on #439
Check the current changes ones please

[2021-02-03 19:57] nehaparmar99 commented on #439
oh okay, i'll remove the additional links.

[2021-02-03 20:17] ashuvssut commented on #445
please assign me this

[2021-02-03 20:44] nehaparmar99 commented on #439
<img width="1440" alt="Screenshot 2021-02-04 at 2 13 48 AM" src="https://user-images.githubusercontent.com/48972593/106807027-ab48db80-668e-11eb-884f-514e04397213.png">
 This is okay? Or should I try something else?

[2021-02-04 05:16] Deepak8717 commented on #431
Hi, Can i take this sir, although i'm first timer .

[2021-02-04 05:47] Chaitanya31612 commented on #402
@smaranjitghose please review my pull request #449

[2021-02-04 14:42] #443 closed

[2021-02-04 14:48] #402 closed

[2021-02-04 14:54] #445 closed

[2021-02-04 14:59] smaranjitghose commented on #439
Home, Editor, Sketch should be at the same side. UI/UX defacto standards😅

[2021-02-04 15:04] nehaparmar99 commented on #439
I'll shift home to the right then😅 Also the selected link changes it's color to red.Apart from this, any changes?Or should I make a pr?😅

[2021-02-04 15:08] smaranjitghose commented on #439
Make a PR, because at the end of the day I want your contribution to be a part of the project. If we keep on discussing in the issue, it will take ages for the perfect PR. Rather, on the PR itself, feedback can be given on an iterative basis ( and if required split into two PRs)

[2021-02-04 18:04] Chaitanya31612 commented on #404
@anushbhatia I'd like to work on this if it's available.

[2021-02-04 18:10] ashuvssut opened #452 "create a 404 page and also set its route"
I want to create a nice **interactive** 404 page for our doc2pen webapp

I once created [this](http://blessnbliss.org/404.html) page. I want use that interactive particles to create the 404 page.

[2021-02-04 18:57] ashuvssut opened #453 "routing issue, whenever we refresh the editor page (netlify app), it goes to 404"
I want to work on this issue

[2021-02-04 19:10] ashuvssut opened #454 "Rescale the numeric scale's values"
The x-axis scale on display is starting from 5 does not make sense w.r.t UX

It should ideally be starting from 0

![image](https://user-images.githubusercontent.com/60546840/106942863-83329a00-66d9-11eb-8b87-1feed6eedf4e.png)

I want to work on this issue

[2021-02-05 18:11] smaranjitghose commented on #452
@anushbhatia  please give your inputs w.r.t. to the UI you are planning for

[2021-02-05 18:12] ashuvssut commented on #452
ok sir

[2021-02-05 18:39] smaranjitghose commented on #404
The PNG one is already resolved.

The PDF one has a catch.

We have to set the dimensions of each page (to be specific the amount of text it can hold in a single image given all the other parameters), once that exceeds the remainder of the input text should be moved to a new page internally (image) and so one.

The PDF feature would implement this along with converting a batch of images into a PDF

[2021-02-07 18:11] #453 closed

[2021-02-07 18:13] #454 closed

[2021-02-07 21:37] sanjay270899 commented on #431
@smaranjitghose @anushbhatia Can I work on this?

I would Like to add the following two features:

1. Change Color
2. Change Width

[2021-02-08 05:58] anushbhatia commented on #452
looks good to me but it would be great if you could add a component of document and pen to it

[2021-02-08 06:02] sanjay270899 opened #458 "REACT: No. of Contributions"
I want to add number of contributions by a contributor in `Clan of Contributors`.

Original
![image](https://user-images.githubusercontent.com/43892590/107181461-e8033280-6a00-11eb-913a-46000914dad7.png)

Updated
![image](https://user-images.githubusercontent.com/43892590/107181555-18e36780-6a01-11eb-90a6-5d77df440a3b.png)

[2021-02-08 14:45] smaranjitghose commented on #458
Actually, I did think about this. On the plus side, we get to know which devs were more actively involved with the project but on the other side, quantizing contributions won't be a good idea for a long term. For example, if you gave a single commit (in a PR) and changed a lot of features while someone changed certain content over multiple PRs(2 I mean not beyond that) or a small bug fix, then the

[2021-02-08 14:48] #431 closed

[2021-02-08 15:01] sanjay270899 commented on #458
Yes, your point is valid.

[2021-02-08 15:09] #458 closed

[2021-02-08 17:01] Abhijay007 opened #461 "REACT: Add interactive feedback section in contact us form"
currently, when the user clicks on the emoji to send feedback then he/she not able to get what they have selected because they all look the same even after selection.

![before-contact form](https://user-images.githubusercontent.com/64387054/107252026-f8e09200-6a5a-11eb-8b68-80c1433dc8ac.gif)

I can make it interactive so that the user can see what he/she selected.

![after contact us](https://use

[2021-02-08 18:41] smaranjitghose opened #462 "SEO for the webapp"
# Directions:

Use [react-helmet](https://www.npmjs.com/package/react-helmet)

[2021-02-08 18:44] #322 closed

[2021-02-08 18:44] #315 closed

[2021-02-08 18:45] #332 closed

[2021-02-08 18:46] #404 closed

[2021-02-08 18:46] smaranjitghose opened #463 "Add Feature to Export Image as a PDF document"

[2021-02-08 18:48] sanjay270899 commented on #462
@smaranjitghose We have to add `title` and `meta` tag (description) for all components?

[2021-02-08 18:48] #440 closed

[2021-02-08 18:49] smaranjitghose opened #464 "Home Page Top Section Bug"
** Improve Mobile Responsiveness**

![mobile_repos](https://user-images.githubusercontent.com/46641503/107267069-68ab4880-6a6c-11eb-8d5c-1cb5cd5f474a.jpg)

[2021-02-08 18:50] smaranjitghose commented on #461
Assigned for 2 days

[2021-02-08 18:51] #439 closed

[2021-02-08 18:51] smaranjitghose opened #465 "Nav Bar Design Update"
Custom NavBar using tailwind CSS

[2021-02-08 18:56] #324 closed

[2021-02-08 19:10] sanjay270899 commented on #464
@smaranjitghose I would Like to work on this.

[2021-02-08 19:13] Amit366 commented on #465
@smaranjitghose can I work on this issue?

[2021-02-08 19:27] anushbhatia commented on #462
yep for all pages

[2021-02-08 21:47] ashuvssut opened #466 "Remove inherited undesired stylings by using css modules"
Please have a look on this [issue](https://github.com/HITK-TECH-Community/Community-Website/issues/344).

I have observed the same in thing in doc2pen codebase.

there are css files that need to be converted to module.css. currently some css styles are globally defined and therefore can affect other stylings. we must use css modules to prevent that.

please assign me this issue

[2021-02-09 05:00] anushbhatia commented on #466
And clean up the unnecessary files too.

[2021-02-09 12:06] sanjay270899 commented on #464
@anushbhatia @smaranjitghose Can I also make Header responsive?

[2021-02-09 15:42] #464 closed

[2021-02-09 15:43] smaranjitghose commented on #464
yup

[2021-02-10 08:22] jaimehta1912 commented on #462
can i work on this?

[2021-02-10 09:41] Amit366 commented on #465
@smaranjitghose sir how to run the website on my system?

[2021-02-10 12:33] ashuvssut opened #471 "misaligned navbar link to 'Sketch'"
![image](https://user-images.githubusercontent.com/60546840/107510608-1562f400-6b59-11eb-8dc6-bb09c9ab3192.png)

I want to work on this

[2021-02-10 18:14] #462 closed

[2021-02-10 19:00] ashuvssut commented on #471
I have participated in DWoC SWoC and MWoC

[2021-02-10 19:01] #471 closed

[2021-02-10 19:06] smaranjitghose commented on #465
😅.
@Amit366 this is a react project.
Please google how to do run and deploy react projects.

I expect you to have some idea about the codebase before claiming a PR.

[2021-02-10 19:10] smaranjitghose opened #474 "Sketch Page Enhancements"
# Tasks:

- Format and prettify(I don't imply the extension) the menu/tool bar further with dedicated buttons named "Pen Color", "Pen Width", "Export"
- Increase the canvas size slightly for larger screens
- Have a floating docker on the canvas or maybe options in the menu/tool bar for usual shapes like square, rectangle, circle, ellipse, triangle, diamond, arrow like [this](https://excalidraw.com

[2021-02-10 19:10] #323 closed

[2021-02-10 19:11] smaranjitghose commented on #429
Any updates @Chaitanya31612 ?

[2021-02-10 19:19] sanjay270899 commented on #474
@smaranjitghose I would Like to contribute on Point 3 i.e. shapes.

[2021-02-10 19:30] smaranjitghose opened #475 "A well crafted Contribution Guidelines"
__NOTE__: DO NOT TAKE THIS ASSUMING IT TO BE A BEGINNER ISSUE THAT CAN BE DONE IN A COUPLE OF MINUTES

# REQUIREMENTS.

1. **Section A**: File Structure of the project

- Explain neatly

2.  **Section C**: How to get the Project?

- Install git
- Setup GitHub Account
- Fork
- Clone
- Move inside the directory
- Set Upstream
- Pull all the branches from upstream

3. **Section B**: How to set up the

[2021-02-10 19:31] smaranjitghose commented on #466
@ashuvssut any updates brother?

[2021-02-10 19:36] sanjay270899 commented on #474
@smaranjitghose small request. I have participant in all three WOCs i.e. DWOC, SWOC and MWOC. So it is possible that my last 2 merged PR can have MWOC labels?

[2021-02-10 19:36] #461 closed

[2021-02-10 19:38] smaranjitghose commented on #474
@sanjay270899 I can surely add the labels brother!. Just check and let me know if those PRs fall within MWOC contribution period.

[2021-02-10 19:43] sanjay270899 commented on #474
Yes

[2021-02-10 19:47] smaranjitghose opened #476 "Improve Website Performance"
Inspect the performance issues with [GTMetrics](https://gtmetrix.com/reports/doc2pen.smaranjitghose.codes/vjzDo943/) platform and suggest ways ( I mean PRs ofcourse) to improve it

[2021-02-10 19:48] ashuvssut commented on #466
giving in 5mins

[2021-02-10 19:54] smaranjitghose commented on #474
Done. Check the leaderboard and let me know if there is any discprencies

[2021-02-10 19:58] #466 closed

[2021-02-10 20:02] smaranjitghose commented on #466
@ashuvssut @sanjay270899 @Abhijay007 .

Since Awesome Developer Portfolio is a part of the same open-source programs as Doc2Pen and we are planning to shift it to React (Eventually to Next) you are welcome to work on the transition issue for it and on parallel (not always but things like SEO, pre-loader, dark mode, etc) PRs for both projects if you wish

[2021-02-10 20:28] ashuvssut commented on #466
sir, if you are talking about https://github.com/smaranjitghose/awesome-portfolio-websites, then I am very excited for it! Looking forward for those new issues.😁😁

[2021-02-10 20:38] ashuvssut commented on #466
when is the new `branch` for react version getting pushed?

[2021-02-10 21:15] ashuvssut opened #478 "improve footer design"
currently the footer looks like this
![image](https://user-images.githubusercontent.com/60546840/107572825-9645de00-6ba1-11eb-8c54-760cc93dd1f7.png)

i want to make it somewhat like this
![image](https://user-images.githubusercontent.com/60546840/107573151-06546400-6ba2-11eb-8854-641c9e69dac6.png)

or better...

[2021-02-10 22:19] ashuvssut commented on #476
is this project using using apache web-server?

I want to add an efficient cache policy. https://gtmetrix.com/serve-static-assets-with-an-efficient-cache-policy.html

[2021-02-10 22:39] smaranjitghose commented on #466
Well, the transition would be:

- working on a branch `react`
- the base HTML,css one would be on master
- Once the react branch is stable, we will shift to master

[2021-02-10 22:40] smaranjitghose commented on #476
To the best of my knowledge, we are not using apache and directly hosting on Netlify's servers

[2021-02-10 22:53] ashuvssut commented on #476
so which one should I use?

in this, https://gtmetrix.com/serve-static-assets-with-an-efficient-cache-policy.html,  there is info given how to add an efficient cache policy in  apache, nginx, and Microsoft IIS webservers.

[2021-02-10 23:10] ashuvssut commented on #476
here, https://docs.netlify.com/routing/headers/#syntax-for-the-netlify-configuration-file, it says that we can make a `netlify.toml` specify each individual header rule to implement cache-control.

I have found the cache-control headers from this [stackoverflow answer](https://stackoverflow.com/questions/52308658/netlify-headers-cache-control-for-static-assets/#answer-52323443) for reference. Does

[2021-02-11 04:31] Chaitanya31612 commented on #429
Actually @smaranjitghose, I am a bit busy nowadays, you may assign it to someone else if you want.

[2021-02-11 05:49] anushbhatia commented on #476
Sure you can add the toml file in this soon

[2021-02-11 15:10] ashuvssut commented on #452
![image](https://user-images.githubusercontent.com/60546840/107655221-39493700-6c38-11eb-8285-f759ed193dff.png)

[2021-02-11 20:32] ashuvssut opened #483 "Hamburger button doesnt work"
![Doc2pen - Home](https://user-images.githubusercontent.com/60546840/107695019-e33eb880-6c64-11eb-829d-b2b65170363c.gif)

Hamburger onClick function is not present to expand navbar
I want to work on this issue

[2021-02-11 21:34] sanjay270899 commented on #483
@ashuvssut I have kept this intentionally, as someone is already updating nav-bar in Issue #465

(As the nav-bar was making the Top Home Section height more than 100vh in mobile screen so I just hide the nav-links and added a hamburger icon, keeping in the mind that the one who is updating and making new nav-bar will fix this)

[2021-02-11 22:24] ashuvssut commented on #483
hey @sanjay270899, the assigned contributor in that issue seems to be a newbie in React. He will take some time to resolve the issue. I think I can give a fix for this (consider it as temporary)

[2021-02-12 06:04] Amit366 commented on #465
https://user-images.githubusercontent.com/60662775/107735608-20b74a80-6d26-11eb-9709-484c0575181b.mp4

[2021-02-12 06:04] Amit366 commented on #465
@smaranjitghose sir is this fine?

[2021-02-12 19:33] sanjay270899 commented on #465
@smaranjitghose Just curious. Why we are using tailwind?

[2021-02-12 19:46] sanjay270899 commented on #474
@smaranjitghose I would Like to contribute on Point 4 i.e. Opacity, Fill, and Stroke.

[2021-02-13 10:14] anushbhatia commented on #465
Nothing specific as of now. We are thinking of moving complete website to next +talwindcss

[2021-02-13 12:01] smaranjitghose commented on #474
Sure go ahead!

[2021-02-13 12:28] smaranjitghose commented on #465
Ah..I expect some changes in the UI too , since the issue is about Custom Navbar

For now, just send the PR for this one so that we can verify that the tailwind transition is fine, later on, we can see to the UI improvment

[2021-02-13 15:06] shristi99 opened #491 "Add more functionality like symbols and math function"

[2021-02-13 15:08] shristi99 opened #492 "import file function is not working"

[2021-02-13 15:35] smaranjitghose commented on #492
Can you please provide a clip or a screenshot?

Or elaborate more on the error if possible

[2021-02-13 16:06] shristi99 commented on #492
I am telling that it's only able to import from a text file.
We can try to import it from any doc and pdf file and give the options to a user to download in .pdf, .doc, .img extensions too.

[2021-02-13 22:08] smaranjitghose commented on #492
Sure, you can go ahead with the implementation for doc or pdf files

[2021-02-13 22:09] smaranjitghose commented on #491
Adding math function would make it way more complicated for now. However, you can proceed with adding greek symbols like lambda, alpha, beta, gamma

[2021-02-14 01:11] #357 closed

[2021-02-14 01:14] #478 closed

[2021-02-14 01:14] #401 closed

[2021-02-14 01:20] #483 closed

[2021-02-14 08:20] VinayakChopra commented on #463
Hello, I would like to try to implement this using https://github.com/Hopding/pdf-lib.

[2021-02-14 09:29] ashuvssut commented on #492
I found some good packages from npmjs. I would like to give this a try. Please assign me this

[2021-02-14 19:00] smaranjitghose commented on #492
Sure give it a try

[2021-02-14 21:06] ashuvssut opened #495 "update opensource section"
add jwoc gssoc crosswoc mwoc in the opensource section

[2021-02-15 06:20] kanishkaa24 commented on #475
Hey! Can I work on this issue?

[2021-02-15 08:21] shristi99 commented on #475
I want to work on this issue

[2021-02-15 10:47] nishant23122000 opened #499 "home styling"
As per me,we have to change some styling in home page . please grant this issue so that i can work on that

[2021-02-15 17:23] smaranjitghose commented on #495
** Not only in the README but also in the website 😉

[2021-02-15 17:34] ashuvssut commented on #495
I was talking about website only😅

[2021-02-15 20:31] ashuvssut commented on #492
I was working on it and I found that the packages I was using wont copy the styles of the page. I will just convert text to pdf 😑. So, I tried to find packages which can copy text with its styles but found none😐

[2021-02-16 07:17] shristi99 commented on #492
sir could you suggest something as I am also not getting that output from that packages.

[2021-02-16 08:00] kmryashasvi opened #506 "Removing GIFs from readme file"
As we know that,
A readme file lets you know about the repo as well as attracting contributors to contribute in it.
But, readme file included in your repo is loosing grip in both of the roles, because of the GIFs mentioned in it,
They create an informal image of your repo, which is not good,
In order to maintain formality of your readme file,
Let me remove the gifs and insert some catching sentenc

[2021-02-16 09:35] smaranjitghose commented on #506
The entire purpose of gifs/memes in today's presentation is to catch attention. Unless there is any swearing or inappropriate stuff, going formal with project descriptions(other than documentation itself) is a fool's array for me. Ofcourse we can go with illustrations and clips but that is too much time consuming w.r.t README.

And please refrain from words like "image of the repo",  "loosing grip

[2021-02-16 09:35] #506 closed

[2021-02-16 09:41] smaranjitghose commented on #492
A workaround can be convert it to png/jpeg, take that and convert to pdf

[2021-02-16 14:13] smaranjitghose commented on #499
Can you be specific please?

[2021-02-16 14:47] #495 closed

[2021-02-16 15:42] Amit366 commented on #465
@smaranjitghose everything is fine now but only bug that is the logo and the nav items are not aligned in a line

[2021-02-16 15:42] Amit366 commented on #465
Can you help me out??

[2021-02-16 17:14] smaranjitghose opened #509 "Improve Contact Section"
[Reference](https://jacekjeznach.com/contact/)

### Suggestion
Use Leaflet.JS, OpenMap API ( There are some cool walkthroughs on youtube if you wish to refer)

[2021-02-16 20:16] smaranjitghose opened #510 "Create a Web_Optimization.MD at the root level of the repo"
**Only take this issue once you have an understanding of how were optimizing SEO, overall speed, etc**

- Give the heading
- Add an illustration/image(preferably from `Unsplash` but do give a CC)/giphy. Make sure it is suitable
- In bullet points, describe the optimizations performed. Add Code blocks wherever required
- Emaphasis on file image size and formats is also appreciated
- Cite your refer

[2021-02-16 20:17] smaranjitghose commented on #476
can be done in parallel with #510

[2021-02-16 20:27] smaranjitghose opened #511 "Improve 404 page UI"
### **Feel free to work as per your ideas. We do not have any specifications for this.**

- You can take inspirations from platforms like Dribble, Codepen, etc but **DO NOT COPY PASTE THE EXACT THING**
- Make sure the routing is not messed up
- Try out if the 404 functionality is working before giving the PR

The issue is self-explanatory given one has read the above points. Looking forward to you

[2021-02-16 20:28] smaranjitghose commented on #491
@shristi99 What's the update?

[2021-02-16 20:28] #491 closed

[2021-02-16 20:35] smaranjitghose opened #512 "Improve Pre-Loader Animation"
[Reference](https://www.youtube.com/watch?v=C0oBg_J2gbY&feature=youtu.be)

- **DO NOT COPY PASTE DIRECTLY FROM THE REFERENCE**
- Use the name of our project
- Use our logo ( Favicon)
- Try to animate the pen in our logo
- Change the color of the background of the current animation to white, logo (with the animation) to sea green, text to black.
[Reference for color scheme](https://dribbble.com/sho

[2021-02-16 20:39] #427 closed

[2021-02-16 20:39] smaranjitghose commented on #427
@Chaitanya31612 if you are still working on this do raise a new issue

[2021-02-16 20:40] #385 closed

[2021-02-16 20:46] smaranjitghose opened #513 "Add Pagination functionality so that we can download our text as a sequence of multiple images"
[Reference](https://github.com/gokhalehemal11/Text-to-custom-Handwriting-Converter)

DO NOT COPY PASTE DIRECTLY. Rather, understand the code and try to re-implement for our case.

[2021-02-16 20:48] smaranjitghose opened #514 "Download as PDF option"
[Reference](https://github.com/gokhalehemal11/Text-to-custom-Handwriting-Converter)

DO NOT COPY PASTE DIRECTLY. Rather, understand the code and try to re-implement for our case.

[2021-02-16 20:58] smaranjitghose opened #515 "Upload New Page Options"
## What we are looking forward to!

- 2 new ruled pages
- 2 new pages with margins
- 2 Diary pages

## Some specifications:

- **Our current ruled pages are too much zoomed in and need to be replaced**

- In case you are wondering what type of pages are possible, [check this](https://www.google.com/search?q=printable+notebook+pages&tbm=isch&bih=722&biw=1536&hl=en&sa=X&ved=2ahUKEwjaodu0pO_uAhVMcX0K

[2021-02-16 21:30] smaranjitghose opened #516 "Contribute custom fonts"
## Some Specifications:

- We would be using the free tier of Caligraphr for this.

- [Guide to use it](https://www.youtube.com/watch?v=DNfrcJldEVI)

- If you are not comfortable with Hindi(the language of the above video), either play the video on mute or search on Youtube with similar titles.  It won't be much of a challenge rather something really interesting especially for the ones with a crea

[2021-02-16 22:30] smaranjitghose opened #517 "Contributor Section UI Update"
# Specifications

- Remove the cards for @anushbhatia and me
- Try to have a swish effect like [this](https://www.hellomonday.com/about)
- Below the pictures, put the respective names
- Below the names put the Github and Linkedin icons
- Try your level best to have the images change on click (as in the reference above).
- The images (max of 3 for each card), text, link to social media should be lo

[2021-02-16 22:32] ashuvssut commented on #510
i want to work on this

[2021-02-16 22:33] ashuvssut commented on #509
I want to work on this

[2021-02-16 22:53] smaranjitghose opened #518 "Dynamic Favicon"
**Your creativity is the upper limit here**.
- However, do not change the favicon for every mouse click 🙏.
- 404 page can have a different favicon
- Dark mode and light modes can have different favicons

References:

- [GeeksforGeeks article](https://www.geeksforgeeks.org/how-to-change-favicon-dynamically/)
- [Medium Blog](https://medium.com/@alperen.talaslioglu/building-dynamic-favicon-with-javas

[2021-02-16 22:58] smaranjitghose opened #519 "Dynamic Page Titles"
[Reference](https://medium.com/@alperen.talaslioglu/changing-page-title-dynamically-when-user-changes-tab-5d372554377c)

The above reference is well detailed. Please go through it carefully if you wish to contribute to this.

[2021-02-17 05:26] nishant23122000 commented on #499
Check this design which i change,also I improve the responsive view of website

![Screenshot 2021-02-17 104936](https://user-images.githubusercontent.com/53515714/108160210-ac5a1e00-710e-11eb-9e71-fc23f851ff07.png)
![screenshot-localhost-3000-1613539450825](https://user-images.githubusercontent.com/53515714/108160214-ad8b4b00-710e-11eb-9e3f-5df8b870b4f4.png)

[2021-02-17 05:36] nishant23122000 opened #521 "Text File remove from textarea"
When we upload new TXT file then it's work fine but when we change font color,change sheet etc after file upload then the current file removed autometicly .
As per me this is bad UX.Becasue there might be case where user want to change some parameter after he upload file.

So we sould persist the file if user made any change in any parameter

[2021-02-17 05:57] Abhijay007 commented on #517
sir, I want to work on it

[2021-02-17 07:43] Harshal0902 commented on #518
@smaranjitghose can you please assign this issue to me?
I would like to work on this issue.

[2021-02-17 10:41] ashuvssut opened #523 "Add a GitHub action to auto-assign Mentors for every PR"
I have been learning about GH actions. I would like to add a GitHub action to auto-assign mentors for every PR.

It sometimes becomes hectic for the mentors to take a look at all the Projects for the PRs made by the Contributors. This action would give a nice notification about reviewing the PR  and make things pretty easy for the mentor. It would automatically ask for reviews by the mentors on ev

[2021-02-17 11:41] smriti1313 commented on #519
Hi, I am an DWoC participant who would like to contribute in this. Can you tell me the scenarios when should the title change?
Like:
1. When user switches the tab.
2. when multiple docpen tabs are open.

any other case?

[2021-02-17 11:55] anushbhatia commented on #519
Work on 1st on only.

[2021-02-17 12:00] anushbhatia commented on #517
Assigned for 4 days

[2021-02-17 13:21] ashuvssut commented on #511
I want to work on this

[2021-02-17 14:54] Harshal0902 commented on #518
@anushbhatia, Shall I add a common favicon to the website, or different favicon for different webpages?

[2021-02-17 19:26] smaranjitghose commented on #519
@smriti1313 Assigned for 2 days

[2021-02-18 06:18] asimaries commented on #521
I  would like to work on this

[2021-02-18 06:47] nishant23122000 commented on #521
I already did it.i'm just waiting for mentor response

[2021-02-18 16:35] #474 closed

[2021-02-18 16:37] #452 closed

[2021-02-18 16:44] #510 closed

[2021-02-18 16:44] smaranjitghose commented on #523
The current state of the project does not require this functionality

[2021-02-18 16:44] #523 closed

[2021-02-18 16:47] #463 closed

[2021-02-18 16:47] #358 closed

[2021-02-18 16:47] #188 closed

[2021-02-18 16:48] smaranjitghose commented on #511
Assigned for 3 days. The deadline can be extended if required.

[2021-02-18 16:49] smaranjitghose commented on #509
Assigned for 4 days

[2021-02-18 16:49] #492 closed

[2021-02-18 16:50] smaranjitghose commented on #465
Could you paste a snapshot of your code?

[2021-02-18 18:28] Bhavik-Ardeshna commented on #514
Hello @smaranjitghose  I want to work on this issue for GSSoC'21
Plz assign issue to me

[2021-02-18 18:35] Bhavik-Ardeshna commented on #515
I would like to work on this issue...

[2021-02-18 18:35] Bhavik-Ardeshna commented on #515
plz assign to me

[2021-02-18 18:36] Bhavik-Ardeshna opened #529 "Different page design option in editor"
If we able  to give different page design options such that user can change background page design as new feature

[2021-02-18 18:36] Bhavik-Ardeshna commented on #529
Plz assign to me

[2021-02-18 18:55] anushbhatia commented on #518
Common as of now

[2021-02-18 18:56] anushbhatia commented on #529
it is already there what else you want to add

[2021-02-19 07:48] sanjay270899 opened #531 "Sketch: Undo & Redo"
Option to undo and redo the changes in Sketch.

[2021-02-19 08:47] ashuvssut commented on #514
Hello @Bhavik-Ardeshna, I also asked sir if my current PRs will count towards GSSOC or not... but sir replied that GSSOC contributions will be counted only after GSSOC starts. So for solving issues, sir would not wait for March😅. So, if you want to contribute now -- its great!, else its completely fine to give your PRs when GSSOC starts.😄

Btw, bro, I have also participated in GSSOC😁

[2021-02-19 08:50] ashuvssut commented on #514
Hello @Bhavik-Ardeshna, I also asked sir if my current PRs will count towards GSSOC or not... but sir replied that GSSOC contributions will be counted only after GSSOC starts. So for solving issues, sir would not wait for March😅. So, if you want to contribute now -- its great!, else its completely fine to give your PRs when GSSOC starts.😄

Btw, bro, I have also participated in GSSOC😁

looking forw

[2021-02-19 10:03] ashuvssut commented on #492
PR: #532  will implement this feature

[2021-02-19 10:08] Bhavik-Ardeshna commented on #514
Sure , our main aim is learning....I would love to contribute in doc2open

[2021-02-19 12:37] Amit366 commented on #465
![Screenshot (93)](https://user-images.githubusercontent.com/60662775/108505340-39eb6880-72dd-11eb-815c-9ad88e868378.png)

[2021-02-19 14:06] ashuvssut commented on #519
If by any chance, Assignee fails to submit PR, I would like to work on this issue

[2021-02-19 14:20] smriti1313 commented on #519
Hi, sorry i could not do it in 2 days. Please give the other person the chance.
Thank you

[2021-02-19 15:03] ashuvssut commented on #519
@smaranjitghose , @anushbhatia , what do you want in attention message on the tab title?

[2021-02-20 10:24] sanjay270899 commented on #531
@smaranjitghose @anushbhatia I would Like to work on this.

[2021-02-20 12:28] Mukta-Sawant commented on #516
I would like to work on this issue, please assign it to me.

[2021-02-20 12:37] Mukta-Sawant commented on #516
@smaranjitghose Can I work on this issue? Please assign it to me.

[2021-02-20 13:29] shruthii625 opened #535 "Adding an erase feature in Sketch"
1. An eraser would provide a quick way to erase the mistakes rather than the user having to delete the entire drawing.
2. An eraser would let users erase small portions of the shapes and let them make more dynamic drawings. They wouldn't have to stick to just the basic shapes provided.

[2021-02-20 13:31] shruthii625 commented on #535
@smaranjitghose @anushbhatia
I'd like to work on this as GSSOC mentee.

[2021-02-20 15:41] ashuvssut opened #536 "When clicked on decrement button of any settings on editor page-- Error appears"
When clicked on decrement button of any settings on editor page-- Error appears

![image](https://user-images.githubusercontent.com/60546840/108600972-ef0a3900-734e-11eb-8458-b4be9889d52a.png)

Because of this issue the decrement button was not working in production build

[2021-02-20 18:29] #536 closed

[2021-02-20 20:28] ashuvssut commented on #531
@sanjay270899 Actually I wanted to implement a erase feature.

can you write your code such that:---
for example you have drawn 4 different lines and then You can remove the 2th line by just clicking on that line.

like when `isDrawing==true` , in `handleMouseMove()` function, you can add some lines of code that stores the coordinates of the point being drawn
You will be doing this for all lines.

[2021-02-20 20:56] smaranjitghose commented on #535
Assigned for 4 days

[2021-02-20 21:19] sanjay270899 commented on #531
I will look into it.

[2021-02-20 21:22] #529 closed

[2021-02-20 21:25] #475 closed

[2021-02-20 21:28] smaranjitghose commented on #519
Simple, if the user opens another tab then there should be a message saying "Come Back" in the title. Check the reference

[2021-02-20 21:29] ashuvssut commented on #519
please assign me this issue

[2021-02-20 21:29] #465 closed

[2021-02-20 21:30] smaranjitghose commented on #515
Please refrain from spamming. Once you have commented, the project maintainers will get back to you as per their free slots

[2021-02-20 21:32] #531 closed

[2021-02-21 04:26] Bhavik-Ardeshna commented on #515
![Screenshot from 2021-02-21 09-54-59](https://user-images.githubusercontent.com/58507059/108615502-ec7d1180-742a-11eb-8f79-89a9032d5692.png)

I need to add more page option with are mentioned above right???

[2021-02-21 06:50] shruthii625 commented on #535
I've added the eraser. Let me know if the eraser needs to be enhanced in any other way!

[2021-02-21 12:08] Amit366 commented on #465
@smaranjitghose why is this issue closed??

[2021-02-21 16:28] niteshsinha17 opened #543 "Type Error produced due to scroll to top button"
### Steps to produce

1. Go to home page.
2. Scroll down a little bit and make sure ``scroll to top`` button is visible on the page.
3. Change page by clicking on ``Editor``.
Now, you will be able to see this error on the page.
![WhatsApp Image 2021-02-21 at 9 51 17 PM](https://user-images.githubusercontent.com/42765292/108631332-7a8ae380-748f-11eb-81a9-c6f6b3fc7915.jpeg)

[2021-02-21 16:32] niteshsinha17 commented on #543
I have participated in GGSOC and I have found this Issue. Can you please assign this issue to me. I would like to solve this.

[2021-02-21 16:44] niteshsinha17 opened #544 "Add redux"
This is a suggestion to use redux to manage state as redux can handle state more efficiently.
We can add it now or we can add it in future. It will be great if we add it in ``package.json`` for now and we can open some small issues to manage state through redux for some particular components.

What do you think?

[2021-02-21 22:22] ashuvssut commented on #544
for state management we are using React Context Api

[2021-02-21 22:31] ashuvssut commented on #543
@smaranjitghose, I have fixed this today.

If assigned, I will submit PR today only😁😁

[2021-02-21 22:49] ashuvssut commented on #543
@smaranjitghose, I fixed this today.

If assigned, I will submit PR today only😁😁

[2021-02-21 22:54] ashuvssut commented on #511
I just need 1 day more to finish off

[2021-02-22 05:33] niteshsinha17 commented on #543
@ashuvssut Actually I had also solved this Issue when I opened this. I was waiting for someone to reply.

[2021-02-22 05:41] ashuvssut commented on #543
@niteshsinha17 nice! You can submit your PR now. Keep in mind to link this issue in ur PR!

BTW I have also participated for GSSoC

Looking forward for your contribution to doc2pen brother!

[2021-02-22 05:46] ashuvssut commented on #543
@niteshsinha17 Your GSSoC contribution will be counted only after GSSoC event starts.

For now just get comfortable with doc2pen codebase by resolving opened issues!

[2021-02-22 05:56] niteshsinha17 commented on #543
I have no program with the count. Contribution is more important for me whether it is today or tomorrow. Thanks

[2021-02-22 09:50] sanjay270899 opened #546 "Sketch: Dark Mode"
I would Like to add Dark Mode Functionality.

[2021-02-22 10:38] sanjay270899 opened #547 "Sketch: New Features"
I would Like to add these following features

- Fill Pattern Functionality
- Edge Line Join
- Add Text Option

[2021-02-23 19:27] smaranjitghose commented on #515
Yes

[2021-02-23 19:30] #509 closed

[2021-02-23 19:37] anushbhatia commented on #544
For what feature do we need redux. Which state management module will you enhance with it.

[2021-02-23 19:48] anushbhatia commented on #499
Golden colour looks good but it doesn't blend with blue really well if you could find a good combination of blue and golden then we can go ahead with this approach

[2021-02-23 19:57] #543 closed

[2021-02-23 20:14] anushbhatia commented on #465
The current navbar works fine as of now so we are not going ahead with tailwind one. align meant issue is there on Md branch for it.

[2021-02-24 18:03] sanjay270899 opened #556 "Sketch: Labels on Hover"
Adding Labels on Hover will help users to get to know about the feature.

![image](https://user-images.githubusercontent.com/43892590/109044668-ae1c7680-76f8-11eb-8098-0ff144cc1a0a.png)

[2021-02-24 22:43] smaranjitghose commented on #556
## Additional Suggestion:
Try to experiment with some colorful flaticons to replace the current ones. [Example](https://www.flaticon.com/search?search-type=icons&word=pencil)

[2021-02-25 14:07] #519 closed

[2021-02-25 14:10] #514 closed

[2021-02-25 15:08] #546 closed

[2021-02-25 16:36] sanjay270899 commented on #556
@smaranjitghose I have added Labels.

For icons, can you elaborate more?
(Do I have to add colorful icons?, If so, then maybe for dark mode, we have to use different color icons)

[2021-02-25 18:06] sanjay270899 commented on #556
@smaranjitghose I spend more than 1 hour. But didn't able to find perfect icons.

By chance if I get a nice icon, then finding similar icon for rest other shapes is very difficult.

[2021-02-26 06:14] shruthii625 opened #560 "Implement eraser using clearRect()"

[2021-02-26 06:18] shruthii625 commented on #560
@smaranjitghose @anushbhatia
as @sanjay270899 had mentioned, using clearRect() does seem like a better solution as the previous solution doesn't work for all canvas backgrounds. I'd like to implement the eraser using clearRect(). Can you assign it to me?

[2021-02-26 10:54] Aniket118 commented on #511
I would like to work on this issue @smaranjitghose

[2021-02-26 10:54] dollyjain51099 commented on #511
I would like to work on this issue, @smaranjitghose kindly assign it to me!

[2021-02-26 14:10] niteshsinha17 commented on #544
@anushbhatia
As I mentioned in the Issue that it's a suggestion. Also as the project will grow complexities will also increase so I think redux can handle those complexities very easily.  Apologies for the late reply.

[2021-02-27 21:33] smaranjitghose commented on #511
@dollyjain51099 @Aniket118 We are making this an open-to-all issue, feel free to give PRs based upon your own design intuitions

[2021-02-27 23:08] #547 closed

[2021-02-28 02:57] #511 closed

[2021-02-28 02:58] smaranjitghose commented on #544
We can go for this in a later stage of the project as we have plans to shift to next

[2021-02-28 02:58] #544 closed

[2021-02-28 03:16] smaranjitghose opened #563 "MWOC Score check"
@Abhijay007 @sanjay270899 @ashuvssut

Please calculate your total MWOC scores and let me know in this issue if it is not matching with the leaderboard (Recently they had changed the endpoint so certain PRs might have gone without counting)

[2021-02-28 04:07] Abhijay007 commented on #563
sir, I crossed check my points and find out that I got a point for [this](https://github.com/smaranjitghose/awesome-portfolio-websites/pull/600)  (added SVG animation to the sidebar of mobile view #600) PR  but I didn't get updated on the server. Is the scoreboard sync issue or it is happed because of changes endpoint? I made this PR last night about 8 hours ago.

[2021-02-28 04:08] smaranjitghose commented on #563
It's due to the change in endpoint I believe since your recent PRs were instantly updated

[2021-02-28 05:09] ashuvssut commented on #563
U have a total of 975 points by calculating the points of MWOC PRs https://github.com/pulls?q=is%3Amerged+is%3Apr+label%3AMWOC+author%3Aashuvssut+

But  it leaderboard shows that I have 825 points

[2021-02-28 05:14] Abhijay007 commented on #563
@ashuvssut can you please tell me how you calculated this I also want to cross-check mine.

[2021-02-28 05:15] ashuvssut commented on #563
https://github.com/pulls?q=is%3Amerged+is%3Apr+label%3AMWOC+author%3AAbhijay007+